.abonaments__dates__wrapper {
    margin-top: 155px;
}
.abonaments__dates__wrapper .container {
    background-color: #fff;
}
.abonaments__dates {
    padding-left: 15.5%;
    margin: 0 auto;
}
.abonaments__dates__layout {
    overflow: hidden;
    padding: 0 27px;
}
.abonaments__dates__layout .abonaments__dates__content {
    float: left;
    width: 66%;
}
.abonaments__dates__layout .abonaments__dates__side {
    width: 21.6%;
    float: right;
}
.abonaments__dates__layout .abonaments__dates__side h2 {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row {
    padding-left: 16px;
    border-left: 2px solid #000;
    margin-bottom: 21px;
    padding-right: 31px;
    position: relative;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__trash {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 26px;
    width: 26px;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__foot {
    margin-top: 44px;
    border-top: 1px solid #d9d9d9;
    padding-top: 50px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__foot .btn {
    margin-bottom: 31px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__foot .cart__item__foot__note {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__trash:hover {
    background-color: #e1e1e1;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__name {
    font-size: 18px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__date {
    font-size: 18px;
}
.abonaments__dates__slider {
    border: 1px solid #d5d5d5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 182px;
}
.abonaments__dates__slider .slick-list {
    height: 100%;
}
.abonaments__dates__slider .slick-track {
    height: 100%;
}
.abonaments__dates__row {
    margin-bottom: 36px;
}
.abonaments__dates__item {
    width:200px;
    height: 100% !important;
    border: 1px solid #d5d5d5;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    cursor: pointer;
}
.abonaments__dates__item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

.abonaments__dates__item input:checked ~ .abonaments__dates__item__content {
    border: 2px solid #000;
}
.abonaments__dates__item input:checked ~ .abonaments__dates__item__content .btn {
    background-color: #000 !important;
    color: #fff !important;
}
.abonaments__dates__item .btn {
    display: inline-block;
    cursor: pointer;
}
.abonaments__dates__item .date {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.abonaments__dates__item .day {
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-bottom: 12px;
}
.abonaments__dates__row h2 {
    font-size: 17px;
    color: #000 !important;
    font-weight: bold;
    margin-bottom: 15px;
}
.abonaments__dates__slider .slick-arrow {
    width: 24px;
    height: 36px;
    border: none;
    position: absolute;
    top: calc(50% - 18px);
    cursor: pointer;
    outline: none;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.abonaments__dates__slider .slick-arrow:hover {
    background-color: #ccc;
}
.abonaments__dates__slider .slick-arrow.slick-prev {
    z-index: 999;
    left: 0;
    background-image: url(../../../images-frogriot/arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.abonaments__dates__slider .slick-arrow.slick-next {
    z-index: 999;
    right: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../../../images-frogriot/arrow.png);
}

.abonaments__header__main {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    padding-top: 42px;
    margin-bottom: 35px;
    padding-left: 27px;
}
.abonaments__dates__content > h2 {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    padding-top: 42px;
    margin-bottom: 35px;
}
.abonaments__dates__header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.abonaments__dates__header__row > div {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.abonaments__dates__header__col--abonaments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.abonaments__dates__header__col--abonaments .txt {
    /*font-size: 17px;*/
    font-size: 19px;
    margin-right: 20px;
}

.abonaments__dates__header__col--abonaments .counter {
    
}
.abonaments__dates__header__col--details {
    padding-left: 20px;
}
.abonaments__dates__header__col--details .room__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.abonaments__dates__header__col--details .room__row .txt {
    font-size: 19px;
}

.abonaments__dates__header__col--details .area__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.abonaments__dates__header__col--details .area__row .txt {
    font-size: 19px;
    margin-right: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.abonaments__dates__header__col--details .area__row select {
    position: static;
    display: block;
    opacity: 1;
    width: 100%;
    height: 38px;
    padding-left: 6px;
    font-size: 19px;
}

.abonaments__content_room__header h2 {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    padding-top: 42px;
    margin-bottom: 55px;
}

.abonaments__switched__contents {
    position: relative;
}