.cart-hideprice {
    margin-bottom: 50px;
}

.fr-add{

    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    color:#000 !important;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
    //height: 40px;

    @include el('icon'){
        display: block;
        flex: 0 0 25px;
        width: 25px;
        height:25px;
        border:1px solid #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right:10px;

        &:before,
        &:after{
            content:'';
            display: block;
            background-color:#000;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translateY(-50%) translateX(-50%);
        }

        &:before{
            width:3px;
            height:12px;
        }

        &:after{
            width:12px;
            height:3px;
        }

    }

    @include el('form'){
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    @include el('input'){
        outline: 0;
        border: 1px solid #d9d9d9;
        height: 40px;
        padding: 5px 20px;
        font-size: 1.2em;
        display: block;
        margin: 30px auto;
        width: 100%;
    }

    @include el('btn'){
        font-weight: 700;
        font-size: 1.2em;
        padding: 5px 15px;
        outline: 0;
        border: 0;
        border-radius: 5px;
        min-width: 236px;
        height: 40px;

        @include mod('brown'){
            background-color:#cabc77;
        }

    }

    &:hover{
        text-decoration: none;
    }

    @include mod('border-margin'){
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #d9d9d9;
    }

}
