//============= FORMS =============
.form{

    @include el('list'){
        margin-bottom: 30px;
        list-style: none;
        padding:0;
        li{
            color: #000;
            font-size: 1.4em;
            line-height: 1.4;
            font-weight: 400;
            display: flex;
            &:before{
                content: '';
                width: 7px;
                height: 7px;
                flex: 0 0 7px;
                border-radius: 50%;
                background-color: #000;
                display: block;
                margin-right: 15px;
                margin-top:10px;
            }
        }
    }

    @include el('section'){
        border-bottom: 1px solid #d9d9d9;
        margin: 0 0 35px;
        padding-bottom: 40px;
        
        @include mod('last'){
            padding:0;
            margin:0;
            border:0;
        }

        @include mod('no-border'){
            border:0;
        }

        @include mod('no-margin-bottom'){
            margin-bottom: 0;
        }
        
        @include mod('no-padding-bottom'){
            padding-bottom: 0;
        }

    }

    @include el('section-header'){
        color:#000;
        font-size: 26px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: none;
        margin: 0 0 30px;
        display:flex;
        align-items: center;

        img{
            margin-right: 17px;
        }

        @include mod('tooltip'){
            margin-bottom:40px;
        }

        @include mod('center'){
            justify-content: center;
        }

        @include mod('discount'){
            margin-bottom:27px;
        }

    }

    @include el('row'){
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }

        @include mod('column'){
            flex-direction: column;
        }

    }

    @include el('col'){
        flex:1;
        margin-bottom: 0;
        margin-top:auto;

        @include mod('small'){
            flex: 0 0 33%;
        }

        @include mod('right'){
            margin-left: 40px;
        }

        @include mod('left'){
            margin-right: 40px;
        }

        @include mod('half'){
            flex: 0 0 50%;
        }

    }

    @include el('mb'){
        margin-bottom: 40px;
    }

    @include el('label'){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 14px;
        color:#000;
        font-size: 1.2em;

        @include mod('nmb'){
            margin-bottom: 0;
        }

        @include mod('small'){
            font-size: 1.2em;
            margin-bottom:6px;
        }

    }

    @include el('input'){
        display: block;
        border:4px solid #d5d5d5;
        background-color:  #ffffff;
        width: 100%;
        height: 63px;
        color:#000;
        font-size: 1.4em;
        padding: 10px 9px 10px;
        box-sizing: border-box;

        &.error{
            border-color:#ff0000;
        }

    }
    
    @include el('textarea'){
        display: block;
        border:4px solid #d5d5d5;
        background-color:  #ffffff;
        width: 100%;
        color:#000;
        font-size: 1.4em;
        padding: 10px 9px 10px;
        box-sizing: border-box;

        &.error{
            border-color:#ff0000;
        }

    }

    @include el('output'){
        font-size: 1em;
        color:#000;
        
        @media (min-width: 720px) {
            font-size: 1.4em;
        }

        @include mod('center'){
            text-align: center;
        }

        @include mod('discount'){
            margin-top:27px;
        }

        @include mod('house-work'){
            font-size:1.4em;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
        }

        @include mod('small'){
            font-size: 1.2em;
        }

    }

    @include el('select'){
        display: block;
        opacity: 1;
        position: static;
        border: 4px solid #d9d9d9;
        background-color: #ffffff;
        width: 100%;
        height: 63px;
        color: #000;
        font-size: 1.4em;
        padding: 10px 9px 10px;

        @include mod('small'){
            border: 2px solid #d9d9d9;
            width: 100%;
            max-width: 480px;
            height: 40px;
            font-size: 1.2em;
            padding: 0 10px;
        }

    }

    @include el('btns'){
        display: flex;
        align-items: center;
        flex-direction: column;
        
        @include mod('vertical'){
            .btn {
                text-align: center;
                margin: 0 0 20px !important;
                
                @include mod('white'){
                    border: 1px solid #000;
                }
            }
        }

        @include mod('tooltip'){

            margin:20px auto 40px;

            a{
                margin-bottom: 0;
            }

        }

    }

    @include el('btn'){
        
        cursor: pointer;
        border-radius: 4px;
        background-color: #cabc77;
        height: 63px;
        width: 100%;
        outline: 0;
        border: 0;
        color: #000;
        font-size: 1.4em;
        text-align: center;
        margin-top: 20px;
        white-space: nowrap;
        display:flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;

        flex: 0 0 100%;

        @include mod('white'){
            background-color:#fff;
            border:4px solid #000;
        }

        @include mod('grey'){
            background-color:#d9d9d9;
        }

        @include mod('half'){
            //flex: 0 0 50%;
            margin-right:60px;
            &:last-child{
                margin-right:0;
            }
        }
        @include mod('half-popup'){
            margin-right:40px;
            &:last-child{
                margin-right:0;
            }
        }

        @include mod('addto'){
            background-color: transparent;
            border: 1px solid #000;
            font-weight: 400;
        }

        @include mod('addto2'){
            background-color: transparent;
            border: 1px solid #000;
            font-weight: 400;
            font-size:1.2em;
        }

        @include mod('mb-0'){
            margin-bottom:0;
        }

    }

    @include el('error'){
        color:#ff0000;
        margin-top: 5px;
        font-size: 1.2em;
    }

    @include el('change'){
        cursor: pointer;
        color: #000 !important;
        font-size: 19px;
        font-weight: 400;
        text-decoration: underline;
        margin-left: 18px;
    }

    @include el('tooltip'){
        background:#fff; 
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1); 
        padding: 40px 15px;
        font-size: initial;
        line-height: initial;
    }

    @include mod('cart'){
        background-color: #fff;
        padding: 30px 0 100px;
    }

    @include el('hr'){
        display: block;
        background-color: #d9d9d9;
        width: 100%;
        height:1px;
        margin: 30px 0;
        padding:0;
        outline: 0;
        border:0;
    }

    @include el('link'){
        display: block;
        color: #000 !important;
        font-size: 1.4em;
        font-weight: 400;
        text-decoration: underline;
        margin-top: 7px;
    }

}

//============= DELIVERY =============

.delivery{

    display: flex;
    align-items: center;

    @include el('img'){
        margin-right: 15px;
        width:50px;
    }

    @include el('content'){

    }

    @include el('text'){

        font-size:1.2em;

        @include mod('second'){
            margin-top:30px;
        }
        
    }

}

//============= CHECKBOXES =============

.checkboxes{
    
}

.checkbox{
    margin-bottom: 47px;

    &:last-child{
        margin-bottom: 0;
    }

    @include el('header'){
        color:#000;
        font-size: 1.6em;
        text-transform: none;
        margin-top:8px;
        margin-bottom:12px;
    }

    @include el('inner'){
        display: block;
        cursor: pointer;
        user-select: none;
        position: relative;
        min-height: 30px;
        padding-left: 55px;
        > .checkbox__input:checked ~ .checkbox__checkmark {
            background-color: #fff;
            &:after{
                opacity: 1;
            }
        }

        @include mod('center'){
            display: flex;
            align-items: center;
        }

    }

    @include el('input'){
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }

    @include el('content'){
        color:#000;
        font-size: 1.4em;
        line-height: 1.4;
        font-weight: 400;
        position: relative;

        a{
            color:#000 !important;
            transition: all .3s ease-in-out;
            &:hover{
                color:#cabc77 !important;
                text-decoration: underline;
            }
        }

        @include mod('small'){
            font-size:1.2em;
        }

    }

    @include el('checkmark'){
        position: absolute;
        top: 6px;
        //transform: translateY(-50%);
        left: 0px;
        border:4px solid #d5d5d5;
        background-color:  #fff;
        width: 30px;
        height: 30px;
        transition: all .3s ease-in-out;

        &:after{
            content: "\f00c";
            position: absolute;
            top:50%;
            left:50%;
            transform: translateY(-50%) translateX(-50%);
            font-family: 'FontAwesome';
            color:#d9d9d9;
            font-size: 20px;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

    }

}

//============= RADIOBOXES =============

.radioboxes{

    @include mod('horizontal'){
        display:flex;

        .radiobox{
            margin-right:45px;
            &:last-child{
                margin-right:0;
            }
        }

    }

}

.radioboxes{
    margin-bottom: 40px;
}

.radiobox{
    
    cursor: pointer;
    user-select: none;
    position: relative;
    display: block;
    padding-left:60px;
    margin-bottom: 40px;

    &:last-child{
        margin-bottom: 0;
    }

    @include el('input'){
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }

    @include el('content'){
        font-size:1.6em;
        color:#000;
    }

    @include el('checkmark'){
        position: absolute;
        top: 1px;
        left: 1px;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
        border:2px solid #000;

        &:after{
            content: "";
            position: absolute;
            display: none;
            top:50%;
            left:50%;
            transform: translateY(-50%) translateX(-50%);
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background:#000;
        }

    }

    > .radiobox__input:checked ~ .radiobox__checkmark {
        background-color: #fff;
        &:after{
            display: block;
        }
    }

    @include mod('fake'){
        padding-left:0;
    }

}


//============= FORM TYP =============

.form-typ-btn-wrapper{
    text-align: center;
    margin: 40px auto 60px;
}

.form-typ-btn{
    font-size: 1.8em;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding: 30px 40px;
    cursor: pointer;
}

.form-typ-col{
    padding-bottom:40px;
}

.form-typ-col-left{
    padding-right:60px;
}

.form-typ-col-right{
    padding-left:60px;
}

.redirect-text-wrapper{
    width:100%;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.redirect-text{
    margin:20px auto;
}