.pagination-wrapper {
    display: flex;
    justify-content: center;

    .pagination {
        float: none;
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;
        padding-left: 0;

        li {
            margin: 0 5px 10px;

            a {
                display: block;
                padding: 0 10px;
                color: #000 !important;

                &:hover {
                    text-decoration: underline;
                }

                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}