/*popup*/


.fr-close{
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top:7px;
    right:7px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000000;
    width: 24px;
    height: 24px;

    @include mod('tooltip'){
        top:0;
        right:0;
    }

    &:after{
        content: "\f00d";
        font-family: 'FontAwesome';
        color:#fff;
        font-size: 16px;
    }

}

.fr-popup{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    @include el('content'){
        position: relative;
        background-color:  #ffffff;
        display: inline-block;
        padding: 30px 15px;
        max-width: 600px;
        width: 100%;
    }

    @include el('text'){
        color: #000 !important;
        font-size: 1.2em;
        line-height: 1.1;
        font-weight: 400;
        padding: 0;
        margin-bottom:45px;

        a{
            color: #000 !important;
            text-decoration: underline;
        }

        @include mod('nmb'){
            margin-bottom:0;
        }

    }

}