.breadcrumbs {
    padding: 45px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}
.breadcrumbs li,
.breadcrumbs li a {
    color: #000 !important;
}
.breadcrumbs li a {
    white-space: nowrap;
}
.breadcrumbs li {
    position: relative;
    padding-right: 13px;
    margin-bottom: 13px;
}
.breadcrumbs li:after {
    content: ">";
    padding-left: 7px;
}
.breadcrumbs li:last-child:after {
    display: none;
}