.counter .input_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.8em;
}
.counter .input_div button {
    width: 0.96em;
    height: 100%;
    padding: 0;
    border: 1px solid #d3d3d3;
    background: none;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.counter .input_div button span {
    display: block;
    height: 1px;
    width: 10px;
    background: #000;
}
.counter .input_div .count {
    outline: none;
    width: 2.4em;
    height: 100%;
    border: none;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}