.etiquete {
    font-size: 0.6em;
    color: #fff;
    text-transform: uppercase;
    padding: 0.8em 1em;
    display: inline-block;
    vertical-align: text-bottom;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.etiquete.etiquete--red {
    background-color: #db0008;
}
.etiquete.etiquete--black {
    background-color: #000;
}