.map__cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    
}
.map__cover img {
        position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 50px;
}
.places__map .map__map {
    margin: 0 auto;
    height: auto !important;
    width: 100%;
}
.places__map--150 .main__map__area__content {
    position: relative!important
    
}
.map__map__map--main .main__map.petla .whole__map__container {
    background: url(../../../images-frogriot/sale/sala_petla.png) 50% 0/100% no-repeat;
}
.main__map.petla .main__map__parter .map__map,
.main__map.petla .main__map__amfiteatr .map__map,
.main__map.petla .main__map__balkon1 .map__map {
    opacity: 0;
}
.map__map__map--main .main__map.niepelno .whole__map__container {
    background: url(../../../images-frogriot/sale/sala_niepelno.png) 50% 0/100% no-repeat;
}
.main__map.niepelno .main__map__parter .map__map,
.main__map.niepelno .main__map__amfiteatr .map__map {
    opacity: 0;
}
.map__cover.map__cover__hide {
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    visibility: hidden;
}
#places__map--main {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.map__main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    height: 0 !important;
}

.map__main__col {
    width: 50%;
    height: 0 !important;
    position: relative;
}
.map__main__col:first-child .seat-ctn {
    float: right;
}
.map__main__col:nth-child(2) .seat-ctn {
    float: left;
}
.map__main__col:last-child .seat-ctn {
    float: left;
}
/*.main__map__parter {
    z-index: 5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}*/
.main__map__map {
    display: table;
    margin: 0 auto;
    position: relative;
}
.fr-popup--choose_tickets--tickets .mobile__tickets__content__content {
    padding-bottom: 0;
}
.main__map__parter {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.mobile__tickets__content__content {
    position: relative;
}
.mobile__sector__map {
    width: 100%;
    overflow: auto;
}
.main__map__parter .places .seat-ctn {
    margin: 0 0.4% 3% 0;
}
.main__map__parter img {
    /*position: absolute;*/
    position: static;
    width: 100%;
    left: 0;
}
.main__map__area__content {
    position: relative!important;
}

.whole__map__wrapper {
    overflow: auto;
    height: 100%;
}
.whole__map .whole__map__wrapper {
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
.whole__map .whole__map__wrapper .whole__map__container {
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.main__map__balkon3 .places {
    padding-top: 46%;
}
.main__map__parter .places {
    height: 100%;
}
.main__map__amfiteatr {
    height: 100%;
    position: relative;
}
.main__map__amfiteatr {
    width: 65%;
    margin: 0 auto;
    margin-top: 18%;
}
.main__map__amfiteatr .places {
    padding-top: 21.2%;
}
.main__map__amfiteatr img {
    position: absolute;
    width: 65%;
    margin: 0 auto;
}
.main__map__balkon1 {
    width: 85%;
    margin: 0 auto;
    margin-top: -39%;
}
.main__map__balkon1 .places {
    padding-top: 51.5%;
}
.main__map__balkon1 img {
    position: absolute;
    width: 85%;
    margin: 0 auto;
}
.main__map__balkon2 {
    width: 94%;
    margin: 0 auto;
    margin-top: -37%;
}
.main__map__balkon2 .places {
    padding-top: 45%;
}
.main__map__balkon2 img {
    position: absolute;
    width: 94%;
    margin: 0 auto;
}
.main__map__balkon3 {
    width: 100%;
    margin: 0 auto;
    margin-top: -43.5%;
}
.main__map__balkon3 img {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    margin-top: 22%;
}
.seat-ctn {
    position: relative;
}
.main__map__balkon1,
.main__map__balkon2,
.main__map__balkon3 {
    position: relative;
}
.main__map__area {
    position: relative;
    z-index: 1;
}
.main__map__area img {
    opacity: 0;
}
.main__map__area__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.main__map__parter > .places {
    padding-top: 18.3%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.places__map--150 > .places {
    padding-top: 12%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 44%;
}
.map--mlynarskiego .places {
    padding-top: 12%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 44%;
}
.map--sale__redutowe .places {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.map--sale__redutowe .places__side--left {
    width: 29%;
    position: absolute;
    left: 0;
    top: 54.8%;
    height: 33%;
}
.map--sale__redutowe .places__side--right {
    width: 29%;
    position: absolute;
    right: 0;
    top: 54.8%;
    height: 33%;
}
.map--sale__redutowe .places__side .places {
    bottom: 0; 
}
.map--sale__redutowe .places__side.places__side--left .places {
    padding: 3% 1.8% 3% 3%;
}
.map--sale__redutowe .places__side.places__side--right {
    width: 25%;
}
.map--sale__redutowe .places__side.places__side--right .places {
    padding: 3% 3% 3% 1.8% ;
}
body .map--sale__redutowe .places__side .places__map__row {
    height: 8%;
    margin-bottom: 3%;
}
.map--sale__redutowe .places__side.places__side--right .places__map__row {
    margin-bottom: 3.8%;
    height: 7.5%;
}
.map--sale__redutowe .places__side.places__side--right .places__map__row .seat-ctn {
    margin: 2%;
}
.map--sale__redutowe .places__side .places__map__row .seat-ctn {
    width: 9.5%;
    height: 100%;
    margin: 1.5% 1.5%;
}
.map--sale__redutowe .places__top .places {
    width: 37%;
    padding-left: 0.5%;
    margin-left: 33.5%;
    padding-top: 4.5%;
    padding-top: 5%;
    
    bottom: 44%;
}
.map--sale__redutowe .places .places__map__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5%;
    margin-bottom: 2.2%;
}
.map--sale__redutowe .places__map__col {
    width: 43.5%;
    padding: 0;
    margin: 0 0.2%;
}
.map--sale__redutowe .places__map__col:last-child {
    margin-left: 10.5%;
}
.map--sale__redutowe .seat-ctn {
    width: 9.5%;
    height: 100%;
    margin: 2% 3%;
}
.place__popup__wrapper {
    
}
.place__popup {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 2% 2% 0;
    background: #fff;
    max-width: 560px;
    -webkit-animation: animateElement linear .3s;
    animation: animateElement linear .3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform:  translateX(-50%) translateY(-105%);
    transform:  translateX(-50%) translateY(-105%);
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
    
}
.place__popup:before {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    content: "";
    left: calc(50% - 15px);
    top: calc(100% - 20px);
    background: #fff;
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
    z-index: -99;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.place__popup .seat-view > .img-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.place__popup .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4%;
    font-weight: bold;
}
.place__popup .row1 .col-box:last-child {
    white-space: nowrap;
}
.place__popup .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 5%;
    background: #fff;
    padding-bottom: 8%;
}
.place__popup .row2 .img-box {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 5%;
    margin-right: 2%;
    padding-top: 1%;
}

@-webkit-keyframes animateElement{
  0% {
    opacity:0;
    -webkit-transform:  translateX(-50%) translateY(-110%);
    transform:  translateX(-50%) translateY(-110%);
  }
  100% {
    opacity:1;
    -webkit-transform: translateX(-50%) translateY(-105%);
    transform:  translateX(-50%) translateY(-105%);
  }
}

@keyframes animateElement{
  0% {
    opacity:0;
    -webkit-transform:  translateX(-50%) translateY(-110%);
    transform:  translateX(-50%) translateY(-110%);
  }
  100% {
    opacity:1;
    -webkit-transform: translateX(-50%) translateY(-105%);
    transform:  translateX(-50%) translateY(-105%);
  }
}

.mobile__sector__map .buttons {
    z-index: 9999;
}
.tickets.list .tickets__places__row .buttons {
    display: none;
}
.desktop .tickets__places__row .buttons {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.desktop .main__map__area__content {
    overflow: auto;
}

.map--main .whole__map__wrapper {
    padding: 0 9.8%;
}

.map--main .main__map {
    position: relative;
}


.map--150 .main__map__area__content {
    padding: 0 28%;
}


.map--150 .places {
    position: absolute;
    top: 9%;
    left: 0;
    right: 0;
}
.map--150 .map__map img {
    height: auto !important;
}
.map--150 .places__map__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-bottom: 2.8%;
    height: 4%;
}

.map--150 .places__map__row .places__map__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 23px;
}

.map--150 .places__map__row .places__map__col {
    width: 43.5%;
    padding: 0;
    margin: 0 1%;
}
.map--150 .places__map__row .places__map__col:last-child {
    margin-left: 10.5%;
}

.map--150 .places__map__row .places__map__col {
    width: 43.5%;
    padding: 0;
    margin: 0 1%;
}
.map--150 .seat-ctn {
    width: 10%;
    height: 100%;
    margin: 3%;
}

.map--mlynarskiego .places {
    padding-top: 19%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 44%;
    /* width: 39%; */
}

.map--mlynarskiego .main__map__area__content {
    padding: 0 14.4%;
}


.map--mlynarskiego .places__map__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-bottom: 3.05%;
    height: 8%;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.map--mlynarskiego .seat-ctn {
    width: 2.1%;
    height: 100%;
    margin: 0.4%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}


.map--sale__redutowe .main__map__area__content {
    padding: 0 5%;
}



.map--sale__redutowe .places .places__map__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5%;
    margin-bottom: 2.2%;
}

.map--sale__redutowe .places__map__col {
    width: 43.5%;
    padding: 0;
    margin: 0 0.2%;
}

.map--sale__redutowe .places__map__row .places__map__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*
.main__map__parter .map__main__row--1 .seat-ctn:first-child:after {
    content: "";
    position: absolute;
    display: block;
    width: 5765px;
    height: 565px;
    background: url(../../images-frogriot/seat-hover.jpg) 0 0 no-repeat;
    bottom: 0;
    right: 0;
    z-index: 111;
}*/