/*** toggle IOS ***/

.checkbox-switch-ctn .ios-toggle,
.checkbox-switch-ctn .ios-toggle:active{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
}
.checkbox-switch-ctn .checkbox-label { 
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    width: 3.2em;
    height: 1.7em;
    border-radius: 18px;
    background: #f8f8f8;
    cursor: pointer;
    margin-left: auto;
    border: 2px solid #d5d5d5;
}
.checkbox-switch-ctn .checkbox-label:before{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 0;
    text-indent: 40px;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    top: 0.25em;
    left: 0.3em;
    right: auto;
    background: #d5d5d5;
}

.checkbox-switch-ctn .ios-toggle:checked + .checkbox-label:before{
    left:calc(100% - 1.1em);
    background: #000;
}

.checkbox-switch-ctn input:checked + .checkbox-label {
    border: 2px solid #000;
}

/*** toggle IOS end ***/