.seat-ctn {
    display: block;
    width: /*1.75%;*/5px;
    height: /*0.75%;*/5px;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
    
.seat-ctn .state {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
}
    
.seat-ctn input:checked ~ .state {
    background-color: #00bff3;
}
    
.seat-ctn .seat {
    display: none;
}
        
.seat-ctn .seat:hover {
    background-color: #c1c1c1;
}
        
.seat-ctn .seat.reserved ~ .state {
    background-color: #363336;
    cursor: default;
}




















