.main__map__amfiteatr .map__main__row--12 {
    margin-top: 3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15%;
}
.main__map__amfiteatr .map__main__row--12 .map__main__col {
    width: 26.5%;
}

.main__map__amfiteatr .map__main__row--12 .map__main__col--center {
    width: 33%;
    margin-top: 4.1%;
    padding-bottom: 0.3%;
}
.main__map__amfiteatr .map__main__row--12 .map__main__col--left {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
}
.main__map__amfiteatr .map__main__row--12 .map__main__col--right {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}
