.main__map__amfiteatr .map__main__row--8 {
    margin-top: 3.6%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 12%;
}
.main__map__amfiteatr .map__main__row--8 .map__main__col {
    width: 14%;
    padding-bottom: 0.1%;
}

.main__map__amfiteatr .map__main__row--8 .map__main__col--left {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.main__map__amfiteatr .map__main__row--8 .map__main__col--right {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}


