.main__map__amfiteatr .map__main__row--1 {
    margin-top: -1.7%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10%;
}
.main__map__amfiteatr .map__main__row--1 .map__main__col {
    width: 8%;
    padding-bottom: 0.1%;
}

.main__map__amfiteatr .map__main__row--1 .map__main__col--left {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
}
.main__map__amfiteatr .map__main__row--1 .map__main__col--right {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
}
