.main__map__amfiteatr .map__main__row--16 {
    margin-top: 2.5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16.5%;
}
.main__map__amfiteatr .map__main__row--16 .map__main__col {
    width: 46.2%;
    padding-bottom: 0.6%;
}

.main__map__amfiteatr .map__main__row--16 .map__main__col--left {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
}
.main__map__amfiteatr .map__main__row--16 .map__main__col--right {
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg);
}

