.main__map__amfiteatr .map__main__row--5 {
    margin-top: 3.4%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10%;
}
.main__map__amfiteatr .map__main__row--5 .map__main__col {
    width: 10%;
    padding-bottom: 0.1%;
}

.main__map__amfiteatr .map__main__row--5 .map__main__col--left {
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
}
.main__map__amfiteatr .map__main__row--5 .map__main__col--right {
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
}

