.main__map__amfiteatr .map__main__row--10 {
    margin-top: 4%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16%;
}
.main__map__amfiteatr .map__main__row--10 .map__main__col {
    width: 26%;
    padding-bottom: 0.1%;
}

.main__map__amfiteatr .map__main__row--10 .map__main__col--left {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
}
.main__map__amfiteatr .map__main__row--10 .map__main__col--right {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}



