.main__map__amfiteatr .map__main__row--6 {
    margin-top: 3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 11%;
}
.main__map__amfiteatr .map__main__row--6 .map__main__col {
    width: 10%;
    padding-bottom: 0.1%;
}

.main__map__amfiteatr .map__main__row--6 .map__main__col--left {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
}
.main__map__amfiteatr .map__main__row--6 .map__main__col--right {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
}

