.main__map__amfiteatr .map__main__row--18 {
    margin-top: 3.3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 31.5%;
}
.main__map__amfiteatr .map__main__row--18 .map__main__col {
    width: 41.5%;
    padding-bottom: 0.6%;
}

.main__map__amfiteatr .map__main__row--18 .map__main__col--left {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
.main__map__amfiteatr .map__main__row--18 .map__main__col--right {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

