.main__map__amfiteatr .map__main__row--17 {
    margin-top: 3.3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 23%;
}
.main__map__amfiteatr .map__main__row--17 .map__main__col {
    width: 45%;
    padding-bottom: 0.6%;
}

.main__map__amfiteatr .map__main__row--17 .map__main__col--left {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
.main__map__amfiteatr .map__main__row--17 .map__main__col--right {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

