.main__map__amfiteatr .map__main__row--11 {
    margin-top: 2.5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 14%;
}
.main__map__amfiteatr .map__main__row--11 .map__main__col {
    width: 27.5%;
}

.main__map__amfiteatr .map__main__row--11 .map__main__col--center {
    width: 29%;
    margin-top: 4.4%;
    padding-bottom: 0.3%;
}
.main__map__amfiteatr .map__main__row--11 .map__main__col--left {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
}
.main__map__amfiteatr .map__main__row--11 .map__main__col--right {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}
