.main__map__amfiteatr .map__main__row--14 {
    margin-top: 5.3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 19.5%;
}
.main__map__amfiteatr .map__main__row--14 .map__main__col {
    width: 45.5%;
    padding-bottom: 0.5%;
}

.main__map__amfiteatr .map__main__row--14 .map__main__col--left {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
}
.main__map__amfiteatr .map__main__row--14 .map__main__col--right {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
