.main__map__amfiteatr .map__main__row--9 {
    margin-top: 3.8%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 13.5%;
}
.main__map__amfiteatr .map__main__row--9 .map__main__col {
    width: 19%;
    padding-bottom: 0.1%;
}

.main__map__amfiteatr .map__main__row--9 .map__main__col--left {
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
}
.main__map__amfiteatr .map__main__row--9 .map__main__col--right {
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
}


