.main__map__amfiteatr .map__main__row--7 {
    margin-top: 3.6%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 11.5%;
}
.main__map__amfiteatr .map__main__row--7 .map__main__col {
    width: 12%;
    padding-bottom: 0.1%;
}

.main__map__amfiteatr .map__main__row--7 .map__main__col--left {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.main__map__amfiteatr .map__main__row--7 .map__main__col--right {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

