.main__map__amfiteatr .map__main__row--19 {
    margin-top: 3.3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 38.5%;
}
.main__map__amfiteatr .map__main__row--19 .map__main__col {
    width: 35%;
    padding-bottom: 0.2%;
}

.main__map__amfiteatr .map__main__row--19 .map__main__col--left {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
.main__map__amfiteatr .map__main__row--19 .map__main__col--right {
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}


