.main__map__amfiteatr .map__main__row--13 {
    margin-top: 2.5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 14.5%;
}
.main__map__amfiteatr .map__main__row--13 .map__main__col {
    width: 25.5%;
}

.main__map__amfiteatr .map__main__row--13 .map__main__col--center {
    width: 35%;
    margin-top: 3.5%;
    padding-bottom: 0.5%;
}
.main__map__amfiteatr .map__main__row--13 .map__main__col--left {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
}
.main__map__amfiteatr .map__main__row--13 .map__main__col--right {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
}