@charset "UTF-8";body{min-width:1566px}.container{width:1566px;min-width:1566px}.row,.grid-list-slider{margin-right:-15px !important;margin-left:-15px !important}.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.row>li{float:left;padding-left:15px !important;padding-right:15px !important}.col-lg-1,.col-ul-lg-1>li{width:8.333333333333332%}.col-lg-2,.col-ul-lg-2>li{width:16.666666666666664%}.col-lg-3,.col-ul-lg-3>li{width:25%}.col-ul-sm-3>li.double{width:50%}.col-lg-4,.col-ul-lg-4>li{width:33.33333333333333%}.col-lg-5,.col-ul-lg-5>li{width:41.66666666666667%}.col-lg-6,.col-ul-lg-6>li{width:50%}.col-lg-7,.col-ul-lg-7>li{width:58.333333333333336%}.col-lg-8,.col-ul-lg-8>li{width:66.66666666666666%}.col-lg-9,.col-ul-lg-9>li{width:75%}.col-lg-10,.col-ul-lg-10>li{width:83.33333333333334%}.col-lg-11,.col-ul-lg-11>li{width:91.66666666666666%}.col-lg-12,.col-ul-lg-12>li{width:100%}body > section h1:first-child,
h2,
.month-full-list li time .day,
.date .day,
#slider h1, #slider h3,
#slider header
h2{font-size:90px;line-height:1}.list-news li .text .date
.day{font-size:72px}aside h2,
.grey-apla .news-item .date .day,
.grey-apla h3,
#hero-slider ul li .teaser h2,
body > section .text.news-lead-list
h2{font-size:40px;line-height:1}.text h2,
.subsection .list-asymetric li h3,
.event h3,
.recommend-list li h3,
.list-news li .text h3,
.list-jobs a h3,
.white-list.accordion-list .teaser h3,
.default-list .description h2,
.slider ul.multimedia-list li h2,
.slider ul.comment-list li h2,
body > section article .slider ul.news-slider li h2,
body > section .text .download-table h3,
body > section .text .download-list h3,
body > section .text h2,
body > section .text h1.h2,
body > section .grid-list li h2,
.popup h2,
.main .container > section .teaser h2,
body > section .flex-viewport .grid-list.slides li .teaser h3,
.white-list li h2,
.room-list .description h3,
.default-list .description h2,
body > section article section .slider ul.news-slider li h3,
li time
.fullmonth{font-size:36px;line-height:1}body > section h2.category,
body > section h1 + h2,
body > section h2 + h3,
.text h3,
.text p.lead,
body > section .text p.lead,
body > section .text.news-lead p,
body > section .text p.lead-uppercase,
body > section .text article blockquote p.cite,
.slider .time-slider li p strong,
.slider .next-slider li time strong,
.related-news li h3,
.subscriptions-list li .sold-out span,
.date .month,
.date .year,
body > header > ul > li ul li a.big,
.vcard li.org,
body > section article section > h3,
#sliderInfo
p{font-size:24px;line-height:1}p,
.pagination ul li,
.text-footer,
.nav-bar > form input#q,
.text h4,
.info .apla,
.category-list li,
.month-full-list li .event .category,
.month-full-list li .event .hall,
.month-full-list li .event h4,
.month-full-list li time .weekday,
.month-full-list li time .hour,
.list-news li .text .date .month,
.list-news li .text .date .year,
.simple-list,
.simple-list li small,
.thumb span,
.timeline-list ul li,
.grey-apla .news-item .date .month,
.grey-apla .news-item .date .year,
.grey-apla h4,
#hero-slider ul li .teaser p,
.slider ul.comment-list li h3,
aside .categories li a,
body > section .text ul li,
body > section .text .download-table td,
body > section .text .download-table th,
body > section .text ul,
body > section .text ol,
body > section .text ul.btn-list li .btn,
body > section .text .files-list li a,
body > section .text .pdf li a,
#event-time .total-time,
.slider .time-slider li,
.slider .time-slider li.parts-7 p.time,
.slider .next-slider li time,
.vcard.white-apla li small,
ol.alpha,
body > section .text h4,
body > section .text.news-lead-list .date,
.form  label,
article .related-news li h3,
body > section .grid-list li .teaser h3,
.btn,
.social-media li span,
.date .weekday,
body > section article section > .header .more,
body > section article section > header .more,
.form .search-field .on-input,
body > section .sponsors li.header h3,
.badge,
.vcard li,
.vcard li.adr span,
body > header > ul > li ul li a.normal,
.nav-bar > nav > ul > li ul li a,
.slider .time-slider li p.time,
.slider .next-slider li,
.form .value,
body > footer > ul:first-child > li,
body > footer ul li a,
body > footer > ul:first-child > li ul li,
body > footer address,
body > footer .direct-contact,
.selectLabel,
.selectOptions li,
#slider time small,
#slider p,
.default-list .description
h3{font-size:18px;line-height:1}body > section .tabs li a,
.slider .next-slider li time small,
.limit-rows label,
.form label.checkbox,
.form .checkbox .value,
.form .radio .value,
.btn,
.bottom-links li a,
body > header > ul > li,
body > header > ul > li > a,
body > header > ul > li ul li,
body > header > ul > li ul li a.small,
.profile-form li,
.form .msg, .form .error,
.calendar-nav h2,
.calendar-nav .month-btn,p.search-url{font-size:15px;line-height:1}.nav-bar > form,
.month-full-list li>*{font-size:12px}.btn{line-height:20px}body > section .text ul.column-list li,
body > section .text .files-list li,
#slider p,body>header>ul>li>a{line-height:24px}p,
.month-full-list li p,
.recommend-list li p,
.white-list p,
.simple-list li,
#hero-slider ul li .teaser p,
body > section article .slider ul.news-slider li p,
body > section .text ul li,
body > section .text .download-table td,
body > section .text .download-table th,
body > section .text ul.column-list li,
body > section .text p.lead,
body > section .text p.lead-uppercase,
body > section .text ul,
body > section .text ol,
body > section .text .pdf li,
body > section .text .pdf li a,
body > section .text article blockquote p.cite,
.vcard.white-apla li.adr span,
body > section .text.news-lead p,
#sliderInfo
p{line-height:30px}.profile-form > li > div > a,
.profile-form .username, .list-news li .text
h3{height:72px}.list-news li .text
p{height:150px}.nav-bar>nav>ul>li>a{border:4px
solid transparent}.nav-bar > nav > ul > li .submenu
a{font-size:20px;line-height:38px}.nav-bar > nav > ul li#menu-2
a{margin-right:20px}.nav-bar > nav > ul li#menu-3{margin-right:216px}.nav-bar > nav > ul li#menu-4
a{margin-right:11px}.calendar-nav h2,
.calendar-nav .month-btn{font-size:15px}.month-list
li.selected{border-top:4px solid transparent;border-bottom:4px solid transparent}.month-list
li.selected.first{border-left:4px solid transparent}.month-list
li.selected.last{border-right:4px solid transparent}.month-list li:first-child a
time{border-left:2px solid transparent}.category-list
li.selected{border:4px
solid transparent}#slider time
small{line-height:24px !important}.subscriptions-list .details-overlay .price
strong{font-size:36px}body > section .text .avi li a, body > section .text .files-list li.avi a,
body > section .text .doc li a, body > section .text .files-list li.doc a,
body > section .text .docx li a, body > section .text .files-list li.docx a,
body > section .text .gif li a, body > section .text .files-list li.gif a,
body > section .text .jpg li a, body > section .text .files-list li.jpg a,
body > section .text .mov li a, body > section .text .files-list li.mov a,
body > section .text .mp3 li a, body > section .text .files-list li.mp3 a,
body > section .text .odt li a, body > section .text .files-list li.odt a,
body > section .text .pdf li a, body > section .text .files-list li.pdf a,
body > section .text .png li a, body > section .text .files-list li.png a,
body > section .text .rar li a, body > section .text .files-list li.rar a,
body > section .text .txt li a, body > section .text .files-list li.txt a,
body > section .text .xls li a, body > section .text .files-list li.xls a,
body > section .text .xlsx li a, body > section .text .files-list li.xlsx a,
body > section .text .zip li a, body > section .text .files-list li.zip
a{background-repeat:no-repeat;background-position:0 2px}.month-full-list li .price
.btn{min-width:138px}
img.pull-right,p.pull-right{margin-bottom:30px !important;margin-left:60px !important}img.pull-left,p.pull-left{margin-right:60px !important}.btn{padding:12px
30px}input.btn{padding:13px
30px}.badge{top:-6px;padding:4px
8px}.progress{bottom:55px;width:276px;height:3px;margin-left:-138px}.progress
span{height:3px}.see{width:49px;height:46px;margin-left:-25px}.see.more{background-position:-196px -113px}.see.less{background-position:-245px -113px}.thumb:after{top:-8px;right:-8px;bottom:-8px;left:-8px;border:4px
solid transparent}.vcard+.vcard{margin-top:20px}.vcard
li.org{margin-bottom:40px}.vcard li.adr span.post-office-box{margin-bottom:40px}.vcard li.pull-left{margin-right:40px}.vcard li.fn + li.tel,
.vcard li.fn + li.internet,
.vcard li.fn + li.adr,
.vcard li.position + li.tel,
.vcard li.position + li.internet,
.vcard li.position+li.adr{padding-top:20px !important}.scroll-top{width:61px;height:61px;margin-top:-20px;margin-right:-14px;margin-bottom:50px;background-position:-244px -330px}body > section article .bottom-links{top:40px}.bottom-links
li{margin-right:30px}.bottom-links li a:before{top:3px;height:18px;margin-right:12px}.bottom-links li a.print:before{width:26px;background-position:0 -416px}.bottom-links li a.share:before{width:18px;background-position:-26px -416px}.date{width:160px}body>header{height:212px;background-position:50% 100%}body>header>ul{margin-bottom:108px}body > header > ul > li > a, .profile-form a, .profile-form
.username{padding:0
15px}body>header>ul:first-child>li.wcag>a{width:35px;height:34px;background-position:-35px 0}body > header > ul > li ul li
a.contrast{width:24px;height:25px;background-position:0 -390px}body > header > ul > li ul li
a.contrast.c2{background-position:-27px -390px}body > header > ul > li ul li
a.contrast.c3{background-position:-54px -390px}body > header > ul > li ul li
a.contrast.c4{background-position:-82px -390px}.profile-form{margin-right:-783px}.nav-bar{max-width:1050px}.nav-bar>nav{max-width:1009px}.nav-bar>nav>ul>li:hover,.nav-bar>nav>ul>li:focus{height:58px}.nav-bar>nav>ul>li:first-child>a{margin:0
9px 0 0}.nav-bar>nav>ul>li.selected:first-child>a{background-position:-445px -69px}.nav-bar>nav>ul>li:first-child>a{width:32px;height:30px;background-position:0 -34px}.nav-bar > nav > ul > li
.apla{height:345px;padding:60px
0;-webkit-transform:translateY(-345px);-moz-transform:translateY(-345px);-ms-transform:translateY(-345px);-o-transform:translateY(-345px);transform:translateY(-345px)}.tablet .nav-bar > nav > ul > li
.apla{height:432px}.csstransforms3d .nav-bar > nav > ul > li
.apla{-webkit-transform:translate3d(0,-345px,0);-moz-transform:translate3d(0,-345px,0);-ms-transform:translate3d(0,-345px,0);-o-transform:translate3d(0,-345px,0);transform:translate3d(0,-345px,0)}.tablet .nav-bar > nav > ul > li
.apla{-webkit-transform:translate3d(0,-440px,0);-moz-transform:translate3d(0,-440px,0);-ms-transform:translate3d(0,-440px,0);-o-transform:translate3d(0,-440px,0);transform:translate3d(0,-440px,0)}.nav-bar > nav > ul > li .apla
.submenu{max-width:1106px}.no-js .nav-bar > nav > ul > li:hover .mask, .nav-bar > nav > ul > li.hover-in .mask, .nav-bar > nav > ul > li.hover-out
.mask{height:345px}.tablet .no-js .nav-bar > nav > ul > li:hover .mask, .tablet .nav-bar > nav > ul > li.hover-in .mask, .tablet .nav-bar > nav > ul > li.hover-out
.mask{height:432px}.nav-bar > nav > ul > li ul.submenu-2{margin-left:120px}.nav-bar > nav > ul > li
ul{margin:-12px 0 0 20px}.nav-bar > nav > ul > li ul.recommend
li{margin-left:35px}.nav-bar > nav > ul > li ul.recommend li
img{max-height:225px}.nav-bar > nav > ul > li ul
li{margin-bottom:5px}.nav-bar>form{width:355px;height:51px;margin-right:-315px}.nav-bar > form
fieldset{width:49px;height:51px}.info.slide-down{-webkit-transform:translateY(345px);-moz-transform:translateY(345px);-ms-transform:translateY(345px);-o-transform:translateY(345px);transform:translateY(345px)}.csstransforms3d .info.slide-down{-webkit-transform:translate3d(0,345px,0);-moz-transform:translate3d(0,345px,0);-ms-transform:translate3d(0,345px,0);-o-transform:translate3d(0,345px,0);transform:translate3d(0,345px,0)}.no-csstransforms .info.slide-down
.apla{top:345px}.nav-bar > form fieldset:before{width:355px;height:51px;-webkit-transform:translateX(-355px);-moz-transform:translateX(-355px);-ms-transform:translateX(-355px);transform:translateX(-355px)}.csstransforms3d .nav-bar > form fieldset:before{-webkit-transform:translate3d(-355px, 0, 0);-moz-transform:translate3d(-355px, 0, 0);-ms-transform:translate3d(-355px, 0, 0);transform:translate3d(-355px, 0, 0)}.no-csstransforms .nav-bar > form fieldset:before{position:relative;left:-355px}.nav-bar > form
input#q{width:70%;margin:12px
0 0 10px}.nav-bar > form input[type=submit]{width:49px;height:49px;background-position:-343px -64px}.no-js .nav-bar > form:hover fieldset, .nav-bar > form:focus fieldset, .nav-bar > form.focus
fieldset{width:355px}.no-js .nav-bar > form:hover input[type=submit], .nav-bar > form:focus input[type=submit], .nav-bar > form input[type=submit]:hover, .nav-bar > form.focus input[type=submit]{background-position:-392px -64px}.nav-bar .search-form{height:51px}.search-autocomplete
ul{padding:10px}.search-autocomplete
a{display:block;padding:12px
10px;margin:0
-10px}.main{min-height:288px}.main .container > section,
.main .container > section, .row div > section,
body > section article>section{margin:0
0 90px 0}.main .container > section.short-margin,
.main .container > section.short-margin, .row div > section.short-margin,
body > section article>section.short-margin{margin:0
0 90px 0}.main .container>section>h2{margin-top:-14px}body > section .grid-list li .teaser
h3{padding:10px
0 0 0}.main .container>h1{margin:0
0 46px 0;padding:0
130px;background-position:0 60px}.main .container>h1+p{margin:-40px 0 40px 0}.main>.full-width{margin-bottom:90px}.main>.original-size{margin-bottom:180px}.main>.full-width>img,.main>.full-width>a{max-width:1920px}.main > .full-width
.container{bottom:90px;min-height:297px}.main > .full-width .container
.text{min-height:297px}.lt-ie9 .main > .full-width .container
.text{min-height:235px}.info{top:212px}.info.arrow-top .apla .container:before{top:-16px;right:9px;width:32px;height:30px;background-position:-160px -34px}.info .apla
p{max-width:900px;padding:25px
30px}.info .action,
.info-img .info-img-close{right:10px;width:32px;height:30px;margin-top:-15px}.info .info-open{background-position:-96px -34px}.info .info-close,.info-img-close{background-position:-128px -34px}.info.static.open{height:80px;padding-top:20px}.info.static
.action{margin:0
0 -16px 0}.info.static.arrow-top
.action{margin-bottom:-24px}.next-prev-links
li{top:312px}.subsection{padding-bottom:180px}.subsection-recommend
h2{margin-top:120px}.subsection
h2{margin-bottom:60px;padding:0
80px;background-position:0 76px}.subsection .list-asymetric li
h3{padding:60px
30px 20px 60px}.subsection .list-asymetric li
p{padding:0
60px}.subsection
.slide{height:456px}.subsection .slide .slide-nav{width:49px;height:49px;margin-top:-25px;background-position:-98px -64px}.subsection .slide #slide-nav-prev{margin-left:-571px}.subsection .slide #slide-nav-next{margin-left:522px;background-position:-147px -64px}.subsection .list-news{margin:0
0 0 -551px}.subsection .list-news
li{height:430px;width:783px;margin:0
160px}body > section .container .btn-more-list{padding-top:40px}body > section .container article:before{top:-5px;width:371px;height:510px;margin-right:-170px}body > section h1:first-child{margin:0
0 60px 0}body > section h2.category,
body > section h1 + h2,
body > section h2+h3{margin-top:-30px;margin-bottom:60px}.seasonFilter{margin-top:-100px}.month-list{margin-top:-70px;padding:30px
0}.month-list
li.first{border-left:4px solid transparent}.month-list
li.last{border-right:4px solid transparent}.month-list
li{border-top:4px solid transparent;border-bottom:4px solid transparent}.month-list li.selected.first .drag-left{left:-19px;background-position:-171px -159px}.month-list li.selected.last .drag-right{right:-19px;background-position:-156px -159px}.month-list li.selected.last a
time{border-right:4px solid transparent}.month-list li
a{top:-34px}.category-list{padding-bottom:60px}.category-list
li{border:4px
solid transparent}.category-list li
a{padding:15px
20px}.month-full-list li .event
.hour{margin-right:15px}.month-full-list li .event
.category{margin:0
15px}.month-full-list li .event
.hall{margin-left:15px}.month-full-list li .event
h3{padding-bottom:10px;margin-right:14px}.month-full-list li .event
h4{padding:54px
0 0 0}.month-full-list li .price
p{padding:0
0 10px 0}.month-full-list li .price
.btn{margin-bottom:20px}.month-full-list li ul
li{padding:50px
0 0 0}.month-full-list li ul li+li{margin-top:50px}.month-full-list li ul li:first-child
.price{top:0}.month-full-list li ul li
.price{top:50px}.desktop .month-full-list li ul > li:hover > .event
p.teaser{height:200px;padding:20px
0 0 0}.desktop .month-full-list li ul>li:hover>.event-img{width:164px}.tablet .month-full-list li ul > li > .event
p.teaser{height:200px;padding:20px
0 0 0}.tablet .month-full-list li ul>li>.event-img{width:164px}.recommend-list
li{margin:0
0 37px 0}aside .recommend-list
li{margin:0
0 80px 0}.recommend-list li h3:first-child{margin-bottom:23px}.recommend-list li
.thumb{margin-bottom:30px}.content-view.news-detail{margin-top:-270px}.content-view.news-detail .news-lead{margin-bottom:120px}body > section .white-list.cal-list.partners-list
.text{padding-top:53px;padding-bottom:53px}.list-news li .text
.date{position:relative;left:-20px;width:120px}.list-news li .text
h3{margin:5px
0 20px 140px}.list-news li .text
p{margin-left:140px;margin-bottom:30px;padding:0
0 20px 0}.list-news li .text
a.btn{margin-left:140px}.list-jobs a
h3{height:76px;margin:0
0 20px 0}.list-jobs a
p{padding:0
0 10px 0}.text-footer{margin-top:-30px;padding:50px
60px}.job-duties,.job-requirements{margin-left:-20px}.job-duties li, .job-requirements
li{padding-bottom:45px}.contest{padding-left:62px !important}.contest
li{margin-top:38px}body > section .download-column li
img{margin:0
23px 0 0}p{padding:0
0 20px 0}h2{margin:-12px 0 48px 0;background-position:0 55px}body > section .text.news-lead
.description{padding-left:40px;height:190px}aside>h2{margin:130px
0 60px 0}.pipe-left{padding-left:30px}.white-list{margin-top:-30px !important}.white-list
p{margin:0
0 30px 0}.white-list>li{margin-top:30px;padding:60px}.white-list li h2:first-child{margin-top:0}.white-list li
h2{margin:53px
0 20px 0}.white-list li
h5{margin-top:0}.white-list
p{margin:0
0 30px 0}.white-list.accordion-list .teaser
p{padding-bottom:60px}.white-list.accordion-list .teaser
.btn{right:25px}.white-list .overflow-hidden .text
article{margin-bottom:20px}.white-list .no-results
p{padding:50px
0 50px 0}.month-full-list{margin-top:-30px}.month-full-list
li{margin-top:30px;padding:50px
30px 50px 0}.month-full-list>li:before{top:50px;bottom:50px;width:1px}.month-full-list li .event-img{height:144px}.month-full-list li
.event{padding-left:35px}.show-list
.thumb{padding:60px}.show-list .thumb
span{top:90px;right:60px}.show-list
.description{padding:60px
60px 60px 0}.show-list .description .action-btn
.btn{min-width:120px;margin-bottom:20px}.room-list
.description{max-height:369px;padding:60px}.room-list .description
h3{margin:0
0 30px 0}.thumb
span{top:30px;padding:6px
20px}.default-list
.description{padding:60px}.default-list .description .align-bottom{right:60px;bottom:60px;left:60px}.default-list .description
hgroup{margin-bottom:30px}.default-list .description
h2{margin-bottom:10px}.default-list .description h2+h3{margin:-10px 0 30px 0}.press-list
.description{height:auto}.press-list .description
p{margin-right:145px}.cal-list li, .grid-list
li{padding:50px
0 50px 0}.cal-list li .description, .grid-list li
.description{padding-left:40px}.cal-list li .description .btn,
.news-lead .description .btn,
.press-list .description
.btn{right:60px;margin-top:-15px}.long-list div
.text{margin:0
0 60px 0 !important}aside .grey-apla{margin-bottom:60px;padding:40px}.grey-apla .news-item
.date{width:100px;margin-right:25px;margin-left:-25px}.grey-apla .news-item
p{margin-left:100px}.grey-apla
h3{padding:0
0 20px 0}.grey-apla
h4{margin:20px
0 0 0}.slider ul.multimedia-list li
.thumb{margin-bottom:30px}.thumb:before,.media-icon{width:120px;height:120px;margin-top:-60px;margin-left:-60px}.sound .thumb:before{background-position:0 -208px !important}.movie .thumb:before, .yt .thumb:before{background-position:-120px -208px !important}.photo .thumb:before{background-position:-600px -208px !important}.media-icon{background-position:-120px -208px !important}ul.grid-list{margin-bottom:60px}ul.grid-list
li{margin:0
0 40px 0}ul.grid-list li
.thumb{margin-bottom:30px}.slider ul.multimedia-list li
h2{padding:0
0 25px 0}.slider ul.comment-list li
.thumb{margin-bottom:30px}.slider li .teaser
p{padding:20px
0 0}aside
h2{margin:-6px 0 0 0;padding:0
0 29px 0}aside
.categories{padding:15px
0}aside .categories li
ul{padding-bottom:20px;padding-left:25px}aside .categories li ul li
a{padding:8px
0}aside .categories li
a{padding:12px
0}aside .categories li.selected a:before{width:12px;height:12px;margin-right:8px;margin-left:-20px;background-position:0 -484px}article{padding-left:14px}body > section
article{padding-bottom:20px}body > section article h1:first-child{margin:0
0 90px 0;padding:0
0 48px 0}body > section article
.info.static{margin-bottom:20px}body > section article
.slider{margin:0
0 30px 0}body > section article #news-slider{height:720px}body > section article .slider ul.news-slider
li{height:720px}body > section article .slider ul.news-slider li
.teaser{height:348px;padding:30px}body > section article .slider ul.news-slider li
h2{margin:0
0 30px 0}body > section article .slider ul.news-slider
.mCSB_scrollTools{margin-right:8px}body > section article section:last-child{margin-bottom:160px}body > section article section > .header,
body > section article section>header{margin:0
0 30px -40px;padding:0
0 0 40px}body > section article section
hr{margin:-60px 0 60px 0}body > section article section .change-view{margin-top:30px;margin-bottom:30px}body > section article section .change-view .view-list-type{width:49px;height:46px;background-position:-98px -113px}body > section article section .change-view .view-list-type.list{background-position:-147px -113px}body > section article section
.slider{margin-bottom:100px}body > section article section .slider ul.people-slider{height:402px}body > section article section .slider ul.people-slider ul>li{width:50%;height:102px;margin-bottom:-8px}body > section article .section-cast .slider ul.people-slider{height:auto}body > section article .section-cast .slider ul.people-slider ul>li{width:100%;clear:both}body > section article section .slider ul.people-slider li a,
body > section article section .slider ul.people-slider li > span,
body > section article section .slider ul.people-slider li>div{padding:4px;border:4px
solid transparent}body > section article section .slider ul.people-slider li
img{margin-right:20px;max-width:71px}body > section article section .slider ul.people-slider li
ul{padding:0
60px}body > section article section .slider ul.news-slider{height:520px}body > section article section .slider ul.news-slider
li{height:400px}body > section article section .slider ul.news-slider li>*{padding:0
60px}body > section article section .slider ul.news-slider li
h3{margin:20px
0}body > section article section .slider ul.news-slider > li,
body > section article section .slider ul.people-slider>li{padding:60px
0}body > section
.text{padding:53px
60px}body > section > .container > .text,
body > section .row>div>.text{margin-bottom:30px}body > section .text
ul{padding:0
0 15px 20px}body > section .text ul
li{padding-bottom:5px}body > section .text .download-table
h3{margin:45px
0 0 0;padding:0
0 40px 0}body > section .text .download-table
p{padding-left:40px}body > section .text .download-table td, body > section .text .download-table
th{padding:0
15px 0 35px}body > section .text .download-table
td{padding-bottom:30px}body > section .text .download-table
th{padding-bottom:20px}body > section .text .download-list
h4{padding-left:20px}body > section .text .download-list
p{padding-left:40px}body > section .text .download-list
h3{margin:45px
0 0 0;padding:0
0 40px 0}body > section .text .download-list .row > div:first-child
h4{padding-left:40px}body > section .text .download-list ul.column-list, body > section .text .download-list
ul.pdf{padding:0
20px 30px 22px}body > section .text .download-list .row > div:first-child ul.column-list{padding-left:40px}body > section .text ul.column-list
li{margin:30px
0 0;padding:4px
0}body > section .text
h2{margin:0
0 23px 0}body > section .text
h3{padding:4px
0 24px 0}body > section .text
p{padding:0
0 44px 0}body > section .text p.lead, body > section .text p.lead-uppercase{padding-bottom:45px}body > section .text p.lead-uppercase{padding-bottom:30px}body > section .text
img{margin-bottom:40px}body > section .text img.pull-left,
body > section .text img.pull-right{max-width:693px}body > section .text
article{margin-bottom:40px}body > section .text article.no-margin-bottom
blockquote{margin-bottom:-53px !important}body > section .text ul, body > section .text
ol{padding:0
0 34px 32px}body > section .text ul li,
body > section .text ol
li{padding-left:10px}body > section .text ul.btn-list
li{margin:0
30px 30px 0}body > section .text ul.btn-list li
.btn{padding-top:10px;padding-bottom:10px}body > section .text
hr{margin:60px
0}body > section .text article
blockquote{margin:70px
-60px 90px -60px !important;padding:60px
130px}body > section .text article blockquote
img{max-width:367px}body > section .text article blockquote
p{margin-left:520px}body > section .text article blockquote
p.cite{padding-top:40px;padding-bottom:70px}body > section .text article blockquote p.cite:before{margin-left:-80px}body > section .text article blockquote p.cite:after{margin-top:30px;padding-left:20px}body > section .text article blockquote p.cite strong.quote-open{margin-left:-80px}body > section .text article blockquote p.cite strong.quote-close{margin-top:30px;padding-left:20px}body > section .text article.separator-above{margin-top:60px;padding-top:60px}body > section .text article.separator-below{margin-bottom:60px;padding-bottom:60px}body > section .text .files-list
li{margin:30px
0 0 0}body > section .white-list.cal-list .text .files-list li:first-child{margin-top:54px}body > section .text .files-list li
a{padding:4px
0 4px 37px}body > section .text .files-list li
span{padding:4px
0 4px 0}body > section .text .pdf
li{margin:30px
0 0 0}body > section .text .pdf li
a{padding:4px
0 4px 37px}body > section .text .pdf li
span{padding:4px
0 4px 0}body > section .container>.grid-list{padding-bottom:125px}body > section .container > .grid-list,
body > section .container>article>.grid-list{margin-top:-18px}body > section .container>article>.grid-list{padding-bottom:126px}body > section .container > section .grid-list{margin-top:-60px}body > section .container > .grid-list > li,
body > section .container > article > .grid-list.loaded > li,
body > section .container > article > .grid-list.loaded > li:first-child,
body > section .container > article > .grid-list.loaded > li.even,
body > section .container>article>.grid-list.loaded>li.nth-child-2{margin-top:18px}body > section .container > section .grid-list>li{margin-top:60px}body > section .container > .grid-list > li,
body > section .container>article>.grid-list>li{min-height:530px}body > section .container > article > .grid-list > li
h2{max-height:70px}body > section .container>article>.grid-list.loaded>li{margin-top:-164px}body > section .container>article>.grid-list.loaded>li.nth-child-2{margin-top:200px}body > section article
p.actors{margin-top:-100px}body > section .tabs-more-info{height:188px;margin:0
-60px 22px -60px;padding:0
60px}body > section .tabs-more-info.multimedia-info{height:570px;margin:0
-66px 22px -66px;padding:0
66px}body > section .tabs-more-info
.slider{height:188px;margin:0
-40px 0 -40px;padding:0
40px}body > section .tabs-more-info.tabs-more-info-wide{margin-bottom:20px}body > section .tabs-more-info.tabs-more-info-wide, body > section .tabs-more-info.tabs-more-info-wide
.slider{height:207px}body > section .body > section .tabs-more-info .slider-more-info.multimedia-info, body > section .tabs-more-info.multimedia-info
.slider{height:571px}body > section .tabs
li{border:4px
solid transparent}body > section .tabs li
a{padding:15px
15px 15px 45px}body > section .tabs li a:before{margin:-10px 0 0 10px;background-position:-1000px -1000px}body > section .tabs li a.time:before,
body > section .tabs li.selected:hover a.time:before{width:21px;height:21px;background-position:-230px -36px}body > section .tabs li:hover a.time:before{background-position:-390px -36px}body > section .tabs li a.photo:before,
body > section .tabs li.selected:hover a.photo:before{width:24px;height:20px;background-position:-260px -36px}body > section .tabs li:hover a.photo:before{background-position:-420px -36px}body > section .tabs li a.video:before,
body > section .tabs li.selected:hover a.video:before{width:24px;height:19px;background-position:-292px -36px}body > section .tabs li:hover a.video:before{background-position:-452px -36px}body > section .tabs li a.like:before{width:23px;height:21px;background-position:-325px -36px}body > section .tabs li a.virtual:before{width:19px;height:19px;background-position:-358px -36px}.related-news li
h3{margin:0
0 10px -30px;padding:0
30px;background-position:0 50px}article .related-news li
h3{margin:0
0 20px 0}.related-news li
.teaser{padding:60px}.related-news li .text
p{margin:0
0 30px 0;max-height:60px}#event-time .total-time{height:54px}.slider .flex-direction-nav .flex-prev{left:-65px;width:49px;height:49px;margin-top:-24px;text-indent:-200px;background-position:-98px -64px}.slider .flex-direction-nav .flex-next{right:-65px;width:49px;height:49px;margin-top:-24px;text-indent:-200px;background-position:-147px -64px}.multimedia-info .slider .flex-direction-nav .flex-next{right:-25px}.multimedia-info .slider .flex-direction-nav .flex-prev{left:-25px}.slider-3 .flex-direction-nav .flex-prev, .slider-3 .flex-direction-nav .flex-next{top:160px}#event-photo.slider .flex-direction-nav .flex-prev, #event-yt.slider .flex-direction-nav .flex-prev, #event-video.slider .flex-direction-nav .flex-prev, #event-next.slider .flex-direction-nav .flex-prev, #room-video.slider .flex-direction-nav .flex-prev, #virtual.slider .flex-direction-nav .flex-prev, #news-photo.slider .flex-direction-nav .flex-prev{left:-15px}#event-photo.slider .flex-direction-nav .flex-next, #event-yt.slider .flex-direction-nav .flex-next, #event-video.slider .flex-direction-nav .flex-next, #event-next.slider .flex-direction-nav .flex-next, #room-video.slider .flex-direction-nav .flex-next, #virtual.slider .flex-direction-nav .flex-next, #news-photo.slider .flex-direction-nav .flex-next{right:-15px}.slider .time-slider
li{height:135px}.slider .time-slider li p:first-child{padding:30px
0 10px 0}.slider .time-slider li p.time:before{width:32px;height:30px;background-position:-192px -34px}.slider .next-slider
li{height:192px}.slider .next-slider li
time{padding:25px
0 20px 0}.slider .next-slider li time
small{line-height:32px}.slider .next-slider li .sold-out{padding:10px
0}.slider .video-slider li a:after, .slider .photo-slider li a:after{top:-8px;right:-8px;bottom:-8px;left:-8px;border:4px
solid transparent}.slider .yt-slider li a:before,
.slider .video-slider li a:before{width:49px;height:49px;margin-top:-25px;margin-left:-25px;background-position:-196px -64px}#map-canvas{height:1080px;margin-bottom:90px}.vcard.white-apla{right:0;height:420px;margin-top:-570px;padding:50px
40px !important}.accordion>li>h2+a.toggle{top:50px;right:50px}.accordion li
h3{padding:0
0 30px 0}.accordion li a.toggle:after{top:-10px;width:49px;height:46px;background-position:-49px -113px}.accordion li.open a:after{background-position:0 -113px}.accordion li.open .overflow-hidden{padding-bottom:30px}.multimedia{margin:0
0 30px 0}.social-media{padding:20px
0 53px 0}.social-media li
a{width:47px;height:47px;margin-right:20px}.social-media li.youtube
a{background-position:0 -434px}.social-media li.facebook
a{background-position:-47px -434px}.social-media li.twitter
a{background-position:-94px -434px}.limit-rows{margin:26px
0 0 0}.limit-rows
label{padding-right:20px}.pagination{margin:30px
0 0 0}.pagination
ul{padding:0
20px}.pagination ul
li{width:52px;height:46px}.pagination ul li
a{width:52px;height:46px}body > section .text
h4{padding:0
0 20px 0}.news-lead-list{height:468px;margin-top:-520px}body > section .text.news-lead-list
h2{margin-bottom:10px}body > section .text.news-lead-list
.date{margin-bottom:30px}.form
fieldset{margin:0
0 40px 0}.form .search-field
#query{padding-right:300px}.form .search-field .on-input{top:20px;right:30px;width:300px}.form .search-submit{margin-top:6px}.form .fields
li{margin-top:30px;padding:0}.form .fields
li.wide{padding:10px
0}.form
label{padding:0
0 8px}.form input[type="text"],
.form input[type="password"]{padding:17px
15px 18px;border-width:2px}.form .inline
label{padding-top:8px}.form .msg, .form
.error{padding:15px
0 0 0}.form
.submit{margin-top:40px}.form
fieldset.white{padding:45px
60px}.form .white
li.line{padding-bottom:30px;border-bottom:1px solid transparent}.form label.checkbox, .form
label.radio{padding-left:33px}.form
label.radio{margin-top:10px;padding-right:22px;padding-bottom:15px}.custom-checkbox,.custom-checkbox-hide{top:6px}.custom-checkbox,.custom-radio{width:20px;height:20px}.custom-checkbox.checked,.custom-radio.checked{background-position:0 -80px}.custom-checkbox.disabled,.custom-radio.disabled{background-position:0 -120px !important}.scroll-list{height:135px;margin:14px
15px 14px 0}body > section .text .scroll-list
ul{padding:0
60px 0 0}body > section .text .scroll-list
li{padding:8px
0}body > section .popup,.popup{margin-bottom:30px;padding:105px
60px 55px}.popup
.close{top:55px;right:58px;width:30px;height:30px;background-position:-128px -34px}.popup
h2{margin:0
0 50px 0}body > section .popup.small,.popup.small{width:660px;padding:60px
80px}#searchAdvanced
fieldset{margin:20px
0 90px 0}#searchAdvanced fieldset .search-field{margin-right:30px}#searchAdvanced fieldset .did-you-mean{padding-top:30px}#searchAdvanced .search-autocomplete{top:59px}#searchAdvanced .search-autocomplete
a{padding:12px
18px}body>header>#logo{top:60px;left:50%;width:131px;height:121px;margin-left:-75px}.main > .full-width > a
.thumb{height:937px}.nav-bar > nav > ul > li
.mask{top:212px}.nav-bar>nav>ul>li>a{margin:0
25px;padding:6px
18px}.nav-bar>nav>ul>li:first-child{width:51px;height:51px;margin:0}.nav-bar > nav > ul > li:first-child
a{width:51px;height:51px;background-position:-249px -68px}.nav-bar > nav > ul > li:first-child a:hover,
.nav-bar > nav > ul > li:first-child a:focus{background-position:-298px -68px}.nav-bar > form input[type="submit"]{width:51px;height:51px;background-position:-343px -64px}body > section > .container:first-child,
#sliderInfo .container:first-child{padding-top:290px}.month-list{margin-bottom:30px}.month-list
li{width:48px;height:56px;line-height:45px}.month-list li
a{width:50px;height:112px}.month-list li a
time{width:48px;height:48px;margin:34px
0;line-height:48px}.month-list li.selected.first a time,
.month-list li.selected.last a
time{width:45px}.month-list li.selected.first a
time{text-indent:-5px}.month-list li.selected.last a
time{text-indent:6px}.month-list li.selected.first.last a
time{width:43px;text-indent:0}.month-list li.selected.first .drag-left, .month-list li.selected.last .drag-right{width:15px;height:48px}.month-full-list > li .event
p.teaser{max-width:460px}.desktop .month-full-list > li:hover > .event
p.teaser{height:200px;padding:20px
0 0 0}.desktop .month-full-list>li:hover>.event-img{width:164px}.tablet .month-full-list > li > .event
p.teaser{height:200px;padding:20px
0 0 0}.tablet .month-full-list>li>.event-img{width:164px}.month-full-list li
.price{top:50px;right:30px;width:200px}body>footer{padding:80px
110px 0 110px}body > footer
ul{max-width:1566px}body>footer>ul:first-child{padding:0
0 80px 0}body > footer > ul:first-child > li
ul{padding:20px
0 14px 0}body > footer > ul:first-child > li ul li.section-title{padding-top:20px}body > footer
address{padding:25px
0 5px 0}body > footer .direct-contact{padding:0
0 20px 0}body > footer .direct-contact
a{padding-right:14px}body > footer ul
ul{padding-right:30px !important}body > footer .footer-address{max-width:1566px}#layer #close-layer,.details-close{top:50px;right:50px;width:61px;height:61px;background-position:-488px -327px}.selectLabel{height:50px;padding:0
80px 0 30px !important;line-height:22px !important}.selectLabel
span{height:50px;line-height:50px !important}.selectLabel
em{width:49px;height:50px;background-position:-49px -113px}.selectLabel.expanded
em{background-position:-245px -113px}.selectOptions
li{height:55px;min-height:55px;max-height:100px;line-height:54px}.selectOptions li
span{padding:0
30px !important}#slider .slider-nav,
#sliderInfo .slider-nav{margin-left:-75px;width:120px;height:110px;margin-top:-108px}#sliderInfo .slider-nav.slider-nav-prev{margin-left:-130px}#sliderInfo .slider-nav.slider-nav-next{margin-left:0;margin-right:-130px}#slider .slider-nav-prev{margin-top:-43px}#slider .slider-nav-next{margin-top:130px}#slider
.viewport{top:217px}#slidertime{margin-bottom:16px}#slider .slider-date .date, #slider time
span{margin-bottom:15px}#slider h1, #slider
h3{margin:0
0 13px 0}#slider
header{margin:-55px 0 0 0}#slider header
h2{margin-left:-40px}#slider
p{padding-bottom:22px}.subscriptions-list li
.row{min-height:390px}.subscriptions-list li .row>*{min-height:390px;padding-bottom:90px}.subscriptions-list li .text .btn, .subscriptions-list li .text
.price{left:15px}.subscriptions-list li .sold-out
span{top:120px;left:60px}body > section .text+.text{margin-top:30px}.long-list:before{height:100px}.long-list.open:before{height:60px}.press-list .description .meta-data{margin-right:20px}.photo .thumb:before{right:20px;bottom:50px}.slides .photo .thumb:before{right:20px;bottom:20px}.see-all{padding-top:60px !important;text-align:center !important}body > section .text article blockquote p.cite:before,
body > section .text article blockquote p.cite:after,
body > section .text article blockquote p.cite
strong{font-size:109px}body > section .text
p.photobottom{margin-top:-86px}#slider .slider-date .date, #slider time
span{font-size:60px}.nav-bar > nav > ul > li > a,
.month-list li,
.accordion li
a.toggle{font-size:22px;line-height:1}body > header > ul > li > a,
.nav-bar > nav > ul > li ul li a,
body > footer > ul:first-child > li,
body > footer ul li,
body > footer ul li a,
body > footer address,
body > footer .direct-contact{line-height:34px}.tablet .nav-bar > nav > ul > li ul li
a{line-height:52px}#slider .slider-date .date, #slider time
span{line-height:40px}body > section .text article blockquote p.cite:before,
body > section .text article blockquote p.cite:after,
body > section .text article blockquote p.cite strong,
.timeline-list ul li,
.slider ul.multimedia-list li h2,
.slider ul.comment-list li h2,
.limit-rows label,
.pagination ul li,
#event-time .total-time{line-height:50px}#slider h1, #slider
h3{line-height:96px}#slider header
h2{line-height:100px}.month-list li
a{line-height:112px}.nav-bar>nav>ul>li>a{line-height:1.4}body > section .text.news-lead
p{max-height:94px}.vjs-default-skin .vjs-big-play-button{width:120px;height:120px;margin:-60px 0 0 -60px;background-position:-120px -208px}.vjs-default-skin .vjs-control:before{background-position:-248px -159px}.vjs-default-skin .vjs-mute-control:before,
.vjs-default-skin .vjs-volume-menu-button:before{content:" ";background-position:-298px -159px}.vjs-default-skin .vjs-mute-control.vjs-vol-0:before,
.vjs-default-skin .vjs-volume-menu-button.vjs-vol-0:before{content:" ";background-position:-464px -159px}.vjs-default-skin .vjs-mute-control.vjs-vol-1:before,
.vjs-default-skin .vjs-volume-menu-button.vjs-vol-1:before{content:" ";background-position:-547px -159px}.vjs-default-skin .vjs-mute-control.vjs-vol-2:before,
.vjs-default-skin .vjs-volume-menu-button.vjs-vol-2:before{content:" ";background-position:-298px -159px}.vjs-default-skin .vjs-fullscreen-control:before{content:" ";background-position:-380px -159px}.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before{content:" ";background-position:-422px -159px}.vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content{border:4px
solid #fff}.vjs-default-skin .vjs-subtitles-button:before{content:" ";background-position:-505px -159px}.vjs-default-skin .vjs-paused:before{content:" ";background-position:-196px -159px}.vjs-default-skin .vjs-captions-button:before{content:" ";background-position:-340px -159px}.video-js{font-size:10px}#layer-slider{max-width:769px;bottom:200px;padding:0
50px 0 50px}#layer-content
.toggle{width:60px;height:60px;left:-60px;margin-top:-30px}#layer-content
.toggle.show{background-position:-122px -329px}#layer-content
.toggle.hide{display:none;background-position:-183px -329px}.info-img{height:60px;padding:0
60px 0 0;font-size:18px;line-height:60px}.info-img .info-img-open{left:-60px;background-position:-549px -329px}.info-img .info-img-open{width:60px;height:60px}.calendar-nav
h2{line-height:45px}.tx-abbooking-pi1 .availabilityCalendar li,
.tx-abbooking-pi1 .availabilityCalendarLine
li{font-size:48px}.tx-abbooking-pi1
.Day{font-size:48px}#slider .copy .block
.before{top:-384px;right:-268px;width:268px;height:364px}#slider .copy .block
.after{bottom:-384px;right:0;width:268px;height:364px}body > section .container.on-slider-info{margin-top:-210px !important}#slider .slider-nav
span{width:120px;height:110px}#slider .slider-nav.slider-nav-prev span.black,
#sliderInfo .slider-nav.slider-nav-prev{background-position:-60px -550px}#slider .slider-nav.slider-nav-next span.black,
#sliderInfo .slider-nav.slider-nav-next{background-position:-300px -550px}#slider .slider-nav.slider-nav-prev
span.white{background-position:-60px -720px}#slider .slider-nav.slider-nav-next
span.white{background-position:-300px -720px}body > footer .go-to-mobile{max-width:1566px;margin:0
auto 30px;text-align:right}
