@charset "UTF-8";.tx-dmailunsubscribe-failure{margin-bottom:2em;border:#FC0 1px solid;padding:2px;background:#FEA url(/typo3/mnt/remotenfs5/var/www/teatrwielki.pl/web/typo3temp/typo3conf/ext/dmail_unsubscribe/res/image/fade_nok.jpg) left bottom repeat-x;}.tx-dmailunsubscribe-success{margin-bottom:2em;border:#0C0 1px solid;padding:2px;background:#D4F6D4 url(/typo3/mnt/remotenfs5/var/www/teatrwielki.pl/web/typo3temp/typo3conf/ext/dmail_unsubscribe/res/image/fade_ok.jpg) left bottom repeat-x}.tx-dmailunsubscribe-table,.tx-dmailunsubscribe-tbody,.tx-dmailunsubscribe-td{border-color:transparent;background-color:transparent}.tx-dmailunsubscribe-failureicon,.tx-dmailunsubscribe-successicon{width:70px;height:70px}.tx-dmailunsubscribe-failureicon{background:transparent url(/typo3/mnt/remotenfs5/var/www/teatrwielki.pl/web/typo3temp/typo3conf/ext/dmail_unsubscribe/res/icon/nok.png) center center no-repeat}.tx-dmailunsubscribe-successicon{background:transparent url(/typo3/mnt/remotenfs5/var/www/teatrwielki.pl/web/typo3temp/typo3conf/ext/dmail_unsubscribe/res/icon/ok.png) center center no-repeat}.tx-dmailunsubscribe-dlgtext{padding:5px;padding-left:15px}textarea.f3-form-error{background-color:#FF9F9F;border:1px
#F00 solid}input.f3-form-error{background-color:#FF9F9F;border:1px
#F00 solid}.tx-friends-of-ballet
table{border-collapse:separate;border-spacing:10px}.tx-friends-of-ballet table
th{font-weight:bold}.tx-friends-of-ballet table
td{vertical-align:top}.typo3-messages .message-error{color:red}.typo3-messages .message-ok{color:green}

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{margin:0.67em 0;font-size:2em}h2{margin:0.83em 0;font-size:1.5em}h3{margin:1em
0;font-size:1.17em}h4{margin:1.33em 0;font-size:1em}h5{margin:1.67em 0;font-size:0.83em}h6{margin:2.33em 0;font-size:0.67em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em
40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{color:#000;background:#ff0}p,pre{margin:1em
0}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;_font-family:'courier new',monospace}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em
0}dd{margin:0
0 0 40px}menu,ol,ul{padding:0
0 0 40px}nav ul,
nav
ol{list-style:none;list-style-image:none}img{-ms-interpolation-mode:bicubic;border:0}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{margin:0
2px;padding:0.35em 0.625em 0.75em;border:1px
solid #c0c0c0}legend{padding:0;white-space:normal;border:0;*margin-left:-7px}button,input,select,textarea{margin:0;vertical-align:baseline;font-size:100%;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,
html input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],
html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}textarea{overflow:auto;vertical-align:top}table{border-spacing:0;border-collapse:collapse}
