@charset "UTF-8";@page{orphans:4;widows:2;margin:25mm 25mm 500mm 25mm}body{font-family:Tahoma,Arial,Helvetica;font-size:14px}.no-print,
#main-header .nav-bar, #main-header ul, #logo img, #parallax, footer ul,.scroll-top,#filter,.next-prev-links,.double-month-btn,.month-btn,.double-month-btn,.month-btn,select,.btn,.scrollPaneSelect.selectOptions,.hidden,.bottom-links,#breadcrumb,.pagination,.limit-rows,.skip-links,#events-form{display:none !important}.calendar-nav
.selectLabel{width:100% !important;margin:20px
0;text-align:center;font-size:26px}.month-full-list li
.price{margin-left:170px}#logo{display:block;padding-bottom:20px;text-align:center;border-bottom:1px solid #000;height:auto !important;width:auto !important}.container{width:auto !important;padding-top:0 !important}ul{padding:0;list-style:none}body>footer{text-align:center;padding:10px
0;border-top:1px dashed #000;font-size:12px;font-style:normal;clear:both}body > footer
address{padding-top:10px;font-style:normal}body > footer .direct-contact{margin:0}img{max-width:100%}a{color:#999}.main > .full-width > a
img{margin-top:0 !important}.slides{width:100% !important}.slides
li{width:100% !important;margin-right:10px}body > section h1:first-child, body > section
h2.category{text-align:center}*{color:#000 !important;background:transparent !important;box-shadow:none !important;text-shadow:none !important}a,a:visited{text-decoration:underline}section a[href]:after{}abbr[title]:after{content:" (" attr(title) ")"}section a[href^="javascript:"]:after,
section a[href^="#"]:after{content:""}pre,blockquote{border:1px
solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}@page{margin:0.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}#logo .to-print{display:inline-block !important}.list-news
li{padding:20px
0;border-bottom:1px solid #000;page-break-inside:avoid}.white-list>li{overflow:hidden;padding:20px
0;border-bottom:1px solid #000;page-break-inside:avoid}.info{text-align:center;border:4px
solid #000}.info .info-close{display:none}.calendar-nav
h2{text-align:center}.accordion>li{display:none}.accordion>li.open{display:block}.month-list{text-align:center;white-space:nowrap;font-size:0}.month-list
li{display:inline-block;padding:4px;font-size:14px}.month-list
li.selected.first{border-left:4px solid #000}.month-list
li.selected{border-top:4px solid #000;border-bottom:4px solid #000}.month-list
li.selected.last{border-right:4px solid #000}.category-list{text-align:center}.category-list
li.selected{border:4px
solid #000}.category-list
li{display:inline-block;padding:4px}.month-full-list>li{padding:20px
0;border-bottom:1px solid #000;page-break-inside:avoid}.month-full-list>li>ul>li{padding-top:20px;border-top:1px dotted #000;clear:both}.month-full-list>li>ul>li:first-child{border-top:0}.month-full-list li
time{display:block}.month-full-list li .event-img{float:left;width:144px}.month-full-list li
.event{margin-left:170px}.recommend-list
li{overflow:hidden;page-break-inside:avoid}.recommend-list li
.thumb{width:300px;margin-right:30px}.multimedia-list li
.thumb{width:100%}.multimedia-list li .thumb
img{max-width:100%}li
.thumb{float:left;width:30%}li
.description{float:left;width:65%;padding-left:5%}#hero-2-slider{overflow:hidden}aside{border-top:4px dotted #000;page-break-before:always}.grid-list{overflow:hidden}.month-list li
a{line-height:0 !important}a+.unlinked-title{display:none}
