.main__map__balkon3 .map__main__row--1 {
    margin-top: 1%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon3 .map__main__row--1 .side__left {
    width: 40%;
    margin: 0 0.6%;
}
.main__map__balkon3 .map__main__row--1 .side.center {
    width: 5%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main__map__balkon3 .map__main__row--1 .side.center .seat-ctn {
    margin: 0 1%;
}
.main__map__balkon3 .map__main__row--1 .side__right {
    width: 40%;
    margin: 0 0.6%;
}
.main__map__balkon3 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon3 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--1 {
        width: 9.5%;
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
    padding-bottom: 0.1%;
    margin-top: -1.5%;
    margin-right: -9%;
}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--1 {
        width: 9.5%;
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg);
    padding-bottom: 0.1%;
    margin-top: -1.5%;
    margin-left: -9%;
}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--2 {
    width: 9.5%;
    -webkit-transform: rotate(17deg);
    transform: rotate(17deg);
    margin-right: 5.2%;
    margin-top: -5.1%;
    padding-bottom: 0.1%;
}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--2 {
     width: 9.5%;
    -webkit-transform: rotate(-17deg);
    transform: rotate(-17deg);
    margin-left: 5.2%;
    margin-top: -5.1%;
    padding-bottom: 0.1%;
}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--3 {
        width: 9.5%;
    -webkit-transform: rotate(29deg);
    transform: rotate(29deg);
    margin-right: 19.2%;
    margin-top: -11.2%;
    padding-bottom: 0.1%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--3 {
        width: 9.5%;
    -webkit-transform: rotate(-29deg);
    transform: rotate(-29deg);
    margin-left: 19.2%;
    margin-top: -11.2%;
    padding-bottom: 0.1%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--4 {
        width: 9.5%;
    -webkit-transform: rotate(38deg);
    transform: rotate(38deg);
    margin-right: 32.6%;
    margin-top: -19.6%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--4 {
        width: 9.5%;
    -webkit-transform: rotate(-38deg);
    transform: rotate(-38deg);
    margin-left: 32.6%;
    margin-top: -19.6%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--5 {
     width: 9.5%;
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg);
    margin-right: 44.3%;
    margin-top: -29.6%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--5 {
    width: 9.5%;
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
    margin-left: 44.3%;
    margin-top: -29.6%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--6 {
        width: 10.5%;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    margin-right: 54.6%;
    margin-top: -41.6%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--6 {
        width: 10.5%;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    margin-left: 54.6%;
    margin-top: -41.6%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--7 {
        width: 7.5%;
    -webkit-transform: rotate(56deg);
    transform: rotate(56deg);
    margin-right: 65%;
    margin-top: -53.6%;


}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--7 {
        width: 7.5%;
    -webkit-transform: rotate(-56deg);
    transform: rotate(-56deg);
    margin-left: 65%;
    margin-top: -53.6%;


}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--8 {
        width: 9.5%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    margin-right: 71.8%;
    margin-top: -66%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--8 {
        width: 9.5%;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    margin-left: 71.8%;
    margin-top: -66%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--9 {
        width: 7.5%;
    -webkit-transform: rotate(64deg);
    transform: rotate(64deg);
    margin-right: 79.8%;
    margin-top: -80%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--9 {
        width: 7.5%;
    -webkit-transform: rotate(-64deg);
    transform: rotate(-64deg);
    margin-left: 79.8%;
    margin-top: -80%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--10 {
        width: 7.5%;
    -webkit-transform: rotate(66deg);
    transform: rotate(66deg);
    margin-right: 85.6%;
    margin-top: -92%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--10 {
        width: 7.5%;
    -webkit-transform: rotate(-66deg);
    transform: rotate(-66deg);
    margin-left: 85.6%;
    margin-top: -92%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--left--11 {
    width: 7.5%;
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    margin-right: 91%;
    margin-top: -104.8%;

}

.main__map__balkon3 .map__main__row--1 .map__main__col--right--11 {
    width: 7.5%;
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
    margin-left: 91%;
    margin-top: -104.8%;

}


