.main__map__balkon3 .map__main__row--2 {
    margin-top: 2.5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon3 .map__main__row--2 .side {
    width: 50%;
    margin: 0 2%;
}


.main__map__balkon3 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon3 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon3 .map__main__row--2 .map__main__col--left--1 {
    width: 2%;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    padding-bottom: 0.1%;
    margin-top: -2.5%;
    margin-right: -1%;
}

.main__map__balkon3 .map__main__row--2 .map__main__col--right--1 {
     width: 2%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
    padding-bottom: 0.1%;
    margin-top: -2.5%;
    margin-left: -3%;
}

.main__map__balkon3 .map__main__row--2 .map__main__col--left--2 {
        width: 6.5%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    margin-right: 9.2%;
    margin-top: -3.5%;
    padding-bottom: 0.1%;
}

.main__map__balkon3 .map__main__row--2 .map__main__col--right--2 {
        width: 6.5%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    margin-left: 9.2%;
    margin-top: -3.5%;
    padding-bottom: 0.1%;
}

.main__map__balkon3 .map__main__row--2 .map__main__col--left--3 {
        width: 4.5%;
    -webkit-transform: rotate(229deg);
    transform: rotate(22deg);
    margin-right: 24.2%;
    margin-top: -7.2%;
    padding-bottom: 0.1%;

}

.main__map__balkon3 .map__main__row--2 .map__main__col--right--3 {
        width: 4.5%;
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
    margin-left: 24.2%;
    margin-top: -7.2%;
    padding-bottom: 0.1%;

}

.main__map__balkon3 .map__main__row--2 .map__main__col--left--4 {
     width: 4.5%;
    -webkit-transform: rotate(31deg);
    transform: rotate(31deg);
    margin-right: 36.6%;
    margin-top: -12.3%;

}

.main__map__balkon3 .map__main__row--2 .map__main__col--right--4 {
    width: 4.5%;
    -webkit-transform: rotate(-31deg);
    transform: rotate(-31deg);
    margin-left: 36.6%;
    margin-top: -12.3%;

}

.main__map__balkon3 .map__main__row--2 .map__main__col--left--5 {
         width: 4.5%;
    -webkit-transform: rotate(39deg);
    transform: rotate(39deg);
    margin-right: 48.3%;
    margin-top: -20%;

}

.main__map__balkon3 .map__main__row--2 .map__main__col--right--5 {
        width: 4.5%;
    -webkit-transform: rotate(-39deg);
    transform: rotate(-39deg);
    margin-left: 48.3%;
    margin-top: -20%;

}

.main__map__balkon3 .map__main__row--2 .map__main__col--left--6 {
        width: 2%;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    margin-right: 60.6%;
    margin-top: -29.6%;


}

.main__map__balkon3 .map__main__row--2 .map__main__col--right--6 {
        width: 2%;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    margin-left: 60.6%;
    margin-top: -29.6%;


}

