.fr-add{

    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    color:#000 !important;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 30px;
    //height: 40px;

    @include el('icon'){
        display: block;
        flex: 0 0 1.6em;
        width: 1.6em;
        height:1.6em;
        border:1px solid #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-right:10px;

        &:before,
        &:after{
            content:'';
            display: block;
            background-color:#000;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translateY(-50%) translateX(-50%);
        }

        &:before{
            width:0.1em;
            height:0.8em;
        }

        &:after{
            width:0.8em;
            height:0.1em;
        }

    }

    @include el('form'){
        display: flex;
        align-items: center;
    }

    @include el('input'){
        outline: 0;
        border: 1px solid #d9d9d9;
        height: 40px;
        padding: 5px 20px;
        font-size: 1.2em;
        display: block;
        margin-left: auto;
        margin-right: 30px;
        width: 100%;
    }

    @include el('btn'){
            font-weight: 700;
    font-size: 0.8em;
    padding: 5px 15px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    height: 40px;

    }

    &:hover{
        text-decoration: none;
    }

    @include mod('border-margin'){
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #d9d9d9;
    }

}
