/*formularze*/

//============= FORMS =============

.padding-top-35 {
    padding-top: 35px;
}

.form{

    
    
    @include el('list'){
        margin-top: 1em;
        margin-bottom: 2em;
        list-style: none;
        padding:0;
        li{
            color: #000;
            font-size: 1.2em;
            font-weight: 400;
            display: flex;
            align-items: center;
            &:before{
                content: '';
                width: 7px;
                height: 7px;
                flex: 0 0 7px;
                border-radius: 50%;
                background-color: #000;
                display: block;
                margin-right: 15px;
            }
        }
    }

    @include el('section'){
        border-bottom: 1px solid #d9d9d9;
        margin: 0 0 35px;
        padding-bottom: 40px;
        
        @include mod('last'){
            padding:0;
            margin:0;
            border:0;
        }

        @include mod('no-border'){
            border:0;
        }

        @include mod('no-margin-bottom'){
            margin-bottom: 0;
        }
        
        .btn {
            font-size: 0.9em;
        }
        
    }

    @include el('section-header'){
        color:#000;
        font-size: 1.5em;
        font-weight: 700;
        text-transform: none;
        margin: 0 0 0.8em;
        display:flex;
        align-items: center;

        img{
            margin-right: 17px;
        }

        @include mod('tooltip'){
            margin-bottom:60px;
        }

        @include mod('center'){
            justify-content: center;
        }

        @include mod('discount'){
            margin-bottom: 0.7em;
        }

    }

    @include el('row'){
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5em;
        &:last-child{
            margin-bottom: 0;
        }

        @include mod('column'){
            flex-direction: column;
        }

    }

    @include el('col'){
        flex:1;
        margin-bottom: 0;
        margin-top:auto;

        @include mod('small'){
            flex: 0 0 33%;
        }

        @include mod('right'){
            margin-left: 40px;
        }

        @include mod('left'){
            margin-right: 40px;
        }

        @include mod('half'){
            flex: 0 0 50%;
        }

    }

    @include el('label'){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 14px;
        color:#000;
        font-size: 0.95em;

        @include mod('nmb'){
            margin-bottom: 0;
        }

        @include mod('small'){
            font-size: 0.8em;
            margin-bottom:6px;
        }

    }

    @include el('input'){
        border: 2px solid #d5d5d5;
        background-color: #ffffff;
        width: 100%;
        height: 2.6em;
        color: #000;
        font-size: 1em;
        padding: 0.6em;

        &.error{
            border-color:#ff0000;
        }

    }
    
    @include el('textarea'){
        border: 2px solid #d5d5d5;
        background-color: #ffffff;
        width: 100%;
        color: #000;
        font-size: 1em;
        padding: 0.6em;

        &.error{
            border-color:#ff0000;
        }

    }

    @include el('output'){
        font-size: 1.2em;
        color:#000;

        @include mod('center'){
            text-align: center;
        }

        @include mod('discount'){
            margin-top:1em;
        }

        @include mod('house-work'){
            font-size:1.2em;
            margin-bottom: 1em;
            display: flex;
            align-items: center;
        }

        @include mod('small'){
            font-size: 0.8em;
        }

    }

    @include el('select'){
        display: block;
        opacity: 1;
        position: static;
        border: 2px solid #d9d9d9;
        background-color: #ffffff;
        width: 100%;
        height: 2.6em;
        color: #000;
        font-size: 1em;
        padding: 0.6em;

        @include mod('small'){
            border: 2px solid #d9d9d9;
            width: 100%;
            height: 40px;
            font-size: 1.2em;
            padding: 0 10px;
            margin-right: 30%;
        }

    }

    @include el('btns'){
        display: flex;
        align-items: center;
        
        a, div{
            margin-left:0;
            margin-top: 0;
            margin-bottom: auto;
            &:last-child{
                margin-right:0;
            }

            div.redirect-text{
                font-size:1em;
                text-align: center;
                margin-top:27px;
            }

        }

        .btn+.btn{
            margin-left:0;
        }

        @include mod('tooltip'){
            max-width: 212px;
            margin-top: 45px;

            a{
                margin-bottom: 0;
            }

        }

    }

    @include el('btn'){
        flex: 0 0 100%;
        @include mod('half'){
            //flex: 0 0 50%;
            margin-right:60px;
            &:last-child{
                margin-right:0;
            }
        }
        @include mod('50'){
            flex: 0 0 50%;
            margin-right:60px;
            &:last-child{
                margin-right:0;
            }
        }
        @include mod('half-popup'){
            margin-right:40px;
            &:last-child{
                margin-right:0;
            }
        }
        @include mod('mb-0'){
            margin-bottom:0;
        }
    }

    @include el('error'){
        color:#ff0000;
        margin-top: 5px;
        font-size: 0.9em;
    }

    @include el('change'){
        cursor: pointer;
        color: #000 !important;
        font-size: 0.8em;
        font-weight: 400;
        text-decoration: underline;
        margin-left: 18px;
    }

    @include el('tooltip'){
        background:#fff; 
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1); 
        padding:75px 75px 45px;
        font-size: initial;
        line-height: initial;
    }

    @include mod('cart'){
        background-color: #fff;
        padding: 1.3em 0 4em;
    }

    @include el('hr'){
        display: block;
        background-color: #d9d9d9;
        width: 100%;
        height:1px;
        margin: 1.5em 0;
        padding:0;
        outline: 0;
        border:0;
    }

    @include el('link'){
        display: block;
        color: #000 !important;
        font-size: 1em;
        font-weight: 400;
        text-decoration: underline;
        margin-top: 7px;
    }

}

//============= DELIVERY =============

.delivery{

    display: flex;
    align-items: center;

    @include el('img'){
        margin-right: 2em;
        width: 4.5em;
    }

    @include el('content'){

    }

    @include el('text'){

        font-size:1em;

        @include mod('second'){
            font-size:1em;
            margin-top: 1.8em;
        }
        
    }

}

//============= CHECKBOXES =============

.checkboxes{
    
}

.checkbox{
    margin-bottom: 47px;

    &:last-child{
        margin-bottom: 0;
    }

    @include el('header'){
        color:#000;
        font-size: 1.1em;
        text-transform: none;
        margin-top:8px;
        margin-bottom:12px;
    }

    @include el('inner'){
        display: block;
        cursor: pointer;
        user-select: none;
        position: relative;
        min-height: 2em;
        padding-left: 3em;
        > .checkbox__input:checked ~ .checkbox__checkmark {
            background-color: #fff;
            &:after{
                opacity: 1;
            }
        }

        @include mod('center'){
            display: flex;
            align-items: center;
        }

    }

    @include el('input'){
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }

    @include el('content'){
        color:#000;
        font-size: 1em;
        font-weight: 400;
        position: relative;

        a{
            color:#000 !important;
            transition: all .3s ease-in-out;
            &:hover{
                color:#cabc77 !important;
                text-decoration: underline;
            }
        }

        @include mod('small'){
            font-size:1em;
        }

    }

    @include el('checkmark'){
        position: absolute;
        top: 0px;
        left: 0px;
        border: 2px solid #d5d5d5;
        background-color: #fff;
        width: 2em;
        height: 2em;
        transition: all .3s ease-in-out;

        &:after{
            content: "\f00c";
            position: absolute;
            top:50%;
            left:50%;
            transform: translateY(-50%) translateX(-50%);
            font-family: 'FontAwesome';
            color:#d9d9d9;
            font-size: 1.4em;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

    }

}

//============= RADIOBOXES =============

.radioboxes{

    @include mod('horizontal'){
        display:flex;
        align-items: flex-start;

        .radiobox{
            margin-right:45px;
            &:last-child{
                margin-right:0;
            }
        }

    }

}

.radiobox{
    
    cursor: pointer;
    user-select: none;
    position: relative;
    display: block;
    padding-left: 3em;
    margin-bottom: 3em;
    min-height: 2em;
    display: flex;
    align-items: center;

    &:last-child{
        margin-bottom: 0;
    }

    @include el('input'){
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }

    @include el('content'){
        font-size:1em;
    }

    @include el('checkmark'){
        position: absolute;
        top: 1px;
        left: 1px;
        height: 2em;
        width: 2em;
        background-color: #fff;
        border-radius: 50%;
        border:2px solid #000;

        &:after{
            content: "";
            position: absolute;
            display: none;
            top:50%;
            left:50%;
            transform: translateY(-50%) translateX(-50%);
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background:#000;
        }

    }

    > .radiobox__input:checked ~ .radiobox__checkmark {
        background-color: #fff;
        &:after{
            display: block;
        }
    }

    @include mod('fake'){
        padding-left:0;
    }

}


//============= FORM TYP =============

.form-typ-btn-wrapper{
    text-align: center;
    margin: 60px 0 120px;
    
    
}

.form-typ-btn{
    font-size: 1.2em;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding: 20px 40px;
    cursor: pointer;
}

.form-typ-col-left{
    padding-right:60px;
    
    .btn {
        font-size: 0.9em;
    }
}

.form-typ-col-right{
    padding-left:60px;
    
    .btn {
        font-size: 0.9em;
    }
}