/*popup*/


.fr-close{
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    top:20px;
    right:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000000;
    width: 32px;
    height: 32px;

    &:after{
        content: "\f00d";
        font-family: 'FontAwesome';
        color:#fff;
        font-size: 22px;
    }

}

.fr-popup{
    position: relative;
    z-index: 3;
    display: table;
    margin: 0 auto;

    @include el('content'){
        position: relative;
        border-radius: 6px;
        background-color:  #ffffff;
        display: inline-block;
        min-width: 870px;
        padding:80px;
    }

    @include el('text'){
        color: #000 !important;
        font-size: 1.1em;
        line-height: 1.2;
        font-weight: 400;
        padding: 0;
        margin-bottom:45px;
        max-width: 740px;

        a{
            color: #000 !important;
            text-decoration: underline;
        }

        @include mod('nmb'){
            margin-bottom:0;
        }

    }

}