.product__item__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product__item__header .header {
  font-size: 18px;
  font-weight: 700;
}

.product__item__header .price {
  font-size: 18px;
  font-weight: 700;
  flex-shrink: 0;
}

.product__item__image {
  width: 100%;
  max-width: 278px;
  height: 342px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 50px;
}