.owl-carousel {

  width: calc(100% - 80px);
  margin: auto;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;

  @media only screen and (max-width: 1300px) {
    width: 90%;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 10px;
  }

  .owl-stage {
    .owl-item {
      display: inline !important;
      background: white;

      .product__owl-item {
        width: 90%;
        border: 1px solid transparent;
        padding: 15px;
        margin: auto;

        &:hover {
          cursor: pointer;
          border: 1px solid #d6d6d6;
        }

        @media only screen and (max-width: 600px) {
          width: 100%;
        }

        .product__item__image {
          margin-bottom: 50px;
        }

        .product__item__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;

          .price {
            text-align: right;
            word-wrap: none;
            min-width: 90px;
            margin-left: 20px;
          }
        }
      }
    }
  }

  .owl-nav {
    height: auto;
    display: flex;
    position: absolute;
    bottom: 50%;
    width: calc(100% - 100px);
    pointer-events: none;

    @media only screen and (max-width: 600px) {
      position: relative;
      bottom: 0;
      width: auto;
      margin: auto;
    }

    .noselect {
      user-select: none;
    }

    .clickable {
      cursor: pointer;
    }

    .owl-prev,
    .owl-next {
      background: none;
      border: none;
      outline: none;
      pointer-events: initial;

      img {
        height: 30px;
      }

      z-index: 10;
    }

    .owl-prev {
      left: 0px;
      margin-left: -40px;

      @media only screen and (max-width: 600px) {
        margin-left: auto;
      }
    }

    .owl-next {
      margin-left: auto;
      margin-right: -40px;
      right: 0px;

      @media only screen and (max-width: 600px) {
        margin-right: auto;
      }
    }
  }
}