/*Twoje konto*/
.fr-label{
    /*font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;*/
    font-size: 1.4em;
    font-weight: 700;
    white-space: nowrap;
}

.fr-transactions__item{
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.fr-transactions__item:last-child{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}