body {
    margin: 0;
    font-family: 'CenturyGothic';
}

.container__inner {
    background: #fff;
}

.container__inner__gap {
    padding: 0 8.3%;
}

.container__inner__gap--vertical {
    padding-top: 5em;
    padding-bottom: 5em;
}

.container__inner__gap--left {
    padding-left: 8.3%;
    padding-right: 2.3%;
}

.container__narrow {
    width: 560px;
    margin: 0 auto;
}

select {
    background: none;
}

.page__main {
    padding-top: 155px;
    padding-bottom: 100px;
}

.center-block {
    display: table;
    margin: 0 auto;
}
.pb-10 {
    padding-bottom: 10px;
}

p {
    font-size: 0.95em;
    line-height: 1.5;
}
ul {
    font-size: 14px;
    padding-left: 16px;
}

.icon-info {
    width: 24px;
}

img {
    display: block;
    max-width: 100%;
}
.btn {
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn--large {
    font-size: 0.9em;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 1.2em 1.2em;
    margin-bottom: 30px;
    margin-left: 0;
    cursor: pointer;
    line-height: 1.2;
}

.btn--short {
    display: inline-block;
    width: auto;
    padding-left: 44px;
    padding-right: 44px;
}

.btn--grey {
    background-color: #dddddd;
}

.btn--grey:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.btn--black {
    background-color: #000 !important;
    color: #fff !important;
}

.btn--black:hover {
    color: #000 !important;
    background-color: #dddddd !important;
}

.btn--brown {
    background: #cabc77 !important;
}

.btn--brown:hover {
    color: #fff !important;
    background: #000 !important;
}

.btn--white {
    background: #ffffff !important;
}

p {
    color: #000 !important;
}

.foot__butik {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
}
.foot__butik__items {
    -webkit-column-count: 4;
    column-count: 4;
    color: #fff;
}
.foot__butik__col--left {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.foot__butik__col--left h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
}

.foot__butik__items ul {
    list-style: none;
    padding-left: 0;
}
.foot__butik__col--right {
    padding-left: 2em;
}
.foot__butik__col--right .foot__butik__logo {
    display: table;
    margin: 0 auto 60px;
}
.foot__butik__col--right .foot__butik__logo img {
    width: 150px;
}
.tooltip-box {
    cursor: pointer;
}
.tooltip-inner {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.tooltip-inner ul {
    font-size: 14px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
    margin-top: 0 !important;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #fff !important;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #fff !important;
    left: 0;
    top: 3px;
}

.collapse-form {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;

    .collapse-inner {
        padding-bottom: 40px;
    }
}

