/*historia zamowienia*/

.fr-summ-header{
    margin-bottom: 13px;
}

.fr-mb-15{
    margin-bottom: 15px;
}

.fr-summ{
    line-height: 1.6;
    margin-bottom:55px;
}

.fr-summ--last{
    margin-bottom: 0;
}

.fr-summ-sepa:after{
    content:'';
    display:block;
    height:1px;
    background-color:#d9d9d9;
    width: calc(100% - 18px);
    margin:15px auto;
}

.fr-summ-sepa--x2:after{
    height:4px;
}

.fr-tickets{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6em;
}

.fr-tickets img{
    margin-right:42px;
}