.product__item {
    padding: 0 15px;
    margin-bottom: 70px;
}
.product__item .product__item__image {
    width: 100%;
    max-width: 278px;
    height: 342px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.product__item .product__item__image img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.product__item .product__item__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
}
.product__item .product__item__header .header {
    font-size: 18px;
    font-weight: bold;
}
.product__item .product__item__header .price {
    font-size: 18px;
    font-weight: bold;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.product__item .product__item__header .price .disqount {
    position: relative;
    font-weight: normal;
}
.product__item .product__item__header .price .disqount:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #000;
}
.product__item p {
    font-size: 22px;
}
.product__item--bestseller {
    position: relative;
}
.product__item--bestseller:before {
    content: "bestseller";
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 0;
    background: #000;
    padding: 7px 29px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}
.product__item.product__item--vertical {
    padding-bottom: 100px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
}
.product__item.product__item--vertical .product__item__header {
    display: block;
    text-align: center;
    line-height: 1.2;
}
.product__item.product__item--vertical .product__item__header .header {
    margin-bottom: 10px;
}
.product__item.product__item--vertical .product__item__image {
    height: 270px;
}
.product__item.product__item--disqount .label-box {
    position: absolute;
    top: 50px;
    left: 20%;
    background: #000;
    padding: 7px 29px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}