#abonaments__content_1 {
    padding-bottom: 201px;
}

#abonaments__content_2 {
    padding-bottom: 83px;
}

.abonaments__dates__wrapper .abonaments__dates.abonaments__no_padd_left {
    padding-left: 0;
}
.abonaments__dates__wrapper .abonaments__dates .abonaments__dates__content.abonaments__dates__content--center {
    float: none;
    width: 600px;
    margin: 0 auto;
}
/*.abonaments__dates__wrapper .abonaments__dates__head__wrapper {
    border-bottom: 1px solid #d9d9d9;
}
.abonaments__dates__wrapper .abonaments__dates__head__wrapper .abonaments__dates__head.abonaments__dates__head--center {
    border-bottom: none;
}*/

.abonaments__dates__wrapper .abonaments__dates__head.abonaments__dates__head--center {
    width: 600px;
    margin: 0 auto;
}

.item__spektakl__summary__container h2 {
    color: #000 !important;
    font-size: 0.85em;
    font-weight: bold;
    margin-bottom: 2.3em
}
.item__spektakl__summary__container .btn {
    display: table;
    width: auto;
    padding-left: 10em;
    padding-right: 10em;
}
.item__spektakl__summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.7em;
}
.item__spektakl__summary .img-box {
    width: 5.5em;
    width: 5.5em;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 1.8em;
}
.item__spektakl__summary .content-box .header {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.6em;
    text-transform: uppercase;
    margin-top: 0;
}
.item__spektakl__summary .content-box .content {
    font-size: 1em;
}
.item__spektakl__summary__items {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1.6em;
}
.cart__item__foot .btn.inactive:hover,
.cart__item__foot .btn.inactive:focus {
    background: #dddddd !important;
    color: #000 !important;
}
.abonaments__switched__contents h2 {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    padding-top: 42px;
    margin-bottom: 20px;
}

.abonaments__content .header {
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
}
.abonaments__content .header .txt {
    margin-right: 10px;
}
.abonaments__content .checkbox-ctn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}
.abonaments__content .checkbox-ctn .state {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    background: #fff;
}
.abonaments__content .checkbox-ctn input:checked ~ .state:after {
    font-family: 'FontAwesome';
    content: "\f00c";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.abonaments__content .checkbox-ctn .label-box {
    position: absolute;
    padding-left: 50px;
    font-size: 14px;
    line-height: 1.2;
}
.abonaments__content .checkboxes {
    margin-top: 20px;
    margin-bottom: 40px;
}