.abonaments .abonaments__rules {
    background: #fff;
    padding: 66px;
}

.abonaments .abonaments__header {
    text-align: center;
    margin-bottom: 50px;
}

.abonaments .abonaments__header h2 {
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'Helvetica Neue';
    color: #fff !important;
}

.abonaments .abonaments__header .note {
    color: #fff;
}
.abonaments__rules {
    margin-bottom: 50px;
}

.abonaments__rules .abonaments__rules__header {
    font-size: 33px;
    margin-bottom: 32px;
}

.abonaments__rules .abonaments__rules__layout .contnet {
    font-size: 16px;
    line-height: 1.38;
}

.abonaments__rules .abonaments__rules__layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.abonaments__rules .abonaments__rules__layout > div {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.abonaments__rules .abonaments__rules__layout .sidebar {
    padding-left: 167px;
}

.abonaments__rules .abonaments__rules__layout .sidebar h3 {
    margin-top: 0;
}

.abonaments__rules .abonaments__rules__layout .sidebar ul {
    padding-left: 1em;
    line-height: 1.58;
}

@keyframes show_more {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.spektakl__item {
    
    .main__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 49px;
        background: #000;
    }

    &.expand {
        .more__content {
            display: block;
            animation-name: show_more;
            animation-duration: 0.5s;
        }
    }
    
    .more__content {
        display: none;
        animation-name: show_more;
        animation-duration: 0.5s;
        margin-bottom: 49px;
        background: #000;
        position: relative;
        padding: 40px 30px 30px;
        
        h2 {
            font-size: 38px;
            margin: 0;
            margin-bottom: 38px;
        }
        
        .close-btn {
            position: absolute;
            top: 22px;
            right: 33px;
            cursor: pointer;
            
            img {
                width: 20px;
            }
        }
        
        .more__content__row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: #fff;
            
            p {
                color: #fff !important;
                margin-bottom: 30px;
            }

            .details__box {
                width: 35%;
                padding-right: 52px;
                margin-right: 53px;
                border-right: 1px solid rgba(255,255,255, .6);
                
                .price__label {
                    font-size: 18px;
                    font-weight: bold;
                }
                
                .price__value {
                    font-size: 22px;
                    font-weight: bold;
                    margin-bottom: 40px;
                }
            }
            
            .dates__box {
                flex-grow: 1;
                
                .header {
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                
                .dates__row {
                    display: flex;
                    
                    .dates__col {
                        flex-grow: 1;
                        flex-basis: 0;
                        
                        .spectacl__date__item {
                            margin-bottom: 20px;
                            
                            .date__header {
                                font-size: 16px;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

.spektakl__item .spektakl__item__content {
    padding: 30px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.spektakl__item .spektakl__item__content h2 {
    font-size: 38px;
    margin: 0;
    margin-bottom: 38px;
    color: #000;
}

.spektakl__item .spektakl__item__content .spektakl__item__col {
   font-size: 18px;
    line-height: 1.85;
    color: #fff;
}

.abonaments .spektakl__item .area__row {
    margin-bottom: 30px;
}

.abonaments .spektakl__item .area__row select {
    position: static;
    display: block;
    opacity: 1;
    flex-grow: 1;
    padding-left: 0;
    font-size: 13px;
    background-color: #fff;
    height: 32px;
}

.abonaments .spektakl__item .area__row .box {
    display: flex;
    align-items: center;
    width: 100%;
}

.abonaments .spektakl__item .area__row .box .txt {
    margin-right: 10px;
    font-size: 16px;
}

.spektakl__item .spektakl__item__content .spektakl__item__col .list {
    list-style: none;
    
}

.spektakl__item .spektakl__item__content .spektakl__item__col .list .list__spectacl__item {
    font-size: 1.2em;
}

.spektakl__item .spektakl__item__content .spektakl__item__col .btn {
    margin-left: 0;
}

.spektakl__item .spectact__item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.spektakl__item .spectact__item__row .spektakl__item__col {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}

.spektakl__item .spectact__item__row .spektakl__item__col p {
    color: #fff !important;
    line-height: 1.6;
}

.spektakl__item:first-child .spektakl__item__row {
    margin-bottom: 124px;
}

.spektakl__item .spectact__item__row .spektakl__item__col:first-child {
    border-right: 1px solid #4c4c4c;
    padding-right: 22px;
}

.spektakl__item .spectact__item__row .spektakl__item__col:last-child {
    padding-left: 22px;
}

.spektakl__item .spektakl__item__image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 42%;
}
.spektakl__item .spektakl__item__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}