.abonaments__dates__slider {

    .slick-list {
        border: 1px solid #d5d5d5;
        border-left: none;
    }

    .slick-arrow {
        width: 24px;
        height: 36px;
        border: none;
        position: absolute;
        top: calc(50% - 18px);
        cursor: pointer;
        outline: none;
        background-color: #fff;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        &:hover {
            background-color: #ccc;
        }

        &.slick-prev {
            left: -28px;
            background-image: url(../../../images-frogriot/arrow.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &.slick-next {
            right: -28px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-image: url(../../../images-frogriot/arrow.png);
        }
    }

    .abonaments__dates__item {
        height: 7.7em;
        border-left: 1px solid #d5d5d5;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: center;
        align-content: center;
        position: relative;
        cursor: pointer;

        input:checked ~ .abonaments__dates__item__content {
            border: 2px solid #000;
        }
        input:checked ~ .abonaments__dates__item__content .btn {
            background-color: #000 !important;
            color: #fff !important;
        }

        .abonaments__dates__item__content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-line-pack: center;
            align-content: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            border: 2px solid transparent;

            .btn {
                display: inline-block;
                cursor: pointer;
            }
            .date {
                width: 100%;
                text-align: center;
                font-size: 1.1em;
                font-weight: bold;
                line-height: 1;
            }
            .day {
                width: 100%;
                text-align: center;
                font-size: 0.8em;
                margin-bottom: 0.8em;
            }
        }
    }

}


.abonaments__dates__wrapper {
    .abonaments__dates__head {
        border-bottom: 1px solid #d9d9d9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        
        .image {
            width: 5.5em;
            height: 5.5em;
        }
        
        .txt {
            padding-left: 0.6em;
            color: #000;
            font-size: 0.9em;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    
    .abonaments__dates {
        padding-left: 15.5%;
        margin: 0 auto;
        
        .abonaments__header__main {
                color: #000 !important;
                font-size: 0.9em;
                font-weight: bold;
                padding-top: 2.8em;
                margin-bottom: 1.7em;
        }
        
        .abonaments__dates__layout {
            overflow: hidden;
            padding: 0 1.4em;
        }
        
        .abonaments__dates__content {
            float: left;
            width: 59.5%;

            .abonaments__switched__contents {
                position: relative;
                
                h2 {
                    color: #000 !important;
                    font-size: 0.83em;
                    font-weight: bold;
                    margin-bottom: 1.7em;
                }
                
                .abonaments__content_room__header h2 {
                    color: #000 !important;
                    font-size: 22px;
                    font-weight: bold;
                    padding-top: 42px;
                    margin-bottom: 55px;
                }
            }
            
            .abonaments__dates__header__row {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                margin-bottom: 1.5em;
            }
            & > div {
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }
            .abonaments__dates__header__col--abonaments {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .box {
                    display: flex;
                    align-items: center;
                }
                
                .txt {
                    font-size: 0.85em;
                    margin-right: 0.9em;
                    flex-shrink: 0;
                }

                .abonaments__dates__header__col--details {
                    margin-left: auto;
                    
                    .room__row {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        margin-top: 0.2em;
                        
                        .txt {
                            font-size: 0.85em;
                            margin-right: 0.9em;
                            -ms-flex-negative: 0;
                            flex-shrink: 0;
                        }
                    }

                    .area__row {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        margin-bottom: 0;
                        
                        .box {
                            display: flex;
                            width: 100%;
                            height: 1.8em;
                            align-items: center;
                        }
                        
                        .txt {
                            font-size: 0.85em;
                            margin-right: 0.9em;
                            flex-shrink: 0;
                        }
                        
                        select {
                            position: static;
                            display: block;
                            opacity: 1;
                            width: 100%;
                            height: 100%;
                            padding-left: 0;
                            font-size: 0.7em;
                        }
                    }
                }
            }
            
            .abonaments__dates__row {
                margin-bottom: 0;
                
                h2 {
                    font-size: 0.64em;
                    color: #000 !important;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                
            }
        }
        
        .abonaments__dates__side {
            width: 40.5%;
            padding-left: 14.3%;
            float: right;
            
            h2 {
                color: #000 !important;
                font-size: 0.9em;
                font-weight: bold;
                margin-bottom: 1.3em;
                margin-top: 0;
                padding-top: 1.8em;
            }
            
            .cart__item__row {
                padding-left: 0.6em;
                border-left: 2px solid #000;
                margin-bottom: 0.6em;
                padding-right: 2em;
                position: relative;
                
                .cart__item__row__name {
                    font-size: 0.8em;
                }
                
                .cart__item__row__date {
                    font-size: 0.8em;
                }
            }
            
            .cart__item__row__trash {
                position: absolute;
                right: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                height: 26px;
                width: 26px;
                background: url(../../../images-frogriot/png/trash.png) 50% 50% no-repeat;
                border: none;
                cursor: pointer;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                outline: none;
            }
            
            .cart__item__foot {
                margin-top: 1em;
                border-top: 1px solid #d9d9d9;
                padding-top: 1.1em;
                
                .cart__item__foot__note {
                    font-size: 0.9em;
                    font-weight: bold;
                    line-height: 1.2;
                }
                
                .cart__item__row__trash:hover {
                    background-color: #e1e1e1;
                }
            }
        }
    }
}