//bootstrap
//required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
//optional
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/nav";


@import "global";

//tooltipster
@import "includes/tooltipster";

//magnific
@import "includes/magnific/main";
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }
@import "mixins";

@import "parts/forms";

@import "parts/popups";

@import "parts/addto";

@import "parts/pagination";


@import "account";
@import "history";
@import "cart";

@import "../../../css/counter.css";
@import "product_item";

//pages
@import "bilety";
@import "abonamenty";
@import "abonamenty_daty";
@import "abonamenty_daty_2";
@import "wycieczki";
@import "wycieczki_kalendarium";
@import "butik";
@import "butik_opis_skrocony";
@import "butik_wyniki_wyszukiwania";
@import "przyjecie_zamowienia";


//werje koloru
@import "color-1";
@import "color-2";
@import "color-3";
@import "color-4";



body>section h1.fr-h1 {
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    font-size: 3.1em;
    color: #000 !important;
    font-weight: 700;
    margin:0;
    margin-bottom: 54px;
    text-transform: inherit;

    &.fr-h1--nmb{
        margin-bottom: 0;
    }

}

.main .container>h1.fr-h1{
    padding:0;
    margin:0;
}

.container {
    padding: 0;
}

.container--inner {
    padding: 0 11px;
}

.row {
    margin-left: -11px !important;
    margin-right: -11px !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding: 0 11px !important;
}

/*.fr-wrapper{
    margin:155px auto;
    color:#000;
}

.fr-container{
    position:relative; 
    max-width: 1145px;
    z-index:3;
    margin-left:auto;
    margin-right:auto;
    
    @include el('inner'){
        background-color:#fff;
        padding:155px 140px;
    }

}*/

