.tickets {
    
    h2 {
        color: #000 !important;
        font-weight: bold !important;
        font-size: 1em !important;
        margin: 0;
        font-family: inherit !important;
    }
    
    @include el('head__prev'){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #fff;
        border-bottom: 1px solid #d9d9d9;
        
        .img-box {
            width: 5.5em;
            height: 5.5em;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin-right: 0.6em;
            
            img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
        .content-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            
            .header {
                width: 100%;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: bold;
            }
            
            .note {
                font-size: 0.8em;
            }
        }
    }
    
    @include el('head'){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 15px 15px 10px;
        border-bottom: 1px solid #d9d9d9;
        
        .header {
            font-size: 1em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 0.7em;
            
            .txt {
                font-size: 1em;
                margin-right: 10px;
            }
            
            .tooltip {
                width: 1em;
            }     
        }
        
        .tickets__discount {
            width: 26.5%;
            padding-left: 5.2em;
            padding-right: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;

            select {
                position: static;
                display: block;
                opacity: 1;
                width: 100%;
                font-size: 0.9em;
                height: 2em;
            }
        }
        
        .strefa_cenowa {
            padding-left: 2em;
            padding-right: 2em;

            .tickets__prices {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;

                .checkbox-ctn {
                    position: relative;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                    margin: 0;
                    cursor: pointer;

                    input {
                        position: absolute;

                        &:checked ~ .state {    
                            outline: 4px solid #000;
                            outline-offset: -2px;
                            z-index: 5;
                        }
                    }

                    .state {
                        padding: 0.7em;
                        position: relative;
                        outline: 4px solid transparent;
                        outline-offset: -2px;
                        display: block;
                        font-weight: bold;
                        font-size: 0.7em;
                    }

                    &.checkbox-white .state {
                        background: #fff;
                    }

                    &.checkbox-brown .state {
                        background: #b59f36;
                    }

                    &.checkbox-brown-light .state {
                        background: #c8ba77;
                    }

                    &.checkbox-grey-light .state {
                        background: #c1c1c1;
                    }

                    &.checkbox-grey .state {
                        background: #909090;
                    }

                    &.checkbox-pink .state {
                        background: #d8a38d;
                    }

                    &.checkbox-red .state {
                        background: #ab7359;
                    }

                    &.checkbox-white .state {
                        background: #fff;
                    }

                    &.checkbox-white .state {
                        background: #fff;
                    }  
                }
            }
        }
        
        .udogodnienia {
            flex-grow: 1;

            .tickets__facilities {

                .checkbox-ctn {
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    height: 1.3em;
                    cursor: pointer;
                    margin-bottom: 0.4em;

                    .label-box {
                        position: absolute;
                        padding-left: 2.2em;
                        font-size: 0.82em;
                    }

                    .state {
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1.3em;
                        height: 1.3em;
                        border: 2px solid #000;
                        background: #fff;
                    }

                    input:checked ~ .state:after {
                        font-family: 'FontAwesome';
                        content: "\f00c";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                    }
                }

            } 
        }
    }  
    
    @include el('layout'){
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        .tickets__main {
            width: 100%;
            
            .tickets__places__row {
                display: block;
                width: 100%;
                -webkit-box-shadow: 0 7px 7px 0px rgba(0,0,0, .1);
                box-shadow: 0 7px 7px 0px rgba(0,0,0, .1);
                margin-bottom: 14px;
                padding-left: 6.2em;
                padding-top: 1.7em;
                padding-bottom: 1.7em;
                position: relative;
                
                .row_1 {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 10px;
                }
                
                .row_2 {
                    width: 50%;
                    
                    .checkbox-ctn {
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    height: 1.3em;
                    cursor: pointer;
                    margin-bottom: 0.4em;

                    .label-box {
                        position: absolute;
                        padding-left: 2.2em;
                        font-size: 0.82em;
                    }

                    .state {
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1.3em;
                        height: 1.3em;
                        border: 2px solid #000;
                        background: #fff;
                    }

                    input:checked ~ .state:after {
                        font-family: 'FontAwesome';
                        content: "\f00c";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                    }
                }
                }
                
                .header {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-line-pack: center;
                    align-content: center;
                    font-size: 1em;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                
                .content {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    padding-right: 1em;
                    -ms-flex-line-pack: center;
                    align-content: center;
                    
                    .places__kind {
                        margin-left: 2.4em;
                        font-size: 0.8em;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        
                        .box {
                            width: 1em;
                            height: 1em;
                            border: 2px solid #000;
                            border-radius: 0.3em;
                            margin-right: 0.4em;
                        }
                        
                        &.places__kind__reserved .box {
                            background-color: #000;
                        }
                        &.places__kind.places__kind__avaliable .box {
                            background-color: #fff;
                        }
                        &.places__kind.places__kind__choosen .box {
                            background-color: #00bff3;
                        }
                    }
                    
                }
                
                .buttons {
                    position: absolute;
                    right: 1.5em;
                    top: 50%;
                    transform: translateY(-50%);
                    
                    button {
                        width: 1.2em;
                        height: 1.2em;
                        margin-bottom: 0.4em;
                        border-radius: 24px;
                        border: 1px solid #000;
                        color: #000;
                        background: #fff;
                        font-size: 1.2em;
                        cursor: pointer;
                        outline: none;
                        transition: 0.3s;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-align: center;
                        align-items: center;
                        -ms-flex-pack: center;
                        justify-content: center;

                        span {
                            line-height: 0;
                        }
                        
                        &:last-child {
                            margin-bottom: 0;
                        }
                        
                        &:hover {
                            background: #000;
                            color: #fff;
                        }
                    }
                }
            }
            
            .sala__main {
                margin: 46px 56px 56px;
                background: #fff;
                margin-right: 0;
                margin-left: 0;
                position: relative;

                .places__map {
                    margin: 0 auto;
                    display: table;
                    position: relative;
                }
                
                .map--main {
                    .main__map__area {
                        position: relative;
                        z-index: 1;

                        img {
                            opacity: 0;
                        }
                    }

                    .main__map__area__content {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                    }

                    .whole__map__container {

                        .main__map__parter {
                            width: 70%;
                            margin: 0 auto;

                            img {
                                position: absolute;
                                width: 100%;
                                left: 50%;
                                transform: translateX(-50%);
                            }

                            .places {
                                height: 100%;

                                .seat-ctn {
                                    margin: 0 0.4% 3% 0;
                                }
                            }
                        }
                    }
                }
            }
            
            .choose_from_list {
                width: 520px;
                margin: 0 auto;
                
                select {
                    position: static;
                    display: block;
                    opacity: 1;
                    width: 100%;
                    height: 38px;
                    padding-left: 6px;
                }
                
                .choose_from_list__row {
                    margin-bottom: 42px;
                    
                    .label-box {
                        margin-bottom: 16px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }

                .btn {
                    margin-top: 98px;
                }
            }
        }
        
        .tickets__sidebar {
            width: 25.67%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            border-left: 1px solid #d9d9d9;
            
            .tickets__cart {
                padding: 0 9.52%;
                padding-top: 0.7em;
                
                h2 {
                    margin-bottom: 1.2em;
                }
                
                .tickets__cart__item {
                    width: 100%;
                    margin-bottom: 20px;
                    position: relative;
                    margin-left: 0.9em;
                    
                    &:before {
                        position: absolute;
                        left: -15px;
                        top: 0;
                        bottom: 0;
                        width: 3px;
                        content: "";
                        background: #000;
                    }
                
                    .tickets__cart__item__row {

                        .cart__name {
                            font-size: 0.8em;
                            margin-bottom: 8px;
                            display: block;
                        }

                        select {
                            position: static;
                            opacity: 1;
                            width: 89%;
                            height: 2em;
                            padding-left: 0;
                            font-size: 0.7em;
                            margin-right: 11%;
                        }

                        .cart__price {
                            font-weight: bold;
                            font-size: 0.8em;
                        }
                    }
                }
            }

            .tickets__cart__summary {
                border-top: 1px solid #d9d9d9;
                padding-top: 1em;
                
                .tickets__cart__summary__row  {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    padding-bottom: 25px;
                    
                    
                    .tickets__cart__summary__quantity {
                        font-size: 1em;
                    }
                    
                    .tickets__cart__summary__price {
                        font-size: 1em;
                        font-weight: bold;
                    }
                    
                    .tickets__cart__summary .btn {
                        margin-left: 0 !important;
                    }
                }
                
                .btn {
                    margin-bottom: 0.5em;
                    margin-left: 0;
                }
            }    
        }
        
    }

    @include el('backwrapp'){
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25.67%;
        flex-shrink: 0;
        .btn{
            margin:auto;
            width:200px;
        }
    }
    
}






        