.butik__nav {
    margin-bottom: 15px;
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        width: 100%;
        
        li {
            flex-grow: 1;
            
            a {
                display: block;
                text-align: center;
                padding: 5px 10px;
                font-size: 16px;
                border: 3px solid transparent;
                font-weight: 700;
                
                img {
                    width: 35px;
                }
                
                &:focus {
                    outline: none;
                }
                
                &:hover {
                    border-color: #fff;
                }
            }
            
            &:last-child,
            &:first-child {
                a {
                    &:hover {
                        border-color: transparent;
                    }
                }
            }
        }
    }
}

.butik__search__engine {
    padding: 2em 0;
    background: #fff;
    margin-bottom: 24px;
}
.butik__search__engine .container-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.butik__search__engine .butik__search__engine__text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 2px solid #d2d2d2;
    padding: 0 16px;
}
.butik__search__engine .btn.butik__search__engine__cta {
    margin-left: 44px;
    padding-left: 100px !important;
    padding-right: 100px !important;
    width: auto !important;
    margin-bottom: 0;
}
.butik__main-slider {
    padding: 28px 35px;
}

.butik__main-slider .slick-arrow {
    width: 28px;
    height: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
}

.butik__main-slider .slick-arrow.slick-prev {
    left: 30px;
    z-index: 2;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.butik__main-slider .slick-arrow.slick-next {
    right: 30px;
}

.butik__main-slider__content {
    padding: 0 70px;
}
.butik__main-slider__txt {
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    padding: 26px 0;
}

.butik__news h2 {
    display: block;
    color: #000 !important;
    font-size: 1.5em;
    margin: 3.2em 0 1em;
}

.butik__news__slider__item {
    text-align: center;
}

.butik__news__slider__item__image {
    max-width: 282px;
    display: inline-block;
}

.butik__news__slider__item__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.butik__news__slider .slick-arrow {
    width: 18px;
    height: 39px;
    padding: 10px;
    background: none;
    border: none;
}
.butik__main-slider__item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}
.butik__main-slider__item__row .img-box {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 68%;
}
.butik__main-slider__item__row .txt-box {
    font-size: 2em;
    color: #fff;
    line-height: 1.2;
    padding-right: 40px;
    padding-left: 32px;
}
.butik__main-slider__item__row .txt-box .txt {
    margin-bottom: 44px;
}
.butik__main-slider__item__row .txt-box .btn {
    font-size: 0.4em;
}
.container-inner {
    padding: 0 9%;
    background: #fff;
}
.butik__news {
    margin-bottom: 4em;
}
.butik__news__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 72%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.butik__news__images__item {
    margin-right:30px;
    img{
        object-fit: cover;
        width:100%;
        height:100%;
    }
}

.butik__news__images__nav{
    width: 28px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img{
        height:auto !important;
    }

    &.slick-prev{
        left: -30px;
        transform: rotateY(180deg) translateY(-50%);
    }

    &.slick-next{
        right:0;
    }

}

.butik__news__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.butik__news__txt p {
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 20px;
}
.butik__news__txt a {
    color: #000 !important;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1em;
}
.butik__publikacje h2 {
    display: block;
    color: #000 !important;
    font-size: 1.5em;
    margin: 0 0 1em;
}
.butik__publikacje__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3em;
}
.butik .product__item__image img {
    height: 16em;
}
.butik__publikacje .product__item {
    margin-bottom: 0;
}
.butik__publikacje__image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 8.5%;
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.special_edition h2 {
    display: block;
    color: #000 !important;
    font-size: 1.5em;
    margin: 0 0 34px;
}
.special_edition {
    margin-bottom: 80px;
}
.special_edition__box {
    overflow: hidden;
    position: relative;
    height: 21em;
}
.special_edition__box .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
}
.special_edition__box img {
    height: 100%;
}
.special_edition__box img:first-child {
    margin-left: -9%;
}
.special_edition__items {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 17.5%;
    padding-top: 3%;
}
.special_edition__item {
    margin-bottom: 6em;
    max-width: 330px;
}
.special_edition__item:last-child {
    margin-bottom: 0;
}
.special_edition__item .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.6em;
}
.special_edition__item .txt {
    font-size: 1em;
}
.shopping_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 1em;
}
.shopping_box__icons {
    flex-grow: 1;
}
.shopping_box .shopping_box__icons h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000 !important;
    margin-bottom: 26px;
}
.shopping_box .shopping_box__icons .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 96%;
}
.shopping_box .shopping_box__icons .items .item {
    width: 23%;
    margin-right: 10%;
}
.shopping_box .shopping_box__icons .items .item .img-box {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 12px;
}
.shopping_box .shopping_box__icons .items .item .img-box img {
    max-height: 100%;
}
.shopping_box .shopping_box__icons .items .item .txt {
    text-align: center;
    line-height: 1.25;
}
.shopping_box .shopping_box__payments {

}
.shopping_box .shopping_box__payments h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000 !important;
    margin-bottom: 26px;
}
.shopping_box .shopping_box__payments .icons {
    width: 266px;
}
.shopping_box .shopping_box__payments .icons .item {
    float: left;
    padding: 6px 0;
    margin-right: 11px;
    margin-bottom: 11px;
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0, .05);
    box-shadow: 0 0 3px 3px rgba(0,0,0, .05)
}
.shooping__shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.shooping__shop .img-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.shopping__shop__txt {
    background: #eaeaea;
    padding: 47px;
    width: 43%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.shopping__shop__txt h2 {
    font-size: 2em;
    color: #000 !important;
    text-transform: inherit;
}
.shopping__shop__txt p {
    font-size: 20px;
}