.produts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow-x: auto;
}
.produts__items .product__item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
}
.bestsellers h2 {
    display: block;
    color: #000 !important;
    font-size: 26px;
    margin: 44px 15px 34px;
    text-transform: uppercase;
}
.butik__publikacje .product__item p {
    font-size: 1em;
}
.special__products {
    margin-bottom: 2em;
}
.special__products img {
    height: 18em;
}
.special__products h2 {
    display: block;
    color: #000 !important;
    font-size: 26px;
    margin: 0 0 34px;
}
.butik_desc_head {
    margin-bottom: 100px;
}
.butik_desc_head .butik_desc_head__images {
    width: 55%;
}
.butik_desc_head .butik_desc_head_slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.butik_desc_head__content {
    width: 45%;
}
.butik_desc_head__content .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.butik_desc_head__content .quantity .txt {
    margin-right: 60px;
}
.butik_desc_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.butik_desc_head__images .butik_desc_head__thumbs {
    width: 168px;
    margin-right: 20%;
}
.butik_desc_head__images .butik_desc_head__thumbs .slick-slide {
    border: 2px solid transparent;
    margin: 5px;
    width: 113px !important;
    height: 113px;
}
.butik_desc_head__images .butik_desc_head__thumbs .slick-slide img {
    width: 100%;
    height: 100%;
}
.butik_desc_head__images .butik_desc_head__thumbs .slick-slide.slick-current {
    border: 2px solid #97999b;
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0, .1);
    box-shadow: 0 0 5px 5px rgba(0,0,0, .1)
}
.butik_desc_head__images .butik_desc_head__main {
    width: 440px;
    max-width: 60%;
    height: 362px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.butik_desc_head__images .butik_desc_head__main img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.butik_desc_head__images .item {
    width: 158px;
    height: 158px;
    margin-bottom: 18px;
    cursor: pointer;
}
.butik_desc_head__images .butik_desc_head__thumbs img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    
}
.butik_desc_head__content .header {
    
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 1.2;
    display: flex;
    align-items: flex-start;
}
.butik_desc_head__content .header .txt {
    font-size: 2em;
    margin-right: 0.5em;
}
.butik_desc_head__content .header .etiquete {
    margin-top: 0.55em;
}
.butik_desc_head__content .price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 50px;
}
.butik_desc_head__content .price.price--disqount {
    font-weight: normal;
    position: relative;
}
.butik_desc_head__content .price.price--disqount:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: -2px;
    right: -2px;
    height: 2px;
    background-color: #000;
}
.butik_desc_head__content .details {
    padding-left: 16px;
    margin-bottom: 16px;
}
.butik_desc_head__content .avaliable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.butik_desc_head__content .avaliable img {
    margin-right: 16px;
}
.butik_desc_head__content .quantity {
    margin-bottom: 24px;
}
.butik_desc_head__main  {
    padding-right: 100px;
}
.butic_more_info .butic_more_info {
    margin-bottom: 5em;
    margin-top: 4em;
}
.butic_more_info a {
    color: #000 !important;
    text-decoration: underline;
    font-weight: bold;
}
.butic_more_info a:hover {
    text-decoration: none;
}
.butic_more_info .row h2 {
    font-size: 20px;
    color: #000 !important;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    
    margin-bottom: 30px;
}
.colors__choose {
    margin-top: 94px;
    margin-left: 146px;
}
.colors__choose .colors__choose__label {
    margin-bottom: 19px;
}
.colors__choose .colors__choose__label .colors__choose__label__txt {
    font-size: 16px;
}
.colors__choose .colors__choose__label .colors__choose__label__value {
    font-weight: bold;
}
.colors__choose .colors__choose__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.colors__choose .colors__choose__main .colors__choose__item {
    width: 56px;
    height: 56px;
    margin-right: 20px;
    margin-bottom: 0;
    position: relative;
}
.colors__choose .colors__choose__main .colors__choose__item .state {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid transparent;
    cursor: pointer;
}
.colors__choose .colors__choose__main .colors__choose__item input:checked ~ .state {
    border-color: #222;
}
.colors__choose .colors__choose__main .colors__choose__item.colors__choose__item--light_grey .state {
    background-color: #d0d0ce;
}
.colors__choose .colors__choose__main .colors__choose__item.colors__choose__item--grey .state {
    background-color: #98999b;
}
.colors__choose .colors__choose__main .colors__choose__item.colors__choose__item--black .state {
    background-color: #000000;
}
.butik_desc_head__content__foot {
    display: table;
}
.butik_desc_head__content__btn {
    width: 100%;
}