/* .breadcrumbs-home{
    display:flex;
    align-items: center;
    &:before{
        content:'';
        display:block;
        width:15px;
        height:15px;
        margin-right:5px;
        background:url('../../../images-frogriot/svg/home.svg') no-repeat center center;
    }
} */

.butik__search__engine__result__header {
    display: block;
    color: #000 !important;
    font-size: 26px;
    margin: 0 15px 34px;
    text-transform: uppercase;
    padding-top: 50px;
}

.butik__filter{
    background: #fff;
    margin-bottom: 24px;
    padding: 2em 0;
    font-size: 14px;

    select{
        position: static;
        opacity: 1;
        padding-left: 0;
        height: 30px;
        padding: 0 5px;
    }
}

.breadcrumbs--nopadding{
    padding:0;
}

.butik-changeview{
    display:flex;
    align-items: center;
}

.butik-changeview__label{
    margin-right:10px;
}

.butik-changeview__icon{
    cursor: pointer;
    width:15px;
    height:15px;
    margin-right:20px;
    &:last-child{
        margin-right:0;
    }
}

.butik-changeview__select{
    display:flex;
    align-items: center;
    div{
        white-space: nowrap;
        margin-right:10px;
    }
}

.butik-showperpage{
    display:flex;
    align-items: center;
    float:right;
    select{
        margin-left:10px;
        margin-right:10px;
    }
}


.special__products{
    &.list{
        .special__products__item{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .product__item{
            display:flex;
            align-items: center;
            margin-bottom: 0;
        }
        .product__item__image{
            margin-bottom: 0;
        }
    }
}