.data-event__tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 44px !important;
    padding-left: 44px !important;
}
.data-event__available_tickets {
    font-size: 1.3em;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}
.data-event__button {
    width: auto !important;
    white-space: nowrap;
    margin-bottom: 24px !important;
}
.data-event__price {
    width: auto !important;
    position: static !important;
    margin-left: auto;
    text-align: right !important;
}
.data-event .data-event__hour {
    font-size: 22px;
    margin-top: 15px;
}
.data-event .data-event__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 60px;
    border-top: 1px solid #b4b4b4;
    border-left: 1px solid #b4b4b4;
    padding-top: 52px;
}
.data-event__tour:before {
    display: none;
    
}
.data-event .data-event__item:first-child {
    padding-top: 0;
    border-top: none;
}
.data-event .data-event__item h3 {
    font-size: 1.8em;
}
.data-event__events {
    width: 100% !important;
}
.tour__main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    
}
.tour__main-header h1 {
    font-family: 'Helvetica Neue' !important;
}
.tour__filter__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 35px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.tour__filter__header .tour__filter__header__label {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    padding-right: 15px;
    width: 67px;
    text-align: right;
}
.tour__filter__header .category-list-months {
    padding-bottom: 0;
    
}
.month-list, .month-list * {
    cursor: url('../../../images-frogriot/openhand.png') 8 8, move;
}
#events-days-list .drag-left {
    background: url('../../../images-frogriot/drag-left.png') 50% 50% no-repeat !important;
}
#events-days-list .drag-right {
    background: url('../../../images-frogriot/drag-right.png') 50% 50% no-repeat !important;
}
#events-days-list {
    margin-bottom: 0;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
#events-category-list {
    padding-bottom: 0;
}

.tour__head {
    display: table;
    margin: 0 auto;
}
.tour__side {
    padding: 28px;
    background: #fff;
}
.tour__side h2 {
    font-size: 1.4em;
    font-weight: bold;
    color: #000 !important;
}
.tour__side .tour__side__item {
    margin-bottom: 48px;
}
.tour__side .tour__side__item .header {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tour__side .tour__side__item .header .txt {
    margin-left: 5px;
}
.tour__side .tour__side__item .txt {
    font-size: 17px;
}
.tour__side .tour__side__item .txt ul {
    padding-left: 18px;
}
.tour__side .tour__side__item .txt a {
    color: #000 !important;
    display: block;
}
.data-event__item .btn--inactive:hover {
    background-color: #dddddd !important;
    color: #000 !important;
    cursor: default;
}
.data-event__item__delay {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.data-event__tour.data-event__tour--delay .btn {
    padding-left: 26px !important;
    padding-right: 26px !important;
}