.tours .tours__header {
    text-align: center;
    margin-top: 50px;
}

.tours .tours__header h2 {
    font-family: 'Helvetica Neue';
    font-size: 38px;
    margin-bottom: 50px;
}
.tours .tours__content {
    background: #fff;
    padding: 92px 144px;
    margin-bottom: 60px;
}
.tours .tours__content h3 {
    text-transform: uppercase;
}

.tours__details {
    padding-top: 40px;
    list-style: none;
    -webkit-column-count: 2;
    column-count: 2;
    padding-left: 0;
    margin-bottom: 68px;
}

.tours__details .tours__details__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tours__details .tours__details__item .tours__details__item__icon {
    width: 3em;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 2em;
}

.tours__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
    margin-bottom: 30px;
}

.torus__images__item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 0 15px;
    height: 311px;
}
.torus__images__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.tours__foot {
    line-height: 1.6;
}

.tours__foot a {
    color: #000 !important;
}

.tours__foot .tours__foot__header {
    margin-bottom: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tours__foot .tours__foot__header img {
    margin-right: 10px;
}
.tours__layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tours__layout .tours__layout__side {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 26%;
    margin-left: 3em;
}



/***POPUPS***/
.fr-popup--choose_tickets .fr-form__row--last {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.fr-popup--choose_tickets .fr-form__row {
    display: table-row;
}
.fr-popup--choose_tickets .fr-form__col__header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 10px;
}
.fr-popup--choose_tickets .fr-form__col__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fr-popup--choose_tickets .fr-form__col__header img {
    margin-left: 20px;
}
.fr-popup--choose_tickets th.fr-form__col {
    padding: 0 15px 0;
}
.fr-popup--choose_tickets td.fr-form__col {
    padding: 0 15px 41px;
}
.fr-popup--choose_tickets td.fr-form__col .trash {
    cursor: pointer;
}
.fr-popup--choose_tickets select {
    position: static;
    display: block;
    opacity: 1;
    width: 420px;
    height: 1.8em;
    padding-left: 6px;
    font-size: 1em;
    background: #fff;
}
.fr-popup--choose_tickets__price {
    font-size: 18px;
    font-weight: bold;
    padding: 6px 0;
}
.fr-form-row.fr-form-row--extra_row {
    border-top: 1px solid #eaeaea;
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fr-form-row.fr-form-row--extra_row img {
    margin-right: 10px;
}
.fr-popup--choose_tickets__txt {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 16px;
}
.fr-popup--choose_tickets .fr-form--popup .fr-form__h2 {
    color: #000 !important;
    font-size: 1.6em;
    font-weight: bold;
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    margin: 0 0 35px;
}
.choose_tickets_table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: separate;
    border-spacing: 0 20px;
}
.choose_tickets_table .fr-form__row .fr-form__col {
    padding: 0;
}