.main__map__balkon2 .map__main__row--3 {
    margin-top: 3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon2 .map__main__row--3 .side {
    width: 50%;
    margin: 0 3%;
}
.main__map__balkon2 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon2 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon2 .map__main__row--3 .map__main__col--left--1 {
    width: 43%;
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
    padding-bottom: 1.4%;
}

.main__map__balkon2 .map__main__row--3 .map__main__col--right--1 {
    width: 43%;
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    padding-bottom: 1.4%;
}

.main__map__balkon2 .map__main__row--3 .map__main__col--left--2 {
        width: 9.5%;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    margin-right: 61.2%;
    margin-top: -29.5%;
    padding-bottom: 0.1%;
}

.main__map__balkon2 .map__main__row--3 .map__main__col--right--2 {
        width: 9.5%;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    margin-left: 61.2%;
    margin-top: -29.5%;
    padding-bottom: 0.1%;
}

.main__map__balkon2 .map__main__row--3 .map__main__col--left--3 {
         width: 9.5%;
    -webkit-transform: rotate(53deg);
    transform: rotate(53deg);
    margin-right: 71.2%;
    margin-top: -41.9%;
    padding-bottom: 0.1%;

}

.main__map__balkon2 .map__main__row--3 .map__main__col--right--3 {
        width: 9.5%;
    -webkit-transform: rotate(-53deg);
    transform: rotate(-53deg);
    margin-left: 71.2%;
    margin-top: -41.9%;
    padding-bottom: 0.1%;

}

.main__map__balkon2 .map__main__row--3 .map__main__col--left--4 {
        width: 9.3%;
    -webkit-transform: rotate(58deg);
    transform: rotate(58deg);
    margin-right: 79.6%;
    margin-top: -54.6%;

}

.main__map__balkon2 .map__main__row--3 .map__main__col--right--4 {
        width: 9.3%;
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
    margin-left: 79.6%;
    margin-top: -54.6%;

}

.main__map__balkon2 .map__main__row--3 .map__main__col--left--5 {
        width: 7.5%;
    -webkit-transform: rotate(62deg);
    transform: rotate(62deg);
    margin-right: 88.3%;
    margin-top: -67.6%;

}

.main__map__balkon2 .map__main__row--3 .map__main__col--right--5 {
        width: 7.5%;
    -webkit-transform: rotate(-62deg);
    transform: rotate(-62deg);
    margin-left: 88.3%;
    margin-top: -67.6%;

}

.main__map__balkon2 .map__main__row--3 .map__main__col--left--6 {
   width: 9.5%;
    -webkit-transform: rotate(64deg);
    transform: rotate(64deg);
    margin-right: 93.6%;
    margin-top: -81.6%;

}

.main__map__balkon2 .map__main__row--3 .map__main__col--right--6 {
    width: 9.5%;
    -webkit-transform: rotate(-64deg);
    transform: rotate(-64deg);
    margin-left: 93.6%;
    margin-top: -81.6%;

}

