.main__map__balkon2 .map__main__row--5 {
    margin-top: 4.5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon2 .map__main__row--5 .side {
    width: 50%;
    margin: 0 3.1%;
}
.main__map__balkon2 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon2 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon2 .map__main__row--5 .map__main__col--left--1 {
    width: 39%;
    -webkit-transform: rotate(16deg);
    transform: rotate(16deg);
    padding-bottom: 1.3%;
}

.main__map__balkon2 .map__main__row--5 .map__main__col--right--1 {
    width: 39%;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
    padding-bottom: 1.3%;
}

