.main__map__balkon2 .map__main__row--1 {
    margin-top: -5.7%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon2 .map__main__row--1 .side {
    width: 50%;
    margin: 0 0.6%;
}
.main__map__balkon2 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon2 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--1 {
    width: 52%;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    padding-bottom: 2.8%;
}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--1 {
    width: 52%;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    padding-bottom: 2.8%;
}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--2 {
        width: 4.5%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-right: 53.2%;
    margin-top: -14.5%;
    padding-bottom: 0.1%;
}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--2 {
       width: 4.5%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 53.2%;
    margin-top: -14.5%;
    padding-bottom: 0.1%;
}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--3 {
        width: 4.5%;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    margin-right: 59.2%;
    margin-top: -20.9%;
    padding-bottom: 0.1%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--3 {
    width: 4.5%;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    margin-left: 59.2%;
    margin-top: -20.9%;
    padding-bottom: 0.1%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--4 {
    width: 4.3%;
    -webkit-transform: rotate(52deg);
    transform: rotate(52deg);
    margin-right: 64.6%;
    margin-top: -27.6%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--4 {
    width: 4.3%;
    -webkit-transform: rotate(-52deg);
    transform: rotate(-52deg);
    margin-left: 64.6%;
    margin-top: -27.6%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--5 {
        width: 5.5%;
    -webkit-transform: rotate(57deg);
    transform: rotate(57deg);
    margin-right: 69.3%;
    margin-top: -35.6%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--5 {
        width: 5.5%;
    -webkit-transform: rotate(-57deg);
    transform: rotate(-57deg);
    margin-left: 69.3%;
    margin-top: -35.6%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--6 {
     width: 2.3%;
    -webkit-transform: rotate(59deg);
    transform: rotate(59deg);
    margin-right: 74.6%;
    margin-top: -41.6%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--6 {
    width: 2.3%;
    -webkit-transform: rotate(-59deg);
    transform: rotate(-59deg);
    margin-left: 74.6%;
    margin-top: -41.6%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--7 {
    width: 6%;
    -webkit-transform: rotate(63deg);
    transform: rotate(63deg);
    margin-right: 77%;
    margin-top: -49.6%;


}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--7 {
    width: 6%;
    -webkit-transform: rotate(-63deg);
    transform: rotate(-63deg);
    margin-left: 77%;
    margin-top: -49.6%;


}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--8 {
    width: 2.2%;
    -webkit-transform: rotate(64deg);
    transform: rotate(64deg);
    margin-right: 81.8%;
    margin-top: -56%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--8 {
    width: 2.2%;
    -webkit-transform: rotate(-64deg);
    transform: rotate(-64deg);
    margin-left: 81.8%;
    margin-top: -56%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--9 {
    width: 6%;
    -webkit-transform: rotate(67deg);
    transform: rotate(67deg);
    margin-right: 83.4%;
    margin-top: -64%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--9 {
    width: 6%;
    -webkit-transform: rotate(-67deg);
    transform: rotate(-67deg);
    margin-left: 83.4%;
    margin-top: -64%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--10 {
        width: 2.2%;
    -webkit-transform: rotate(68deg);
    transform: rotate(68deg);
    margin-right: 88%;
    margin-top: -71%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--10 {
        width: 2.2%;
    -webkit-transform: rotate(-68deg);
    transform: rotate(-68deg);
    margin-left: 88%;
    margin-top: -71%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--left--11 {
    width: 2.2%;
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    margin-right: 90%;
    margin-top: -76.5%;

}

.main__map__balkon2 .map__main__row--1 .map__main__col--right--11 {
     width: 2.2%;
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
    margin-left: 90%;
    margin-top: -76.5%;

}


