.main__map__balkon2 .map__main__row--4 {
    margin-top: 0.5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon2 .map__main__row--4 .side {
    width: 50%;
    margin: 0 3.8%;
}
.main__map__balkon2 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon2 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon2 .map__main__row--4 .map__main__col--left--1 {
    width: 56%;
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
    padding-bottom: 2.3%;
}

.main__map__balkon2 .map__main__row--4 .map__main__col--right--1 {
    width: 56%;
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
    padding-bottom: 2.3%;
}

.main__map__balkon2 .map__main__row--4 .map__main__col--left--2 {
    width: 3%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    padding-bottom: 2.3%;
    margin-right: 10%;
    margin-top: -25%;
}

.main__map__balkon2 .map__main__row--4 .map__main__col--right--2 {
    width: 3%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    padding-bottom: 2.3%;
    margin-left: 10%;
    margin-top: -25%;
}

