.main__map__balkon1 .map__main__row--2 {
    margin-top: 1.8%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon1 .map__main__row--2 .side {
    width: 50%;
    margin: 0 2.3%;
}
.main__map__balkon1 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon1 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon1 .map__main__row--2 .map__main__col--left--1 {
    width: 10.7%;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}

.main__map__balkon1 .map__main__row--2 .map__main__col--right--1 {
    width: 10.7%;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.main__map__balkon1 .map__main__row--2 .map__main__col--left--2 {
    width: 7.5%;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-right: 17.2%;
    margin-top: -3%;
}

.main__map__balkon1 .map__main__row--2 .map__main__col--right--2 {
    width: 7.5%;
    -webkit-transform: rotate(166deg);
    transform: rotate(166deg);
    margin-left: 17.2%;
    margin-top: -3%;
}

.main__map__balkon1 .map__main__row--2 .map__main__col--left--3 {
        width: 2.5%;
    -webkit-transform: rotate(21deg);
    transform: rotate(21deg);
    margin-right: 27.5%;
    margin-top: -5.4%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--right--3 {
        width: 2.5%;
    -webkit-transform: rotate(159deg);
    transform: rotate(159deg);
    margin-left: 27.5%;
    margin-top: -5.4%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--left--4 {
    width: 7.5%;
    -webkit-transform: rotate(70deg);
    transform: rotate(29deg);
    margin-right: 35.5%;
    margin-top: -10.4%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--right--4 {
    width: 7.5%;
    -webkit-transform: rotate(153deg);
    transform: rotate(153deg);
    margin-left: 35.5%;
    margin-top: -10.4%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--left--5 {
    width: 2.5%;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
    margin-right: 45.3%;
    margin-top: -14.6%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--right--5 {
    width: 2.5%;
    -webkit-transform: rotate(147deg);
    transform: rotate(147deg);
    margin-left: 45.3%;
    margin-top: -14.6%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--left--6 {
        width: 5%;
    -webkit-transform: rotate(41deg);
    transform: rotate(41deg);
    margin-right: 51.3%;
    margin-top: -20.6%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--right--6 {
    width: 5%;
    -webkit-transform: rotate(141deg);
    transform: rotate(141deg);
    margin-left: 51.3%;
    margin-top: -20.6%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--left--7 {
    width: 57%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    margin-right: 49%;
    margin-top: -50.6%;
    padding-bottom: 2.1%;

}

.main__map__balkon1 .map__main__row--2 .map__main__col--right--7 {
    width: 57%;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    margin-left: 49%;
    margin-top: -50.6%;
    padding-bottom: 2.1%;

}

