.main__map__balkon1 .map__main__row--3 {
    margin-top: 1.8%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon1 .map__main__row--3 .side {
    width: 50%;
    margin: 0 2.3%;
}
.main__map__balkon1 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon1 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon1 .map__main__row--3 .map__main__col--left--1 {
        width: 46%;
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
    margin-right: 10.3%;
    margin-top: -8.6%;
    padding-bottom: 1.8%;
}

.main__map__balkon1 .map__main__row--3 .map__main__col--right--1 {
        width: 46%;
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
    margin-left: 10.3%;
    margin-top: -8.6%;
    padding-bottom: 1.8%;
}

.main__map__balkon1 .map__main__row--3 .map__main__col--left--2 {
        width: 10%;
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
    margin-right: 66.3%;
    margin-top: -30.6%;
}

.main__map__balkon1 .map__main__row--3 .map__main__col--right--2 {
        width: 10%;
    -webkit-transform: rotate(-48deg);
    transform: rotate(-48deg);
    margin-left: 66.3%;
    margin-top: -30.6%;
}

.main__map__balkon1 .map__main__row--3 .map__main__col--left--3 {
        width: 8%;
    -webkit-transform: rotate(58deg);
    transform: rotate(58deg);
    margin-right: 76.6%;
    margin-top: -44.6%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--right--3 {
    width: 8%;
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
    margin-left: 76.6%;
    margin-top: -44.6%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--left--4 {
       width: 10%;
    -webkit-transform: rotate(66deg);
    transform: rotate(66deg);
    margin-right: 84.3%;
    margin-top: -58.6%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--right--4 {
     width: 10%;
    -webkit-transform: rotate(-66deg);
    transform: rotate(-66deg);
    margin-left: 84.3%;
    margin-top: -58.6%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--left--5 {
    width: 9%;
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
    margin-right: 90.3%;
    margin-top: -74.6%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--right--5 {
    width: 9%;
    -webkit-transform: rotate(-72deg);
    transform: rotate(-72deg);
    margin-left: 90.3%;
    margin-top: -74.6%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--left--6 {
    width: 8%;
    -webkit-transform: rotate(77deg);
    transform: rotate(77deg);
    margin-right: 95.3%;
    margin-top: -89.6%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--right--6 {
    width: 8%;
    -webkit-transform: rotate(-77deg);
    transform: rotate(-77deg);
    margin-left: 95.3%;
    margin-top: -89.6%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--left--7 {
    width: 57%;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    margin-right: 49%;
    margin-top: -50.6%;
    padding-bottom: 2.1%;

}

.main__map__balkon1 .map__main__row--3 .map__main__col--right--7 {
    width: 57%;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    margin-left: 49%;
    margin-top: -50.6%;
    padding-bottom: 2.1%;

}

