.main__map__balkon1 .map__main__row--1 {
    margin-top: -1.7%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon1 .map__main__row--1 .side {
    width: 50%;
    margin: 0 2.3%;
}
.main__map__balkon1 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon1 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--1 {
    width: 10.7%;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--1 {
    width: 10.7%;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--2 {
    width: 7.5%;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-right: 16.2%;
    margin-top: -3%;
}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--2 {
    width: 7.5%;
    -webkit-transform: rotate(166deg);
    transform: rotate(166deg);
    margin-left: 16.2%;
    margin-top: -3%;
}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--3 {
        width: 2.5%;
    -webkit-transform: rotate(21deg);
    transform: rotate(21deg);
    margin-right: 26.5%;
    margin-top: -5.4%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--3 {
        width: 2.5%;
    -webkit-transform: rotate(159deg);
    transform: rotate(159deg);
    margin-left: 26.5%;
    margin-top: -5.4%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--4 {
    width: 7.5%;
    -webkit-transform: rotate(70deg);
    transform: rotate(29deg);
    margin-right: 33.5%;
    margin-top: -10.4%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--4 {
    width: 7.5%;
    -webkit-transform: rotate(153deg);
    transform: rotate(153deg);
    margin-left: 33.5%;
    margin-top: -10.4%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--5 {
    width: 2.5%;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
    margin-right: 43.3%;
    margin-top: -14.6%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--5 {
    width: 2.5%;
    -webkit-transform: rotate(147deg);
    transform: rotate(147deg);
    margin-left: 43.3%;
    margin-top: -14.6%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--6 {
        width: 5%;
    -webkit-transform: rotate(41deg);
    transform: rotate(41deg);
    margin-right: 50.3%;
    margin-top: -20.6%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--6 {
    width: 5%;
    -webkit-transform: rotate(141deg);
    transform: rotate(141deg);
    margin-left: 50.3%;
    margin-top: -20.6%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--7 {
    width: 5%;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    margin-right: 57.3%;
    margin-top: -27.6%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--7 {
    width: 5%;
    -webkit-transform: rotate(136deg);
    transform: rotate(136deg);
    margin-left: 57.3%;
    margin-top: -27.6%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--8 {
    width: 5%;
    -webkit-transform: rotate(52deg);
    transform: rotate(52deg);
    margin-right: 63.3%;
    margin-top: -35%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--8 {
    width: 5%;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
    margin-left: 63.3%;
    margin-top: -35%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--9 {
    width: 5%;
    -webkit-transform: rotate(56deg);
    transform: rotate(56deg);
    margin-right: 68.8%;
    margin-top: -43%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--9 {
    width: 5%;
    -webkit-transform: rotate(124deg);
    transform: rotate(124deg);
    margin-left: 68.8%;
    margin-top: -43%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--10 {
    width: 7.5%;
    -webkit-transform: rotate(70deg);
    transform: rotate(63deg);
    margin-right: 73%;
    margin-top: -52%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--10 {
    width: 7.5%;
    -webkit-transform: rotate(119deg);
    transform: rotate(119deg);
    margin-left: 73%;
    margin-top: -52%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--11 {
    width: 2.5%;
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    margin-right: 79%;
    margin-top: -60%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--11 {
    width: 2.5%;
    -webkit-transform: rotate(111deg);
    transform: rotate(111deg);
    margin-left: 79%;
    margin-top: -60%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--12 {
    width: 7.5%;
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    margin-right: 80%;
    margin-top: -69%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--12 {
    width: 7.5%;
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
    margin-left: 80%;
    margin-top: -69%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--13 {
    width: 2.5%;
    -webkit-transform: rotate(77deg);
    transform: rotate(77deg);
    margin-right: 85%;
    margin-top: -78%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--13 {
    width: 2.5%;
    -webkit-transform: rotate(102deg);
    transform: rotate(102deg);
    margin-left: 85%;
    margin-top: -78%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--14 {
    width: 7.5%;
    -webkit-transform: rotate(81deg);
    transform: rotate(81deg);
    margin-right: 84.4%;
    margin-top: -87.3%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--14 {
    width: 7.5%;
    -webkit-transform: rotate(100deg);
    transform: rotate(100deg);
    margin-left: 84.4%;
    margin-top: -87.3%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--left--15 {
    width: 2.5%;
    -webkit-transform: rotate(86deg);
    transform: rotate(86deg);
    margin-right: 88.2%;
    margin-top: -97.3%;

}

.main__map__balkon1 .map__main__row--1 .map__main__col--right--15 {
    width: 2.5%;
    -webkit-transform: rotate(94deg);
    transform: rotate(94deg);
    margin-left: 88.2%;
    margin-top: -97.3%;

}


.main__map__balkon1 .map__main__row--1 .map__main__col--left--16 {
    width: 2.5%;
    -webkit-transform: rotate(91deg);
    transform: rotate(91deg);
    margin-right: 88.5%;
    margin-top: -106.3%;

}
.main__map__balkon1 .map__main__row--1 .map__main__col--right--16 {
    width: 2.5%;
    -webkit-transform: rotate(91deg);
    transform: rotate(91deg);
    margin-left: 88.5%;
    margin-top: -106.3%;

}
