.main__map__balkon1 .map__main__row--7 {
    margin-top: 1.8%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon1 .map__main__row--7 .side {
    width: 50%;
    margin: 0 2.3%;
}
.main__map__balkon1 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon1 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon1 .map__main__row--7 .map__main__col--left--1 {
    width: 2.4%;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-right: 30%;
    margin-top: -1.9%;
    padding-bottom: 0.1%;
}

.main__map__balkon1 .map__main__row--7 .map__main__col--right--1 {
    width: 2.4%;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    margin-left: 30%;
    margin-top: -1.9%;
    padding-bottom: 0.1%;
}




