.main__map__balkon1 .map__main__row--4 {
    margin-top: 1.8%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon1 .map__main__row--4 .side {
    width: 50%;
    margin: 0 2.3%;
}
.main__map__balkon1 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon1 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon1 .map__main__row--4 .map__main__col--left--1 {
        width: 52.5%;
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
    margin-right: 6.3%;
    margin-top: -8.6%;
    padding-bottom: 1.8%;
}

.main__map__balkon1 .map__main__row--4 .map__main__col--right--1 {
        width: 52.5%;
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
    margin-left: 6.3%;
    margin-top: -8.6%;
    padding-bottom: 1.8%;
}

.main__map__balkon1 .map__main__row--4 .map__main__col--left--2 {
    width: 10%;
    -webkit-transform: rotate(48deg);
    transform: rotate(48deg);
    margin-right: 69%;
    margin-top: -32.4%;
}

.main__map__balkon1 .map__main__row--4 .map__main__col--right--2 {
    width: 10%;
    -webkit-transform: rotate(-48deg);
    transform: rotate(-48deg);
    margin-left: 69%;
    margin-top: -32.4%;
}

.main__map__balkon1 .map__main__row--4 .map__main__col--left--3 {
        width: 8%;
    -webkit-transform: rotate(58deg);
    transform: rotate(58deg);
    margin-right: 79.6%;
    margin-top: -46.6%;

}

.main__map__balkon1 .map__main__row--4 .map__main__col--right--3 {
        width: 8%;
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
    margin-left: 79.6%;
    margin-top: -46.6%;

}



