.main__map__balkon1 .map__main__row--6 {
    margin-top: 1.8%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}
.main__map__balkon1 .map__main__row--6 .side {
    width: 50%;
    margin: 0 2.3%;
}
.main__map__balkon1 .map__main__row .side__left .map__main__col {
    float: right;
}

.main__map__balkon1 .map__main__row .side__right .map__main__col {
    float: left;
}

.main__map__balkon1 .map__main__row--6 .map__main__col--left--1 {
        width: 10%;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    margin-right: 12%;
    margin-top: 2.1%;
    padding-bottom: 0.1%;
}

.main__map__balkon1 .map__main__row--6 .map__main__col--right--1 {
    width: 10%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    margin-left: 12%;
    margin-top: 2.1%;
    padding-bottom: 0.1%;
}

.main__map__balkon1 .map__main__row--6 .map__main__col--left--2 {
     width: 10%;
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
    margin-right: 27%;
    margin-top: -2.2%;
    padding-bottom: 0.05%;
}

.main__map__balkon1 .map__main__row--6 .map__main__col--right--2 {
    width: 10%;
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
    margin-left: 27%;
    margin-top: -2.2%;
    padding-bottom: 0.05%;
}

.main__map__balkon1 .map__main__row--6 .map__main__col--left--3 {
       width: 10%;
    -webkit-transform: rotate(28deg);
    transform: rotate(28deg);
    margin-right: 41%;
    margin-top: -8.3%;
    padding-bottom: 0.1%;

}

.main__map__balkon1 .map__main__row--6 .map__main__col--right--3 {
        width: 10%;
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
    margin-left: 41%;
    margin-top: -8.3%;
    padding-bottom: 0.1%;

}

.main__map__balkon1 .map__main__row--6 .map__main__col--left--4 {
    width: 7.5%;
    -webkit-transform: rotate(37deg);
    transform: rotate(37deg);
    margin-right: 54.6%;
    margin-top: -16.4%;
    padding-bottom: 0%;

}

.main__map__balkon1 .map__main__row--6 .map__main__col--right--4 {
    width: 7.5%;
    -webkit-transform: rotate(-37deg);
    transform: rotate(-37deg);
    margin-left: 54.6%;
    margin-top: -16.4%;
    padding-bottom: 0%;

}



