.donations{
    padding:4em;
    background-color:#eaeaea;

    @include el('header'){
        font-size: 1em;
        font-weight: 700;
        margin: 0;
        margin-bottom:1em;
        color:#000 !important;
    }

    @include el('text'){
        font-size:1em;
        line-height: 1.2;
        margin-top:12px;
        padding:0;
        margin-bottom: 3em;
    }

    @include el('selected'){
        font-size:1em;
        line-height: 1.2;
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        a{
            margin-left:0.5em;
        }
    }

    @include el('label'){
        font-size:1em;
        display:block;
        margin-bottom: 11px;
    }

    @include el('input-wrapper'){
        display: flex;
        align-items: center;
        &:after{
            content: "PLN";
            margin-left:15px;
            font-size: 1.2em;
        }
    }

    @include el('input'){
        width:100%;
        height: 1.4em;
        border:2px solid #d9d9d9;
        font-size:1.2em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include el('options'){
        display:flex;
        align-items: center;
        height: 1.6em;
        a{
            padding-bottom: 0 !important;
            margin-left:1em;
            font-size: 0.8em;
            white-space: nowrap;
            font-weight: bold;
            &:first-child{
                margin-left:0;
            }
        }
    }

}