.lockbar{

    min-height: 3em;
    background-color: #e4ddbb;
    border-top: 1px solid #d1c1a8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.8em 7.7em;

    @include el('inner'){
        display: flex;
    }

    @include el('clock'){
        display: flex;
        align-items: center;
        width: 1.7em;

        & > div{
            margin-left: 0.5em;
            font-size: 1.7em;
            font-weight: 700;
        }

    }

    p{
        margin-left: 7.7em;
        font-size: 0.9em;
    }

    @include mod('warning'){
        background-color:#ebd1c6;
        border-top:1px solid #ebd1c6;
    }

}