/*koszyk nav*/

.fr-nav{
    padding-top: 30px;

    .fr-logo {
        width: 92px;
    }
    
    .fr-cart-wrapper {
        margin-left: auto;
        position: relative;
        
        &:hover {
            .fr-cart-short {
                opacity: 1;
                visibility: visible;
                transition: 0.3s;
                top: 100%;
            }
        }
        
        .fr-cart-short {
            opacity: 0;
            visibility: hidden;
            width: 340px;
            position: absolute;
            top: calc(100% - 15px);
            right: 15px;
            padding: 20px 42px 40px;
            background-color: #fff;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
            font-size: 16px;
            
            .cart-short__header {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            
            .cart-short__items {
                padding-bottom: 6px;
                
                .short-cart-item {
                    margin-bottom: 22px;
                    
                    .short-cart-item__header {
                        margin-bottom: 8px;
                        font-weight: bold;
                        text-align: left;
                    }
                    
                    .short-cart-item__content {
                        display: flex;
                        
                        .img-box {
                            width: 63px;
                            height: 63px;
                            margin-right: 11px;
                            flex-shrink: 0;
                            
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        
                        .content-box {
                            text-align: left;
                            
                            .name {
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            .price-prev {
                                display: inline-block;
                                margin-right: 22px;
                                position: relative;
                                
                                &:before {
                                    position: absolute;
                                    content: "";
                                    display: block;
                                    left: -1px;
                                    right: -1px;
                                    top: 50%;
                                    height: 1px;
                                    background-color: #000;
                                }
                            }
                            .price {
                                font-weight: bold;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            
            .short-cart-summary {
                border-top: 1px solid #dcdcdc;
                text-align: left;
                padding-top: 15px;
                
                .header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 28px;
                    
                    .txt {
                        font-weight: bold;
                    }
                    
                    .price {
                        font-weight: bold;
                    }
                }
                
                .content {
                    a {
                        width: 100%;
                        font-size: 13px;
                        margin-bottom: 14px;
                        margin-left: 0 !important;
                        
                        &:last-child {
                            margin-bottom: 0;
                        }
                        
                        &.btn--white {
                            &:hover {
                                background-color: #000 !important;
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fr-lang-switch{
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    display: block;
    color:#fff !important;
    font-size: 17px;
    font-weight: 700;
    margin-left:24px;
    line-height: 1;
    text-decoration: none;
}

.fr-lang-switch:hover{
    text-decoration: none;
}

.fr-cart__label {
    display: block;
}

.fr-cart {
    text-align: center;

    img {
        margin: 0 auto;
    }
} 

.fr-myacc {
    img {
        margin: 0 auto;
    }
}

.fr-cart,
.fr-myacc{
    display: block;
    position: relative;
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    color:#fff !important;
    font-size: 17px;
    margin-left:auto;
    text-align: center;
}

.fr-cart__counter{
    position: absolute;
    top:0;
    right:0;
    border-radius: 50%;
    background-color:#c8ba77;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width:23px;
    height:23px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23px;
    flex: 0 0 23px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#000;
    font-weight: 700;
}

.fr-myacc{
    font-weight: 700;
    margin-left:33px;
    margin-right:0;
}