.ordersumm{
    
    .pr-30{
        padding-right:30px;
    }

    .pl-30{
        padding-left:30px;
    }

    @include el('header'){
        display: block;
        width:100%;
        padding-bottom: 60px;
        margin-bottom: 0 !important;
    }

    @include el('row-wrp'){

        border-top: 1px solid #d9d9d9;
        font-size: 1em;
        padding: 1em;

        @include mod('color'){

            font-size:1.2em;
            background-color:#e4ddbb;

        }

    }

    @include el('btns'){
        display:flex;
        margin-top:75px;
    }

}