.cart-hideprice {
    margin-bottom: 40px;
}


.cart-prod{

    display: flex;
    align-items: center;
    margin-bottom: 1.6em;
    color:#000;

    @include el('thumb'){
        flex: 0 0 5.5em;
        width: 5.5em;
        height: 5.5em;
        margin-right: 2em;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            max-width: 100%;
            max-height:100%;
            height:auto;
            width:auto;
        }

    }

    @include el('content'){

        h3{
            font-size: 1em;
            font-weight: 700;
            margin-top:0;
            margin:0;
        }

        p{
            font-size: 0.8em;
            padding-bottom: 10px;
            margin-top:20px;

            &:last-child{
                padding-bottom: 0;
                margin-top:0px;
            }

        }

    }

}

.cart-table{
    color:#000;

    @include el('row'){
        margin-bottom: 30px;
    }

    @include el('discount-type'){
        display: flex;
        align-items: center;

        img{
            margin-left:20px;
        }

    }

    @include el('sit'){
        position: relative;
        min-height: 100%;
        display: flex;
        align-items: center;
        padding-left:25px;

        @include mod('icon'){
            &:before{
                content:'';
                display: block;
                width:4px;
                height:100%;
                background-color:#000;
                position: absolute;
                top:0;
                left:0;
            }
        }

    }

    @include el('separator'){
        width:100%; 
        height:1px; 
        background-color:#d9d9d9; 
        margin-top:15px; 
        margin-bottom:0px;

        @include mod('bottom'){
            margin-top:30px;
        }

    }

    @include el('separator-2'){
        border-bottom: 4px solid #d9d9d9;
        margin-bottom: 25px;
    }

    @include el('price'){
        position: relative;
        padding-right:60px;
        white-space: nowrap;

        a{
            position: absolute;
            right:8px;
        }

        strong{
            margin-left: auto;
            margin-right: 1.5em;
        }

    }

    @include el('summary'){
        font-size:1.4em;
        margin-top:2em;
        margin-bottom: 40px;

        @include mod('mb-0'){
            margin-bottom: 0;
        }

        .cart-table__price strong {
            margin-right: 1em;
        }

    }
    
    @include mod('no-margin-border'){
        border:0;
        margin-bottom: 0;
    }

}