.recprod{

    padding: 6em 0;

    @include el('inner'){
        display:flex;
        align-items: center;
        margin-top:15px;
    }

    @include el('item'){
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @include el('thumb'){
        height:342px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    @include el('title'){
        font-size:0.9em;
        margin-top:45px;
        text-align: center;
    }

    @include el('price'){
        font-weight: 700;
        font-size:1.2em;
        margin:25px 0;
    }

}