.souvenir{
    padding: 60px 0 100px;
    background-color: #eaeaea;
    margin-bottom: 130px;
    margin-top: 50px;

    @include el('header'){
        font-size: 1.8em;
        font-weight: 700;
        margin: 0;
        color:#000 !important;
        padding: 0 30px;
    }

    @include el('text'){
        font-size:1.2em;
        line-height: 1.2;
        margin-top:12px;
        padding:0 30px;
        margin-bottom: 50px;
    }

    @include el('inner'){
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top:15px;
    }

    @include el('item'){
        width:33%;
        flex: 0 0 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @include el('thumb'){
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include el('title'){
        font-size:1.2em;
        margin-top:30px;
        text-align: center;
    }

    @include el('price'){
        font-weight: 700;
        font-size:1.2em;
        margin:25px 0;
    }

}