.subscription{

    @include el('header'){
        font-size: 1.8em;
        font-weight: 700;
        margin-top:55px;
        margin-bottom: 35px;
    }

    @include el('item'){
        margin-bottom: 80px;

        .abonaments__dates__slider{
            margin-bottom: 45px;
        }

    }

    @include el('gift'){
        display: flex;
        align-items: center;
        margin-bottom: 130px;

        p{
            margin-left:58px;
            font-size: 1.2em;
        }

    }

}