.cart-tabs{
    justify-content: space-between;

    @include el('item'){

        flex:1;
        border-right:1px solid #d9d9d9;

        a{
            border:0 !important;
            outline:0;
            border-top-left-radius:0 !important;
            border-top-right-radius:0 !important;
            padding:0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            min-height: 100%;
            height:5.1em;
            background-color:#fff;
            color:#000 !important;
            font-size: 1.2em;
            line-height: 1.2;
            font-weight: 700;

            & > span{
                display: flex;
            }

            span.first{
                margin-right:10px;
            }

            &.active{
                background-color:#d9d9d9 !important;
            }

        }

        @include mod('last'){
            border-right:0;
        }
    }

}