@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wuqr1a');
  src:  url('fonts/icomoon.eot?wuqr1a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wuqr1a') format('truetype'),
    url('fonts/icomoon.woff?wuqr1a') format('woff'),
    url('fonts/icomoon.svg?wuqr1a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-UltraLigExt.woff2') format('woff2'),
        url('HelveticaNeue-UltraLigExt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}


@font-face {
  font-family: 'CenturyGothic';
  src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('CenturyGothic.woff') format('woff'), url('CenturyGothic.ttf')  format('truetype'), url('CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-trash:before {
  content: "\e900";
}
