/*Twoje konto*/
.fr-label{
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    font-size: 1.4em;
    font-weight: 700;
}

.fr-transactions{

    margin-bottom: 40px;

    @include el('item'){
        
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
            padding-bottom: 0;
        }

        @include mod('no-border'){
            border:0;
        }

    }
    @include el('col'){
        margin-bottom: 27px;
    }
    @include el('btn'){
        cursor: pointer;
        border-radius: 4px;
        background-color: #fff;
        border: 4px solid #000;
        min-height: 80px;
        outline: 0;
        font-family: CenturyGothicW02,Arial,Tahoma,Helvetica;
        color: #000;
        font-size: 1.4em;
        font-weight: 700;
        text-align: center;
        margin-top: 13px;
        margin-bottom: 40px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}