/*cart*/

@import "parts/cart/navbar";
@import "parts/cart/tabs";
@import "parts/cart/lockbar";
@import "parts/cart/prodtable";
@import "parts/cart/donations";
@import "parts/cart/recprod";
@import "parts/cart/ordersumm";

@import "parts/cart/subscription";
@import "parts/cart/souvenir";

.cart-form{
    background-color:#fff;
    padding:62px 0;
}

.cart-container{
    max-width: 1166px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @include mod('borders'){
        padding: 30px 15px;
        border: 1px solid #d9d9d9;
    }

}



.fr-form__select--2{
    border: 2px solid #d5d5d5;
    width: 100%;
    height: 48px;
    font-size: 1.2em;
    padding: 0 10px;
}


.fr-checkbox--2{
    margin: 0;
    padding: 25px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 30px;
}

.fr-checkbox__state--2{
    width:48px;
    height:48px;
    flex: 0 0 48px;
}

.fr-checkbox__content--2{
    font-size: 1.2em;
}

.cart-error{
    color:#ff0000;
    text-decoration: underline;
}


