html body {
    margin: 0;
    font-family: 'CenturyGothic';
}

.container__inner {
    background: #fff;
}

.container__inner__gap {
    padding: 0 8.3%;
}

.pb-10 {
    padding-bottom: 10px;
}

.mobile-page {
    padding-top: 80px;
}

.container__inner__gap--vertical {
    padding-top: 5em;
    padding-bottom: 5em;
}

.container__inner__gap--left {
    padding-left: 8.3%;
    padding-right: 1.3%;
}

.container__narrow {
    width: 560px;
    margin: 0 auto;
}

.page__main {
    padding-top: 155px;
    padding-bottom: 100px;
}

p {
    font-size: 1em;
    line-height: 1.5;
}
ul {
    font-size: 14px;
    padding-left: 16px;
}

img {
    display: block;
    max-width: 100%;
}

.padding-top-35 {
    padding-top: 35px;
}

.btn {
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn.btn--large {
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    cursor: pointer;
    line-height: 1.2;
    padding: 0.7em !important;
    font-size: 1em !important;
    border: none;
}

.btn.btn--short {
    display: inline-block;
    width: auto;
    padding-left: 44px;
    padding-right: 44px;
}

.btn.btn--grey {
    background-color: #dddddd;
}

.btn.btn--grey:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.btn.btn--black {
    background-color: #000 !important;
    color: #fff !important;
}

.btn.btn--black:hover {
    color: #000 !important;
    background-color: #dddddd !important;
}

.btn.btn--brown {
    background: #cabc77 !important;
}

.btn.btn--brown:hover {
    color: #fff !important;
    background: #000 !important;
}

.btn.btn--white {
    background: #ffffff !important;
}

p {
    color: #000 !important;
}

*[x-apple-data-detectors] {
    border-bottom: 0 !important;
    cursor: default !important;
    color: inherit !important;
    text-decoration: none !important;
}
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

.fr-cart {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff !important;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0 !important;
    margin-top: 24px;
}
.fr-cart__counter {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: #c8ba77;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 23px;
    height: 23px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23px;
    flex: 0 0 23px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    font-weight: 700;
}
.fr-popup .btn {
    padding: 0.7em;
    font-size: 1em;
}

.icon-info {
    width: 24px;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
select {
    -webkit-appearance: none;
    border-radius: 0;
    
}

select {
    background: none;
}

select {
    background: #fff url(../../../images-frogriot/arrow-select.png) calc(100% - 16px) 50%/16px no-repeat !important;
}



/*** toggle IOS ***/

.checkbox-label{
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    width: 2.8em;
    height: 1.2em;
    border-radius: 18px;
}
.checkbox-label:before{
    line-height: 0;
    text-indent: 40px;
    height: 0.6em;
    width: 0.6em;
    border-radius: 100%;
    top: 0.15em;
    left: 0.2em;
}
.checkbox-label:after{
    left:-300px;
    padding:10px;
    height:100%;
    width:300px;
}


/*** toggle IOS end ***/


.mobile-xs-d-none,
.mobile-sm-d-none,
.mobile-md-d-none {
    display: none;
}



.tooltip-box {
    cursor: pointer;
}
.tooltip-inner {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #000;
}

.tooltip-inner ul {
    font-size: 14px;
    list-style: disc;
    margin-left: 17px;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-box {
    margin-top: 0 !important;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #fff !important;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #fff !important;
    left: 0;
    top: 3px;
}

.collapse-form {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;

    .collapse-inner {
        padding-bottom: 40px;
    }
}