/*historia zamowienia*/

.fr-summ-header{
    margin-bottom: 13px;

    @include el('btn'){
        text-align: left;
        font-size: inherit;
        font-weight: 700;
        background: none;
        border: 0;
        outline: 0;
        padding: 0;
        cursor: pointer;
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:100%;

        &:after{
            content:"\f107";
            font-family: 'FontAwesome';
            color:#000;
            font-size: 26px;
            transform: rotate(180deg);
            transition: all .3s ease-in-out;
        }

        &.collapsed{
            &:after{
                transform: rotate(0);
            }
        }

    }

    @include mod('accordion'){
        margin-bottom: 0;
    }

}

#podsumowanie > .fr-summ{
    margin-top:13px;
}

.fr-mb-15{
    margin-bottom: 15px;
}

.fr-summ{
    line-height: 1.6;
    margin-bottom:55px;
}

.fr-summ--last{
    margin-bottom: 0;
}

.fr-summ-sepa:after{
    content:'';
    display:block;
    height:2px;
    background-color:#d9d9d9;
    width: calc(100% - 18px);
    margin:15px auto;
}

.fr-summ-sepa--x2:after{
    height:4px;
}

.fr-tickets{
    display:flex;
    align-items: center;
    font-size: 18px;
}

.fr-tickets img{
    margin-right:15px;
}