@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin gradient{
    background: -webkit-linear-gradient(0deg, #ff3333 0%, #5a5ac4 100%);
    background: -moz-linear-gradient(0deg, #ff3333 0%, #5a5ac4 100%);
    background: -o-linear-gradient(0deg, #ff3333 0%, #5a5ac4 100%);
    background: -ms-linear-gradient(0deg, #ff3333 0%, #5a5ac4 100%);
    background: linear-gradient(90deg, #ff3333 0%, #5a5ac4 100%);
}

@mixin gradient-reverse{
    background: -webkit-linear-gradient(0deg, #5a5ac4 0%, #ff3333 100%);
    background: -moz-linear-gradient(0deg, #5a5ac4 0%, #ff3333 100%);
    background: -o-linear-gradient(0deg, #5a5ac4 0%, #ff3333 100%);
    background: -ms-linear-gradient(0deg, #5a5ac4 0%, #ff3333 100%);
    background: linear-gradient(90deg, #5a5ac4 0%, #ff3333 100%);
}

@mixin chromefix{
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

@mixin el($element){
    &__#{$element}{
        @content;
    }
}
@mixin mod($modifier){
    &--#{$modifier}{
        @content;
    }
}