.abonaments__dates__wrapper {
    margin-top: 0;
    background: #fff;
}
.abonaments__dates__head {
    border-bottom: 1px solid #d9d9d9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.abonaments__dates__head .image {
    width: 150px;
    height: 150px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.abonaments__dates__head .txt {
    padding-left: 19px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.abonaments__dates__head img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.abonaments__dates__wrapper .container {
    background-color: #fff;
}
.abonaments__dates {
    margin: 0 auto;
    padding-left: 0;
}
.abonaments__dates__layout {
    overflow: hidden;
    padding: 0;
}
.abonaments__dates__layout .abonaments__dates__content {
    float: none;
    width: 100%;
}
body .abonaments__dates__layout .abonaments__dates__side {
    width: 100%;
    float: none;
}
.abonaments__dates__layout .abonaments__dates__side h2 {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row {
    padding-left: 16px;
    border-left: 2px solid #000;
    margin-bottom: 21px;
    padding-right: 31px;
    position: relative;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__trash {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 26px;
    width: 26px;
    background: url(../../../images-frogriot/png/trash.png) 50% 50% no-repeat;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__foot {
    margin-top: 44px;
    border-top: 1px solid #d9d9d9;
    padding-top: 50px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__foot .btn {
    margin-bottom: 31px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__foot .cart__item__foot__note {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__trash:hover {
    background-color: #e1e1e1;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__name {
    font-size: 18px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__date {
    font-size: 18px;
}
.abonaments__dates__slider {
    border: 1px solid #d5d5d5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 132px;
}
.abonaments__dates__slider .slick-list {
    height: 100%;
}
.abonaments__dates__slider .slick-track {
    height: 100%;
}
.abonaments__dates__row {
    margin-bottom: 36px;
}
.abonaments__dates__item {
    height: 100% !important;
    border: 1px solid #d5d5d5;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    cursor: pointer;
}
.abonaments__dates__item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #000;
}

.abonaments__dates__item input:checked ~ .abonaments__dates__item__content {
    border: 2px solid #000;
}
.abonaments__dates__item input:checked ~ .abonaments__dates__item__content .btn {
    background-color: #000 !important;
    color: #fff !important;
}
.abonaments__dates__item .btn {
    display: inline-block;
    cursor: pointer;
}
.abonaments__dates__item .date {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.abonaments__dates__item .day {
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-bottom: 12px;
}
.abonaments__dates__row h2 {
    font-size: 17px;
    color: #000 !important;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.abonaments__dates__slider .slick-arrow {
    width: 24px;
    height: 36px;
    border: none;
    position: absolute;
    top: calc(50% - 18px);
    cursor: pointer;
    outline: none;
    background-color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.abonaments__dates__slider .slick-arrow:hover {
    background-color: #ccc;
}
.abonaments__dates__slider .slick-arrow.slick-prev {
    left: -30px;
    background-image: url(../../../images-frogriot/arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.abonaments__dates__slider .slick-arrow.slick-next {
    right: -30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(../../../images-frogriot/arrow.png);
}

.abonaments__header__main {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    padding-top: 42px;
    margin-bottom: 15px;
    padding-left: 0;
    text-transform: uppercase;
}
.abonaments__dates__content > h2 {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    padding-top: 42px;
    margin-bottom: 35px;
}
.abonaments__dates__header__row {
    display: block;
}
.abonaments__dates__header__row > div {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.abonaments__dates__header__col--abonaments {
    display: block;
}

.abonaments__dates__header__col--abonaments .txt {
    /*font-size: 17px;*/
    font-size: 19px;
    margin-right: 20px;
    color: #000;
}

.abonaments__dates__header__col--abonaments .counter {
    
}
.abonaments__dates__header__col--details {
    padding-left: 0;
}
.abonaments__dates__header__col--details .room__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.abonaments__dates__header__col--details .room__row .txt {
    font-size: 19px;
}

.abonaments__dates__header__col--details .area__row {
    display: block;
    margin-bottom: 30px;
}

.abonaments__dates__header__col--details .area__row .txt {
    font-size: 19px;
    margin-right: 20px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #000;
}

.abonaments__dates__header__col--details .area__row select {
    position: static;
    display: block;
    opacity: 1;
    width: 100%;
    height: 38px;
    padding-left: 6px;
    font-size: 19px;
}
.abonaments__content > h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.abonaments__content_room__header h2 {
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    padding-top: 42px;
    margin-bottom: 55px;
}

.abonaments__switched__contents {
    position: relative;
}

#checkbox1 {
    display: none;
}

#abonaments__content_1 {
    padding-bottom: 201px;
}

#abonaments__content_2 {
    padding-bottom: 83px;
}
.counter #input_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.counter #input_div #moins,
.counter #input_div #plus {
    width: 40px;
    height: 40px;
    border: 1px solid #d3d3d3;
    background: none;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.counter #input_div #moins span {
    display: block;
    height: 1px;
    width: 10px;
    background: #000;
}
.counter #input_div #count {
    outline: none;
    width: 70px;
    border: none;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.item__spektakl__summary__container {
    padding-top: 56px;
    padding-bottom: 200px;
}
.item__spektakl__summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 37px;
}
.item__spektakl__summary .img-box {
    margin-right: 45px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.item__spektakl__summary .content-box .header {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.item__spektakl__summary .content-box .content {
    font-size: 22px;
}
.item__spektakl__summary__items {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 36px;
}
.cart__item__foot .btn.inactive:hover,
.cart__item__foot .btn.inactive:focus {
    background: #dddddd !important;
    color: #000 !important;
}
.abonaments__dates__slider {
    margin: 0 30px;
}
#abonaments__content_1 {
    padding-bottom: 0;
}
.abonaments__dates__side {
    border-top: 1px solid #d9d9d9;
    padding-top: 40px;
    color: #000;
}
.show__area__view {
    border: 1px solid #000;
    border-radius: 4px;
    background: #fff;
    font-size: 20px;
    padding: 8px 40px;
    line-height: 1.2;
    margin-bottom: 26px;
}
.show__area__view:focus,
.show__area__view:hover {
    background: #000;
    color: #fff;
}
.abonaments__dates__header .txt {
    font-size: 22px;
    margin-bottom: 11px;
    display: block;
}
.item__spektakl__summary .img-box {
    margin-right: 20px;
    width: 100px;
}
.item__spektakl__summary .content-box .header {
    font-size: 18px;
    margin-bottom: 10px;
}
.item__spektakl__summary .content-box .content {
    font-size: 16px;
}
.item__spektakl__summary__container--dates {
    padding-top: 0;
}

.item__spektakl__summary__container--dates h2 {
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.abonaments__dates--wybrane .abonaments__header__main {
    font-size: 18px;
}
body .sala__mobile__switch {
    display: none;
}
body .sala__mobile__switch.show {
    display: block;
}
body .sala__mobile__switch h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.abonaments__dates__layout .abonaments__dates__side .cart__item__row__trash {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 26px;
    width: 26px;
    background: url(../../../images-frogriot/png/trash.png) 50% 50% no-repeat;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

@media only screen and (min-width: 768px) {
    .abonaments__dates__header .txt {
        font-size: 22px;
    }
}