body .abonaments__dates {
    padding-left: 0;
}
body .abonaments__dates__wrapper {
    margin-top: 0;
}
body .abonaments__dates__header__row {
    display: block;
}
body .abonaments__dates__layout .abonaments__dates__content {
    float: none;
    width: 100%;
}
body .abonaments__dates__slider .slick-arrow.slick-prev {
    left: -30px;
}

body .abonaments__dates__slider .slick-arrow.slick-next {
    right: -30px;
}

body .abonaments__dates__layout {
    padding: 0;
}

body .abonaments__header__main {
    padding: 0;
}

body .abonaments__dates__header__col--abonaments .txt {
    font-size: 16px;
}

body .abonaments__dates__header__row > div {
    padding-left: 0;
}

body .abonaments__dates__header__col--details .area__row {
    display: block;
}

.top__header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
    height: 80px;
}
.abonaments .abonaments__header {
    height: 213px;
    background: url(../../../images-frogriot/mobile/wycieczki/bg.jpg) 50% 0/cover no-repeat;
    text-align: center;
    padding-top: 20px;
}
.abonaments .abonaments__header h2 {
    color: #fff !important;
    text-transform: uppercase;
    margin-top: 70px;
}
.top__header nav .topmenu {
    background: none;
    height: 100%;
}
.top__header nav .topmenu ul {
    height: 100%;
}
.top__header nav .topmenu ul li {
    height: 100%;
}
.top__header nav .topmenu ul li .hamburger {
    height: 100%;
}
.top__header nav .submenu {
    overflow: hidden;
}
.abonaments .abonaments__header h2 {
    margin-bottom: 15px;
}
.abonaments .abonaments__header .note {
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
} 
.abonaments {
    color: #000;
    font-size: 18px;
}
.abonaments .abonaments__rules {
    padding: 2em 0;
    background: #fff;
}
.abonaments .abonaments__rules__header {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.abonaments .abonaments__rules .contnet {
    margin-bottom: 36px;
}
.abonaments .abonaments__rules .sidebar ul {
    font-size: 18px;
    list-style: disc;
    padding-left: 18px;
}
.abonaments .abonaments__rules .sidebar ul li {
    color: #000;
}
.abonaments .abonaments__rules .sidebar {
    margin-bottom: 48px;
}
.abonaments .spektakl__item {
    background-color: #000;
    color: #fff;
}
.abonaments .spektakl__item h2 {
    color: #fff !important;
}
.abonaments .spektakl__item .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.abonaments .spektakl__item .more__content p {
    color: #fff !important;
}

.abonaments .spektakl__item.expand .more__content {
    display: block;
}

.abonaments .spektakl__item .more__content {
    position: relative;
    display: none;
}
.abonaments .spektakl__item .more__content .less-abonament {
    position: absolute;
    top: 6px;
    right: 0;
}
.abonaments .spektakl__item .more__content h2 {
    padding-right: 50px;
}
.abonaments .area__row {
    margin-bottom: 30px;
    margin-top: 30px;
}
.abonaments .area__row .txt {
    margin-right: 10px;
}
.abonaments .area__row select {
    width: 190px;
    height: 30px;
    padding-right: 40px;
    padding-left: 6px;
    margin-top: 10px;
}
.abonaments .spektakl__item .more__content .less-abonament img {
    width: 20px;
}
.abonaments .spektakl__item .more__content .dates__box .header {
    font-weight: bold;
    margin-bottom: 30px;
}
.abonaments .spektakl__item .more__content .dates__box .dates__row .spectacl__date__item {
    margin-bottom: 30px;
}
.abonaments .spektakl__item .more__content .dates__box .dates__row .spectacl__date__item .date__header {
    font-weight: bold;
    margin-bottom: 10px;
}
.abonaments .spektakl__item .spektakl__item__content {
    padding: 1em 0 0;
}
.abonaments .spektakl__item .spektakl__item__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}
.abonaments .spektakl__item .spektakl__item__image {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    height: 240px;
}
.abonaments .spektakl__item .spektakl__item__content .spectact__item__row {
    margin-bottom: 52px;
}
.abonaments .spektakl__item .spektakl__item__content .spectact__item__row:last-child {
    margin-bottom: 0;
}
.abonaments .spektakl__item .spektakl__item__content .spektakl__item__col .btn {
    margin-left: 0;
}