//bootstrap
//required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
//optional
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/nav";
//magnific
@import "includes/magnific/main";
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

  .image-link{
      display:block;
      img{
          margin:0 auto;
          display:block;
      }
  }
//tooltipster
@import "includes/tooltipster";

@import "../../../css/slick.css";

@import "mixins";

@import "global";

@import "parts/forms";

@import "parts/popups";

@import "parts/addto";

@import "parts/abonaments";

@import "parts/pagination";

@import "../../../css/counter";

@import "../../../css/etiquete.css";
@import "../../../css/breadcrumbs.css";

@import "product_item";


@import "account";
@import "history";
@import "cart";
@import "przyjecie_zamowienia";
@import "bilety";
@import "wycieczki";
@import "wycieczki-kalendarium";
@import "abonamenty";
@import "abonamenty_daty";
@import "butik";
@import "butik_opis_skrocony";

body.fr-body-mobile{
    margin:0;
    color:#000;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body>section h1.fr-h1,
.fr-h1 {
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    font-size: 2em;
    color: #000 !important;
    font-weight: 700;
    margin:0;
    margin-bottom: 30px;
    text-transform: inherit;
    
    @media (min-width: 720px) {
        font-size: 2.4em;
    }

    &.fr-h1--nmb{
        margin-bottom: 0;
    }

}

.main .container>h1.fr-h1{
    padding:0;
    margin:0;
}

.fr-wrapper{
    color:#000;
}

.fr-container{
    position:relative; 
    max-width:1660px;
    z-index:3;
    margin-left:auto;
    margin-right:auto;
    
    @include el('inner'){
        background-color: #fff;
        margin-bottom: 60px;
        padding: 30px 15px;
    }

}


