.fr-popup--choose_tickets.fr-popup--choose_tickets--tickets .fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__left {
    padding: 0;
    width: 120px;
}
.fr-popup--choose_tickets.fr-popup--choose_tickets--tickets .fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__right {
    padding-right: 20px;
}
.fr-popup--choose_tickets.fr-popup--choose_tickets--tickets .fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__right .name {
    font-size: 18px;
}
.fr-popup--choose_tickets.fr-popup--choose_tickets--tickets .fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__right .hour {
    font-size: 14px;
}
.fr-popup--choose_tickets.fr-popup--choose_tickets--tickets .fr-form__head__note {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 24px;
}
.mobile__tickets__content {
    background: #fff;
    padding-bottom: 1px;
}
.fr-popup--choose_tickets__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    background: #fff;
}
.fr-popup .tickets__head .strefa_cenowa {
    margin-top: 20px;
}
.fr-popup--choose_tickets.fr-popup--choose_tickets--tickets {
    display: block;
    width: 100%;
}
.fr-popup--choose_tickets.fr-popup--choose_tickets--tickets .fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__right {
    padding-right: 20px;
}
.fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__right {
    width: 60%;
    padding-left: 15px;
}
.mobile__tickets__content__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 15px;
    padding-top: 10px;
}
.mobile__tickets__content__header .label-box {
    font-size: 14px;
    font-weight: bold;
}
.mobile__tickets__content__header .content-box {
    margin-left: auto;
    
}
.mobile__tickets__content__header .content-box .filters-btn {
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 40px 10px 10px;
    cursor: pointer;
    position: relative;

    &:after {
        content: "";
        right: 10px;
        display: block;
        position: absolute;
        width: 18px;
        height: 12px;
        background: #fff url(../../../images-frogriot/arrow-select.png) 0 0/100% no-repeat !important;
        top: 50%;
        transform: translateY(-30%);
    }

    &.open {
        &:after {
            transform: translateY(calc(-30% - 4px)) rotate(180deg);
        }
    }
    
}
.mobile__tickets__content__content {
    padding-bottom: 100px;
    background: #fff;
}
.mobile__tickets__choose__sector__main__area {
    position: relative;
    display: table;
    margin: 0 auto;
    padding-bottom: 30px;
}
.mobile__tickets__choose__sector__main__area .choose__sector {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 77%;
    max-width: 494px;
    background: rgba(255,255,255, .7);
    border: 1px solid #000;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    height: 7.6%;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}
#filters {
    display: none;
}
#filters.show {
    display: block;
}
.choose_from_list {
    display: none;
}
.choose_from_list.show {
    display: block;
}
.mobile__tickets__choose__sector__main__area .choose__sector.choose__sector--parter {
    top: 12%;
}
.mobile__tickets__choose__sector__main__area .choose__sector.choose__sector--amfiteatr {
    top: 34.5%;
}
.mobile__tickets__choose__sector__main__area .choose__sector.choose__sector--balkon1 {
    top: 52.7%;
}
.mobile__tickets__choose__sector__main__area .choose__sector.choose__sector--balkon2 {
    top: 69.6%;
}
.mobile__tickets__choose__sector__main__area .choose__sector.choose__sector--balkon3 {
    top: 81%;
}
.fr-popup--choose_tickets--tickets .tickets__places__row {
    padding: 0;
    display: block;
    width: auto;
}
.fr-popup--choose_tickets--tickets .tickets__places__row .header {
        height: 60px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}
.fr-popup--choose_tickets--tickets .tickets__places__row .content {
    height: auto;
    padding-bottom: 20px;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 90px;
    -ms-flex-line-pack: center;
    align-content: center;
}
.fr-popup--choose_tickets--tickets .tickets__places__row .content .places__kind {
    line-height: 1.2;
    margin: 10px 15px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tickets__places__row .content .places__kind .box {
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    border-radius: 6px;
    margin-right: 11px;
}
.tickets__places__row .content .places__kind.places__kind__reserved .box {
    background-color: #000;
}
.tickets__places__row .content .places__kind.places__kind__choosen .box {
    background-color: #00bff3;
}

.fr-popup--choose_tickets--tickets .tickets__places__row .content .places__kind .box {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    margin-right: 6px;
}
.fr-popup--choose_tickets--tickets .tickets__places__row .content .places__kind .txt {
    font-size: 12px;
}
.mobile__tickets__content__header__details {
    margin-bottom: 30px;
    margin-top: -30px;
    border-bottom: 1px solid #d9d9d9;
}
.mobile__sector__map img {
    margin: 0 auto;
}
.mobile__tickets__content__content .tickets__places__row .buttons {
    right: 15px;
    bottom: 0;
    top: auto;
    left: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 30px;
    max-width: 48px;
}
.mobile__tickets__content__content .tickets__places__row .buttons button {
    width: 100%;
    height: 30px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 20px;
}
.mobile__sector__map__view__all {
    border-top: 1px solid #d9d9d9;
    display: block;
    margin: 20px 0 0;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
.mobile__tickets__choose__sector__mlynarskiego .choose__sector--rzedy__1 {
    top: 35%;
}
.mobile__tickets__choose__sector__mlynarskiego .choose__sector--rzedy__2 {
    top: 69%;
}
.mobile__tickets__choose__sector__mlynarskiego .choose__sector {
    height: 12.6%
}
.mobile__tickets__choose__sector__redutowe .choose__sector {
    height: 20%;
    width: auto;
    padding: 0 8%;
}
.mobile__tickets__choose__sector__redutowe .choose__sector--sektor__A {
    top: 10%;
}
.mobile__tickets__choose__sector__redutowe .choose__sector--sektor__B {
    left: 15%;
    top: 59%;
}
.mobile__tickets__choose__sector__redutowe .choose__sector--sektor__C {
    left: auto;
    top: 59%;
    right: -15%;
}
.fr-popup--choose_tickets__place__picture {
    height: 300px;
}
.fr-popup--choose_tickets__place__picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.fr-popup--choose_tickets__place__details .details-row {
    font-size: 16px;
    overflow: hidden;
}
.fr-popup--choose_tickets__place__details .details-row.details-row--place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fr-popup--choose_tickets__place__details .details-row.details-row--place .price {
    text-align: right;
}
.fr-popup--choose_tickets__place__details .details-row.details-row--place .price .disqount {
    font-weight: bold;
}
.fr-popup--choose_tickets__place__details .details-row.details-row--place .price .regular {
    position: relative;
}
.fr-popup--choose_tickets__place__details .details-row.details-row--place .price .regular:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: calc(50% - 1px);
    height: 1px;
    background: #000;
}
.fr-popup--choose_tickets__place__details .details-row .icon-box {
    float: left;
    
    margin-right: 15px;
}
.fr-popup--choose_tickets__place__details .details-row .txt-box {
    overflow: hidden;
    margin-bottom: 20px;
}
.fr-popup--choose_tickets__place__details .details-row.details-row--desc {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 10px;
}
.choose__disqount__control {
    padding-top: 20px !important;
}
.choose__disqount__control .fr-form__label {
    font-size: 16px;
    margin-bottom: 0;
}
.choose__disqount__control .fr-form__label span {
    text-transform: uppercase;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
}
.fr-popup--choose_tickets .choose__disqount__control  select {
    height: 50px;
    margin-right: 0;
    max-width: none;
}
.choose__places__list {
    border-collapse: separate;
    border-spacing: 0 30px;
    width: 100%;
}

.choose__places__list table td:first-child {
    padding-right: 30px;
}

.choose__places__list .fr-form__col {
    padding: 0 !important; 
    vertical-align: top;
}
.choose__places__list td {
    padding-bottom: 0;
}
.choose__places__list td .trash {
    cursor: pointer;
    height: 24px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.choose__places__list td .fr-popup--choose_tickets__price {
    padding: 10px 0;
}
.choose__places__list > tbody > tr > td:first-child {
    border-left: 4px solid #000;
    padding-left: 10px;
}
.choose__places__list td .place {
    font-size: 16px;
    margin-bottom: 15px;
}
.fr-popup--choose_tickets--tickets .tickets__head {
    padding: 0;
    display: block;
    margin-top: -30px;
    border-top: 1px solid #d9d9d9;
    padding: 10px 15px 0;
}
.fr-popup--choose_tickets--tickets .tickets__prices {
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
.fr-popup--choose_tickets--tickets .tickets__prices .checkbox-ctn {
    float: left;
    margin-bottom: 15px;
}
.fr-popup--choose_tickets--tickets .tickets__facilities .checkbox-ctn .label-box {
    padding-left: 0;
    font-size: 0.8em;
}
.fr-popup--choose_tickets--tickets .tickets__facilities .tickets_facilities__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6em;
    align-items: center;
}
.fr-popup--choose_tickets--tickets select {
    max-width: none;
    width: 100%;
}
.fr-popup--choose_tickets--tickets .choose_from_list {
    width: 100%;
}
.fr-popup--choose_tickets--tickets .choose_from_list .choose_from_list__row {
    margin-bottom: 30px;
}
.fr-popup--choose_tickets--tickets .choose_from_list .btn {
    margin-top: 40px;
    margin-bottom: 60px;
}
.fr-popup--choose_tickets--tickets .tickets__head .header,
.choose_from_list__row .label-box {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.fr-popup--choose_tickets--tickets .tickets__head .tickets__discount {
    margin-bottom: 30px;
}
.fr-popup--choose_tickets--tickets .tickets__head .udogodnienia {
    margin-bottom: 30px;
}
.fr-body-mobile .place__popup {
    left: 50% !important;
    width: calc(100% - 30px);
    padding: 15px;
}
.fr-body-mobile .place__popup:before {
    display: none;
}
.fr-body-mobile .place__popup .details-box .row1 {
    font-size: 14px;
}
.fr-body-mobile .place__popup .details-box .row2 {
    font-size: 14px;
}
.fr-popup--choose_tickets .lockbar {
    margin: -30px 0 30px;
}
.fr-popup--choose_tickets .lockbar__clock > div {
    font-size: 28px;
}

.tickets_facilities__row .checkbox-ctn .checkbox-label {
    margin-left: auto;
}

.tickets__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tickets__prices .checkbox-ctn {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    cursor: pointer;
}

.tickets__prices .checkbox-ctn input {
    position: absolute;
}

.tickets__prices .checkbox-ctn .txt {
    background: #fff;
}

.tickets__prices .checkbox-ctn input:checked ~ .state {
    outline: 4px solid #000;
    outline-offset: -2px;
    z-index: 5;
}

.tickets__prices .checkbox-ctn .state {
    padding: 8px;
    position: relative;
    outline: 4px solid transparent;
    outline-offset: -2px;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.tickets__prices .checkbox-ctn.checkbox-white .state {
    background: #fff;
}

.tickets__prices .checkbox-ctn.checkbox-white .state {
    background: #b59f36;
}

.tickets__prices .checkbox-ctn.checkbox-brown .state {
    background: #b59f36;
}

.tickets__prices .checkbox-ctn.checkbox-brown-light .state {
    background: #c8ba77;
}

.tickets__prices .checkbox-ctn.checkbox-grey-light .state {
    background: #c1c1c1;
}

.tickets__prices .checkbox-ctn.checkbox-grey .state {
    background: #909090;
}

.tickets__prices .checkbox-ctn.checkbox-pink .state {
    background: #d8a38d;
}

.tickets__prices .checkbox-ctn.checkbox-red .state {
    background: #ab7359;
}

.tickets__prices .checkbox-ctn.checkbox-white .state {
    background: #fff;
}

.tickets__prices .checkbox-ctn.checkbox-white .state {
    background: #fff;
}
.fr-popup--choose_tickets--tickets .tickets__places__row--buttons {
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 9999;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.mobile__tickets__content__content .tickets__places__row .buttons {
    right: 15px;
    bottom: 0;
    top: auto;
    left: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 30px;
    max-width: 48px;
}
.tickets__places__row .buttons button {
    width: 48px;
    height: 48px;
    margin-bottom: 18px;
    border-radius: 24px;
    border: 1px solid #000;
    color: #000;
    background: #fff;
    font-size: 36px;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media only screen and (min-width: 480px) {
    .mobile__tickets__choose__sector__main__area .choose__sector {
        font-size: 18px;
    }
    .mobile__tickets__content__content .tickets__places__row .buttons {
        width: 48px;
        max-width: 48px;
    }
    .mobile__tickets__content__content .tickets__places__row .buttons button {
        width: 100%;
        height: 48px;
        margin-bottom: 0;
        margin-top: 18px;
        font-size: 36px;
    }
    .fr-popup--choose_tickets--tickets .tickets__facilities .checkbox-ctn .label-box {
        font-size: 1em;
    }
    .fr-popup--choose_tickets--tickets .tickets__places__row--buttons {
        right: 30px
    }
}
@media only screen and (min-width: 720px) {
    .mobile__tickets__choose__sector__main__area .choose__sector {
        font-size: 20px;
    }
}