.special__products__items{
    position: relative;
    width: 100% !important;
    height: 675px;
}

.special__products__item{
    width:300px;
}

.butik__filter{
    background: #fff;
    padding: 2em 0;
    font-size: 14px;
    background: #fff;
    font-size: 14px;

    select{
        position: static;
        opacity: 1;
        padding-left: 0;
        height: 30px;
        padding: 0 5px;
        padding-right: 40px;
    }
}

.butik__filter__left{
    display:flex;
    justify-content: center;
}

.butik__filter__right{
    display:flex;
    justify-content: center;
    margin-top:15px;
}

.breadcrumbs--nopadding{
    padding:0;
}

.butik-changeview{
    display:flex;
    align-items: center;
}

.butik-changeview__select{
    display:flex;
    align-items: center;
    div{
        white-space: nowrap;
        margin-right:10px;
    }
}

.butik-showperpage{
    display:flex;
    align-items: center;
    float:right;
    white-space: nowrap;
    select{
        margin-left:10px;
        margin-right:10px;
    }
}

.butik__main-slider {
    padding: 28px 35px;
    margin: 0 -15px 0;
}

.butik__search__engine {

    padding-top: 20px;

    .container-inner {
        display: flex;

        .butik__search__engine__text {
            flex-shrink: 0;
            width: calc(100% - 110px);
            height: 41px;
            border: 2px solid #d2d2d2;
            padding-left: 5px;
            font-size: 14px;
        }

        .butik__search__engine__cta {
            width: 100px;
            margin-left: auto;
        }
    }
}

.butik__main-slider .slick-arrow {
    width: 28px;
    height: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
}

.butik__main-slider .slick-arrow.slick-disabled {
    opacity: 0.3;
}

.butik__main-slider .slick-arrow.slick-prev {
    left: 30px;
    z-index: 2;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.butik__main-slider .slick-arrow.slick-next {
    right: 30px;
}

.butik__main-slider__content {
    padding: 0 30px;
}
.butik__main-slider__txt {
    font-size: 26px;
    color: #fff;
    text-align: center;
    line-height: 1.2;
    padding: 26px 0;
}
.butik__publikacje h2 {
    display: block;
    color: #000 !important;
    font-size: 26px;
    font-weight: bold;
    margin: 0 15px 34px;
    text-transform: uppercase;
}

.butik__news h2 {
    display: block;
    color: #000 !important;
    font-size: 26px;
    font-weight: bold;
    margin: 44px 15px 34px;
    text-transform: uppercase;
}

.butik__news__slider {
    padding: 0 15%;
}
.butik__news__slider__item {
    text-align: center;
}

.butik__news__slider__item__image {
    max-width: 282px;
    display: inline-block;
}

.butik__news__slider__item__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.butik__news__slider {
    margin-bottom: 3em;
    width: 100%;
}
.butik__news__slider .slick-arrow {
    width: 28px;
    height: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
}
.butik__news__slider .slick-arrow.slick-disabled {
    opacity: 0.2;
    cursor: pointer;
}
.butik__news__slider .slick-arrow.slick-prev {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 1;
    left: 0;
}
.butik__news__slider .slick-arrow.slick-next {
    right: 0;
}
.butik__news__slider__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.butik__news__slider__order .butik__news__slider__text {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 28px;
}
.butik__publikacje__image {
    position: relative;
}
.butik__publikacje__image .butik__publikacje__image__extra {
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 50%;
}
.butik__publikacje__image .butik__publikacje__image__extra img {
    height: 100%;
    width: auto;
}
.butik__publikacje__image {
    padding-left: 16%;
}
.butik__publikacje__image img {
    width: 100%;
}
.special_edition__items {
    color: #000;
}
.special_edition__box {
    position: relative;
    margin-bottom: 58px;
}
.special_edition__box .images img {
    width: 100%;
}
.special_edition__items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.special_edition__items .special_edition__item {
    position: absolute;
    font-size: 15px;
}
.special_edition__items .special_edition__item:first-child {
    top: 5%;
    left: 0;
}
.special_edition__items .special_edition__item:last-child {
    bottom: 5%;
    right: 0;
    left: 40%;
}
.shopping_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}
.shopping_box .shopping_box__icons {
    width: 100%;
    margin-bottom: 38px;
}
.shopping_box .shopping_box__icons h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000 !important;
    margin-bottom: 26px;
}
.shopping_box .shopping_box__icons .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.shopping_box .shopping_box__icons .items .item {
    width: 18%;
    margin: 0 4%;
}
.shopping_box .shopping_box__icons .items .item .img-box {
    height: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 12px;
}
.shopping_box .shopping_box__icons .items .item .txt {
    text-align: center;
    line-height: 1.25;
    color: #000;
    font-size: 12px;
}
.shopping_box .shopping_box__payments h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000 !important;
    margin-bottom: 26px;
}
.shopping_box .shopping_box__payments .icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.shopping_box .shopping_box__payments .icons img {
    margin-bottom: 0;
}
.shopping_box .shopping_box__payments .icons .item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 6px 0;
    margin-right: 11px;
    margin-bottom: 11px;
    -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0, .05);
    box-shadow: 0 0 3px 3px rgba(0,0,0, .05)
}
.shooping__shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.shooping__shop .img-box {
    max-height: 40vh
}
.shooping__shop .img-box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.shooping__shop .img-box,
.shooping__shop img {
    width: 100%;
}
.shopping__shop__txt {
    background: #eaeaea;
    padding: 25px 15px 15px;
    width: 100%;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}
.shopping__shop__txt h2 {
    font-size: 22px;
    margin: 0  0 20px;
    color: #000 !important;
    text-align: center;
}
.shopping__shop__txt p {
    font-size: 16px;
    text-align: center;
}
.produts__items {
    width: 100%;
    overflow-x: auto;
}
.foot__butik {
    padding-top: 50px;
}
.foot__butik__items {
    color: #fff;
}
.foot__butik__col--left {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.foot__butik__col--left h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
}

.foot__butik__items ul {
    list-style: none;
    padding-left: 0;
}
.foot__butik__col--right .foot__butik__logo {
    display: table;
    margin: 0 auto 60px;
    width: 92px;
}
.foot__butik__col--right .foot__butik__logo img {
    width: 92px;
}
.foot__butik {
    background-color: #000;
    padding: 20px;
}

body .foot__butik h2 {
    color: #fff !important;
    text-transform: uppercase;
    margin: 0 0 30px;
    font-size: 21px;
}
.foot__butik h3 {
    font-size: 20px;
    color: #fff !important;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.foot__butik .foot__butik__items {
    margin-bottom: 40px;
}
.foot__butik .foot__butik__items a {
    color: #fff;
    font-size: 18px;
}
.foot__butik .foot__butik__items .item {
    margin-bottom: 30px;
}
.foot__butik .foot__butik__logo {
    display: table;
    margin: 0 auto 40px;
    width: 92px;
}

@media only screen and (min-width: 480px) {
    .foot__butik .foot__butik__items {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 30px;
        column-gap: 30px;
    }
    .foot__butik {
        padding: 40px;
    }
}

@media only screen and (min-width: 576px) {
    .butik__filter__left{
        display:flex;
        justify-content: flex-start;
    }
    
    .butik__filter__right{
        display:flex;
        justify-content: flex-end;
        margin-top:0;
    }
}

@media only screen and (min-width: 768px) {
    .special_edition__items .special_edition__item {
        font-size: 22px;
    }
    .shopping_box .shopping_box__icons .items .item .txt {
        text-align: center;
        line-height: 1.25;
        color: #000;
        font-size: 16px;
    }
}
@media only screen and (min-width: 992px) {
    .special_edition__items .special_edition__item {
        font-size: 32px;
    }
}