.produts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.produts__items .product__item {
    flex-shrink: 0;
    width: 200px;
}
.bestsellers h2 {
        display: block;
    color: #000 !important;
    font-size: 26px;
    font-weight: bold;
    margin: 44px 15px 34px;
    text-transform: uppercase;
}
.special__products {
    margin-bottom: 2em;
}
.special__products h2 {
        display: block;
    color: #000 !important;
    font-size: 26px;
    font-weight: bold;
    margin: 44px 15px 34px;
    text-transform: uppercase;
}
.special__products--2 h2 {
    margin: 24px 15px 34px;
}
.special__products .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
}
.butik_desc_head {
    margin-bottom: 50px;
}
.butik_desc_head .butik_desc_head__images {
    width: 100%;
}
.butik_desc_head .butik_desc_head_slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.butik_desc_head__content {
    width: 100%;
}
.butik_desc_head__content .quantity {
    display: block;
}
.butik_desc_head__content .quantity .txt {
    font-size: 21px;
    display: block;
    margin-bottom: 10px;
}
.butik_desc_head {
    display: block;
    width: 100%;
    color: #000;
}
.butik_desc_head__images .butik_desc_head__thumbs {
    width: 168px;
    margin-right: 20%;
}
.butik_desc_head__images .butik_desc_head__thumbs .slick-slide {
    border: 2px solid transparent;
    margin: 5px;
    width: 113px !important;
    height: 113px;
}
.butik_desc_head__images .butik_desc_head__thumbs .slick-slide img {
    width: 100%;
    height: 100%;
}
.butik_desc_head__images .butik_desc_head__thumbs .slick-slide.slick-current {
    border: 2px solid #97999b;
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0, .1);
    box-shadow: 0 0 5px 5px rgba(0,0,0, .1)
}
.butik_desc_head__images .butik_desc_head__main {
    width: 100%;
    padding: 0 50px; 
    height: 204px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
}
.butik_desc_head__images .butik_desc_head__main img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.butik_desc_head__images .item {
    width: 158px;
    height: 158px;
    margin-bottom: 18px;
    cursor: pointer;
}
.butik_desc_head__images .butik_desc_head__thumbs img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    
}
.butik_desc_head__content .header {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}
.butik_desc_head__content .header .txt {
    margin-right: 32px;
}
.butik_desc_head__content .price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
}
.butik_desc_head__content .price.price--disqount {
    font-weight: normal;
    position: relative;
    margin-right: 40px;
}
.butik_desc_head__content .price.price--disqount:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: -2px;
    right: -2px;
    height: 2px;
    background-color: #000;
}
.butik_desc_head__content .details {
    padding-left: 16px;
    margin-bottom: 16px;
    list-style: disc;
}
.butik_desc_head__content .avaliable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 80px;
}
.butik_desc_head__content .avaliable img {
    margin-right: 16px;
}
.butik_desc_head__content .quantity {
    margin-bottom: 24px;
}
.butik_desc_head__main  {
    padding-right: 100px;
}
.butic_more_info .row {
    margin-bottom: 128px;
}
.butic_more_info .row h2 {
    font-size: 20px;
    color: #000 !important;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
    
    margin-bottom: 30px;
}
.colors__choose {
    margin-bottom: 20px;
}
.colors__choose .colors__choose__label {
    margin-bottom: 19px;
}
.colors__choose .colors__choose__label .colors__choose__label__txt {
    font-size: 16px;
}
.colors__choose .colors__choose__label .colors__choose__label__value {
    font-weight: bold;
    font-size: 16px;
}
.colors__choose .colors__choose__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.colors__choose .colors__choose__main .colors__choose__item {
    width: 56px;
    height: 56px;
    margin-right: 20px;
    margin-bottom: 0;
    position: relative;
}
.colors__choose .colors__choose__main .colors__choose__item .state {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid transparent;
    cursor: pointer;
}
.colors__choose .colors__choose__main .colors__choose__item input:checked ~ .state {
    border-color: #222;
}
.colors__choose .colors__choose__main .colors__choose__item.colors__choose__item--light_grey .state {
    background-color: #d0d0ce;
}
.colors__choose .colors__choose__main .colors__choose__item.colors__choose__item--grey .state {
    background-color: #98999b;
}
.colors__choose .colors__choose__main .colors__choose__item.colors__choose__item--black .state {
    background-color: #000000;
}
.butik_desc_head .etiquete {
    margin-left: auto;
    display: table;
    margin-bottom: 30px;
}
.butik_desc_head__content__foot {
    display: table;
    width: 100%;
}
.butik_desc_head__content__btn {
    width: 100%;
}
.butik_desc_head_slider .slick-arrow {
    width: 28px;
    height: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: calc(50% - 23px);
}
.butik_desc_head_slider .slick-list,
.butik_desc_head_slider .slick-list .slick-track {
    height: 100%;
}
.butik_desc_head_slider .slick-list img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.butik_desc_head_slider .slick-arrow.slick-disabled {
    opacity: 0.3;
}
.butik_desc_head_slider .slick-arrow.slick-prev {
    left: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.butik_desc_head_slider .slick-arrow.slick-next {
    right: 0;
}
.butic_more_info {
    color: #000;
}
.butic_more_info img {
    margin-bottom: 30px;
}
.butic_more_info ul {
    font-size: 16px;
    list-style: disc;
    padding-left: 16px;
}

@media only screen and (min-width: 768px) {
    .butik_desc_head__images .butik_desc_head__main {
        height: 380px;
    }
}