body.color-3 {
    background: #ffff00;

    .btn--brown {
        border-color: #cabc77;
        color: #ffff00 !important;
    }

    .btn--white {
        background-color: #000 !important;
        border-color: #000;
        color: #ffff00 !important;
    }

    .tickets__head .udogodnienia .tickets__facilities .checkbox-ctn .state,
    .tickets__layout .tickets__main .tickets__places__row .row_2 .checkbox-ctn .state {
        background: #ffff00;
    }

    .tickets__layout .tickets__main .tickets__places__row .buttons button {
        background: #ffff00;
        border-color: #000;
        color: #000;
    }

    .foot__butik__col--left h2 {
        color: #000 !important;
    }

    .foot__butik__items ul li a {
        color: #000 !important;
    }

    .foot__butik__items .item h3 {
        color: #000 !important;
    }

    .fr-lang-switch {
        color: #000 !important;
    }

    .fr-cart, .fr-myacc {
        color: #000 !important;
    }

    .main {
        background: #ffff00;
    }

    .container__inner {
        background: #ffff00;
    }

    .tickets__layout .tickets__main .sala__main {
        background: #ffff00;
    }

    .tickets__head__prev {
        background: #ffff00;
    }

    .butik__nav {
        ul {
            li {
                a {
                    color: #000 !important;
                }
            }
        }
    }

    .tickets__head__prev {
        border-bottom: 1px solid #000;
    }

    .tickets__head {
        border-bottom: 1px solid #000;
    }

    .tickets__layout .tickets__sidebar {
        border-left: 1px solid #000;
    }

    .tickets__layout .tickets__sidebar .tickets__cart__summary {
        border-top: 1px solid #000;
    }

    select {
        border-color: #000 !important;
        color: #000 !important;
    }

    .abonaments__dates__wrapper .abonaments__dates__head {
        background: #ffff00;
        border-bottom-color: #000;
    }

    .abonaments__dates__slider .abonaments__dates__item .abonaments__dates__item__content {
        background: #ffff00;
        border-color: #000;
    }

    .page__main .main {
        background: #ffff00 !important;
    }

    .abonaments .abonaments__header h2 {
        color: #000 !important;
    }

    .abonaments .abonaments__header .note {
        color: #000;
    }

    .abonaments .abonaments__rules {
        background: #ffff00;
        color: #000;
        border: 1px solid #000;
    }

    .spektakl__item .spektakl__item__content {
        background: #ffff00;
        border: 1px solid #000;
        border-right: none;
    }

    .spektakl__item .spektakl__item__content h2 {
        color: #000 !important;
    }

    .spektakl__item .spectact__item__row .spektakl__item__col p {
        color: #000 !important;
    }

    .abonaments .spektakl__item .area__row .box .txt {
        color: #000;
    }

    .spektakl__item .spektakl__item__content .spektakl__item__col .list {
        color: #000;
    }

    .tours .tours__header h2 {
        color: #000 !important;
    }

    .tours .tours__content {
        background: #ffff00;
        border: 1px solid #000;
    }

    .tour__filter__header .tour__filter__header__label {
        color: #000;
    }

    .category-list li a {
        color: #000 !important;
    }

    .month-list li.selected, .category-list li.selected {
        border-color: #000 !important;
    }

    .month-list li a time {
        color: #000;
    }

    .month-full-list li {
        background: #ffff00;
    }

    .data-event .data-event__item {
        border-left-color: #000;
        border-top-color: #000;
    }

    .tour__side {
        background-color: #ffff00;
    }

    .bottom-links li a {
        color: #000 !important;
    }

    .butik__search__engine {
        background-color: #ffff00;
    }

    .container-inner {
        background-color: #ffff00;
    }

    .butik {
        background-color: #ffff00 !important;
    }

    .butik__search__engine .butik__search__engine__text {
        background-color: #ffff00;
        color: #000;
        border-color: #000;
    }

    .shopping_box .shopping_box__payments .icons .item {
        background: #fff;
    }

    .butik_2 {
        background: #ffff00 !important;
    }

    .product__item.product__item--vertical {
        border-bottom-color: #000;
    }

    .fr-popup__content {
        border: 1px solid #000;
        background: #ffff00;
        color: #000;
    }

    .fr-form-row.fr-form-row--extra_row {
        border-top-color: #000;
    }

    .counter .input_div button {
        border-color: #000;
    }

    .counter .input_div .count {
        border-color: #000;
        background-color: #ffff00;
    }

    .fr-popup--choose_tickets select {
        background-color: #ffff00;
    }

    .form__section {
        border-bottom-color: #000;
    }

    .fr-summ-sepa:after {
        background-color: #000;
    }

    .form__input {
        border-color: #000;
        background: #ffff00;
        color: #000;
    } 

    .form__hr {
        background-color: #000;
    }

    .form__select {
        background-color: #ffff00;
    }

    .form--cart {
        background-color: #ffff00;
    }

    .checkbox__checkmark {
        background-color: #ffff00;
        border-color: #000;
    }

    .checkbox__inner > .checkbox__input:checked ~ .checkbox__checkmark {
        background-color: #ffff00;
    }

    .checkbox__checkmark:after {
        background: none;
        color: #000;
    }

    .radiobox__checkmark {
        background: none;
    }

    .radiobox > .radiobox__input:checked ~ .radiobox__checkmark {
        background: none;
    }

    .checkbox__content a:hover {
        color: #000 !important;
    }

    .form__textarea {
        background: none;
        border-color: #000;
    }

    .cart-form {
        background-color: #ffff00;
    }

    .cart-table__separator-2 {
        border-color: #000;
    }

    .cart-table__separator {
        background-color: #000;
    }

    .fr-add--border-margin {
        border-color: #000;
    }

    .ordersumm__row-wrp {
        border-color: #000;
    }

    .summary__order {
        background: #ffff00;
    }

    .summary__order__foot .data__contact a {
        color: #ffff00 !important;
    }

    .month-full-list > li:before {
        background: #000;
    }

    .month-full-list li ul li {
        border-top-color: #000;
    }
    
}