body.color-1 {
    background: #fff;

    .btn--brown {
        border-color: #cabc77;
        color: #fff !important;
    }

    .btn--white {
        background-color: #000 !important;
        color: #fff !important;
    }

    .foot__butik__col--left h2 {
        color: #000 !important;
    }

    .foot__butik__items ul li a {
        color: #000 !important;
    }

    .foot__butik__items .item h3 {
        color: #000 !important;
    }

    .fr-lang-switch {
        color: #000 !important;
    }

    .fr-cart, .fr-myacc {
        color: #000 !important;
    }

    .main {
        background: #fff;
    }

    .butik__nav {
        ul {
            li {
                a {
                    color: #000 !important;
                }
            }
        }
    }

    .page__main .main {
        background: #fff !important;
    }

    .abonaments .abonaments__header h2 {
        color: #000 !important;
    }

    .abonaments .abonaments__header .note {
        color: #000;
    }

    .spektakl__item .main__content {
        background: #fff;
    }

    .spektakl__item .spektakl__item__content {
        border: 1px solid #000;
        border-right: none;
    }

    .spektakl__item .spektakl__item__content h2 {
        color: #000 !important;
    }

    .spektakl__item .spectact__item__row .spektakl__item__col p {
        color: #000 !important;
    }

    .abonaments .spektakl__item .area__row .box .txt {
        color: #000;
    }

    .spektakl__item .spektakl__item__content .spektakl__item__col .list {
        color: #000;
    }

    .tours .tours__header h2 {
        color: #000 !important;
    }

    .month-list li.selected, .category-list li.selected {
        border-color: #000 !important;
    }

    .category-list li a {
        color: #000 !important;
    }

    .month-list li a time {
        color: #000;
    }

    .tour__filter__header .tour__filter__header__label {
        color: #000;
    }

    .bottom-links li a {
        color: #000 !important;
    }

    .fr-popup__content {
        border: 1px solid #000;
    }

}