body.color-4 {
    background: #000;
    color: #ffff00;

    .btn--brown {
        border-color: #cabc77;
        color: #000 !important;
    }

    .btn--white {
        background-color: #ffff00 !important;
        border-color: #ffff00;
        color: #000 !important;
    }

    .tickets__head .udogodnienia .tickets__facilities .checkbox-ctn .state,
    .tickets__layout .tickets__main .tickets__places__row .row_2 .checkbox-ctn .state {
        background: #000;
        border-color: #ffff00;
    }

    .tickets__layout .tickets__sidebar .tickets__cart__summary {
        border-color: #ffff00;
    }

    .tickets__layout .tickets__main .tickets__places__row .buttons button {
        background: #000;
        border-color: #ffff00;
        color: #ffff00;
    }

    .foot__butik__col--left h2 {
        color: #ffff00 !important;
    }

    .foot__butik__items ul li a {
        color: #ffff00 !important;
    }

    .foot__butik__items .item h3 {
        color: #ffff00 !important;
    }

    .fr-lang-switch {
        color: #ffff00 !important;
    }

    .fr-cart, .fr-myacc {
        color: #ffff00 !important;
    }

    .abonaments__dates__wrapper .abonaments__dates__head {
        background: #000;
        border-bottom-color: #ffff00;
        
    }

    .abonaments__dates__wrapper .abonaments__dates__head .txt {
        color: #ffff00;
    }

    .abonaments__dates__wrapper .abonaments__dates {
        background: #000;
    }

    .abonaments__dates__wrapper .abonaments__dates .abonaments__header__main {
        color: #ffff00 !important;
    }

    .abonaments__dates__wrapper .abonaments__dates .abonaments__dates__content .abonaments__switched__contents h2 {
        color: #ffff00 !important;
    }

    .abonaments__dates__wrapper .abonaments__dates .abonaments__dates__content .abonaments__dates__row h2 {
        color: #ffff00 !important;
    }

    .abonaments__dates__slider .abonaments__dates__item .abonaments__dates__item__content {
        background: #000;
    }

    .page__main .main {
        background: #000 !important;
    }

    .tickets__head__prev {
        background: #000;
        border-bottom-color: #ffff00;
    }

    .tickets__head {
        border-bottom-color: #ffff00;
    }

    .tickets__layout .tickets__sidebar {
        border-left-color: #ffff00;
    }

    select {
        border-color: #ffff00 !important;
        color: #ffff00 !important;
        background: #000;
    }

    .tickets__layout .tickets__main .sala__main {
        background: #000;
    }

    .tickets__head .strefa_cenowa .tickets__prices .checkbox-ctn input:checked ~ .state {
        outline-color: #ffff00;
    }

    .tickets__layout .tickets__main .tickets__places__row {
        border-bottom: 1px solid #ffff00;
    }

    .container__inner {
        background: #000;
    }

    .tickets h2 {
        color: #ffff00 !important;
    }

    .tickets__head .strefa_cenowa .tickets__prices {
        color: #000;
    }

    .abonaments .abonaments__rules {
        background: #000;
        border: 1px solid #ffff00;
        color: #ffff00;

    }

    .abonaments .abonaments__header h2 {
        color: #ffff00 !important;
    }

    .abonaments .abonaments__header .note {
        color: #ffff00;
    }

    .spektakl__item .spektakl__item__content {
        border: 1px solid #ffff00;
        border-right: none;
        color: #ffff00;
    }

    .spektakl__item .spektakl__item__content h2 {
        color: #ffff00 !important;
    }

    .spektakl__item .spectact__item__row .spektakl__item__col p {
        color: #ffff00 !important;
    }

    .spektakl__item .spektakl__item__content .spektakl__item__col .list {
        color: #ffff00;
    }

    .abonaments .spektakl__item .area__row .box .txt {
        color: #ffff00;
    }

    .tours .tours__header h2 {
        color: #ffff00 !important;
    }

    .tours .tours__content {
        background: #000;
        border: 1px solid #ffff00;
    }

    .tours .tours__content p {
        color: #ffff00 !important;
    }

    .tour__filter__header .tour__filter__header__label {
        color: #ffff00;
    }

    .category-list li a {
        color: #ffff00 !important;
    }

    .month-list li.selected, .category-list li.selected {
        border-color: #ffff00 !important;
    }

    .month-list li a time {
        color: #ffff00 !important;
    }

    .month-full-list li {
        background: #000;
    }

    .month-full-list li .event h3 a {
        color: #ffff00 !important;
    }

    .tour__side {
        background: #000;
    }

    .tour__side h2 {
        color: #ffff00 !important;
    }

    .bottom-links li a {
        color: #ffff00 !important;
    }

    .butik__nav {
        ul {
            li {
                a {
                    color: #ffff00 !important;
                }
            }
        }
    }

    .butik__search__engine {
        background: #000;
        
    }

    .container-inner {
        background: #000;
    }

    .butik__search__engine .butik__search__engine__text {
        color: #ffff00;
        background: #000;
    }

    .butik {
        background: #000 !important;
    }

    .butik__news__txt p {
        color: #ffff00 !important;
    }

    .butik__news__txt a {
        color: #ffff00 !important;
    }

    .butik__news h2 {
        color: #ffff00 !important;
    }

    .butik__publikacje h2 {
        color: #ffff00 !important;
    }

    .special_edition__box {
        color: #000;
    }

    .butik_2 {
        background: #000 !important;
    }

    .breadcrumbs li, .breadcrumbs li a {
        color: #ffff00 !important;
    }

    .special__products h2 {
        color: #ffff00 !important;
    }

    .bestsellers h2 {
        color: #ffff00 !important;
    }

    .product__item .product__item__header .price .disqount:after {
        background: #ffff00 !important;
    }

    .product__item.product__item--vertical {
        border-bottom-color: #ffff00 !important;
    }

    .etiquete.etiquete--black {
        background: #ffff00 !important;
        color: #000;
    }

    .butik_desc_head__content .price.price--disqount:after {
        background: #ffff00 !important;
    }

    .fr-popup__content {
        background: #000 !important;
        color: #ffff00;
        border: 1px solid #ffff00;
    }

    .fr-popup--choose_tickets .fr-form--popup .fr-form__h2 {
        color: #ffff00 !important;
    }

    .counter .input_div .count {
        background-color: #000;
        color: #ffff00;
    }

    .counter .input_div button {
        border-color: #ffff00;
    }

    .counter .input_div .count {
        border-color: #ffff00;
    }

    .form__section-header,
    .form__output,
    .form__label {
        color: #ffff00;
    }

    .form__section {
        border-bottom-color: #ffff00;
    }

    .fr-summ-sepa:after {
        background-color: #ffff00;
    }

    .form__input {
        border-color: #ffff00;
        background: #000;
        color: #ffff00;
    } 

    .form__hr {
        background-color: #ffff00;
    }

    .fr-popup__text {
        color: #ffff00 !important;
    }

    .form__link {
        color: #ffff00 !important;
    }

    .form--cart {
        background: #000;
        color: #ffff00 !important;
    }

    .checkbox__content {
        color: #ffff00;
    }

    .checkbox__content a {
        color: #ffff00 !important;
    }

    .checkbox__checkmark {
        background: none;
        border-color: #ffff00;
    }

    .checkbox__inner > .checkbox__input:checked ~ .checkbox__checkmark {
        background: none;
    }

    .checkbox__checkmark:after {
        color: #ffff00;
    }
    
    .radiobox__checkmark {
        background: none;
        border-color: #ffff00;
    }

    .radiobox > .radiobox__input:checked ~ .radiobox__checkmark {
        background: none;
    }

    .radiobox__checkmark:after {
        background: #ffff00;
    }

    .form__textarea {
        background: none;
        border-color: #ffff00;
    }

    .lockbar {
        color: #000;
    }

    .cart-form {
        background-color: #000;
    }

    .cart-prod {
        color: #ffff00;
    }

    .cart-table {
        color: #ffff00;
    }

    .cart-table__sit--icon:before {
        background-color: #ffff00;
    }

    .cart-prod__content p {
        color: #ffff00 !important;
    }

    .counter .input_div button span {
        background: #ffff00;
    }

    .subscription__gift p {
        color: #ffff00 !important;
    }

    .summary__order {
        background: #000;
    }

    .summary__order__foot .data__contact:before {
        background-color: #ffff00 !important;
    }

    .data-event .data-event__item {
        border-color: #fff;
    }

    .data-event .data-event__item {
        border-color: #fff;
    }

    .month-full-list li .event p {
        color: #ffff00 !important;
    }

    .month-full-list > li:before {
        background-color: #ffff00 !important;
    }

    .month-full-list li ul li {
        border-color: #ffff00 !important;
    }

    .month-full-list li .event .hall a {
        color: #ffff00 !important;
    }
}