body.color-2 {
    background: #000;

    .btn--brown {
        border-color: #cabc77;
    }

    .btn--white {
        background-color: #fff !important;
    }

    .tickets__head .udogodnienia .tickets__facilities .checkbox-ctn .state,
    .tickets__layout .tickets__main .tickets__places__row .row_2 .checkbox-ctn .state {
        background: #000;
        border-color: #fff;
    }

    

    .tickets__head .udogodnienia .tickets__facilities .checkbox-ctn input:checked ~ .state:after,
    .tickets__layout .tickets__main .tickets__places__row .row_2 .checkbox-ctn input:checked ~ .state:after {
        color: #fff;
    }

    .abonaments__dates__wrapper .abonaments__dates__head {
        background: #000;
        
    }

    .tickets__head__prev {
        background: #000;
        color: #fff;
    }

    select {
        color: #fff;
    }

    select option {
        color: #000;
    }

    .tickets__head .udogodnienia .tickets__facilities .checkbox-ctn .label-box {
        color: #fff;
    }

    .tooltip-inner ul {
        color: #000;
    }

    .tickets__layout .tickets__main .choose_from_list .choose_from_list__row .label-box {
        color: #fff;
    }

    .tickets h2 {
        color: #fff !important;
    }

    .abonaments__dates__wrapper .abonaments__dates .abonaments__dates__content .abonaments__switched__contents .abonaments__content_room__header h2 {
        color: #fff !important;
    }

    .tickets__layout .tickets__main .tickets__places__row .row_2 .checkbox-ctn .label-box {
        color: #fff;
    }

    .tickets__head .strefa_cenowa .tickets__prices .checkbox-ctn input:checked ~ .state {
        outline-color: #fff;
    }

    .tickets__layout .tickets__sidebar .tickets__cart .tickets__cart__item .tickets__cart__item__row .cart__name {
        color: #fff;
    }

    .tickets__layout .tickets__sidebar .tickets__cart .tickets__cart__item .tickets__cart__item__row .cart__price {
        color: #fff;
    }

    .tickets__layout .tickets__sidebar .tickets__cart__summary .tickets__cart__summary__row {
        color: #fff;
    }

    .tickets__layout .tickets__main .tickets__places__row .header {
        color: #fff !important;
    }

    .tickets__layout .tickets__main .tickets__places__row .content .places__kind {
        color: #fff;
    }

    .abonaments__dates__wrapper .abonaments__dates__head .txt {
        color: #fff;
    }

    .abonaments__dates {
        background: #000;
    }

    .abonaments__dates__wrapper .abonaments__dates .abonaments__header__main {
        color: #fff;
    }

    .abonaments__dates__wrapper .abonaments__dates .abonaments__dates__content .abonaments__dates__header__col--abonaments {
        color: #fff;
    }

    .abonaments__dates__slider .abonaments__dates__item .abonaments__dates__item__content {
        background: #000;
        border-color: #fff;
        color: #fff;
    }

    .item__spektakl__summary .content-box {
        color: #fff;
    }

    .page__main .main {
        background: #000 !important;
    }

    .tours .tours__content {
        background: #000;
        color: #fff;
    }

    .tours .tours__content p {
        color: #fff !important;
    }

    .tour__main-header h1 {
        color: #fff;
    }

    .tour__filter__header .tour__filter__header__label {
        color: #fff;
    }

    .butik__search__engine {
        background: #000;
    }

    .container-inner {
        background: #000;
    }

    .butik__search__engine .butik__search__engine__text {
        background: #000;
        color: #fff;
    }

    .butik {
        background: #000 !important;
    }

    .butik__news h2 {
        color: #fff !important;
    }

    .butik__news__txt p {
        color: #fff !important;
    }

    .butik__publikacje h2 {
        color: #fff !important;
    }

    .product__item .product__item__header {
        color: #fff;
    }

    .shopping_box .shopping_box__icons .items .item .txt {
        color: #fff;
    }

    .product__item .product__item__header .price .disqount:after {
        background-color: #fff;
    }

    .butik__news__txt a {
        color: #fff !important;
    }

    .butik_2 {
        background: #000 !important;
    }

    .breadcrumbs li, .breadcrumbs li a {
        color: #fff !important
    }

    .butik_desc_head__content {
        color: #fff;
    }

    .special__products h2 {
        color: #fff !important;
    }

    .bestsellers h2 {
        color: #fff !important;
    }

    .butic_more_info {
        color: #fff;
    }
    
    .butic_more_info .row h2 {
        color: #fff !important;
    }

    .butic_more_info p {
        color: #fff !important;
    }

    ul {
        color: #fff;
    }

    .butik_desc_head__content .price.price--disqount:after {
        background-color: #fff !important;
    }

    .product__item__content {
        color: #fff;
    }

    .fr-popup__content {
        border: 1px solid #fff;
        background: #000;
        color: #fff;
    }

    .fr-popup--choose_tickets .fr-form--popup .fr-form__h2 {
        color: #fff !important;
    }

    .form__section-header {
        color: #fff;
    }

    .form__label {
        color: #fff;
    }

    .fr-popup__text {
        color: #fff !important;
    }

    .form__link {
        color: #fff !important;
    }

    .form--cart {
        background-color: #000;
    }

    .form__input {
        background: #000;
        color: #fff;
    }

    .checkbox__content {
        color: #fff;
    }

    .checkbox__checkmark {
        background-color: #000;
        border-color: #fff;
    }

    .form__select {
        background: #000;
        color: #fff;
    }

    .delivery__text {
        color: #fff;
    }

    .radiobox__content {
        color: #fff;
    }

    .checkbox__content a {
        color: #fff !important;
    }

    .fr-summ-header {
        color: #fff;
    }

    .fr-summ {
        color: #fff;
    }

    .form__textarea {
        background-color: #000;
        color: #fff;
        border-color: #fff;
    }

    .cart-container {
        color: #fff;
    }

    .cart-form {
        background-color: #000;
    }

    .cart-prod {
        color: #fff;
    }

    .cart-table {
        color: #fff;
    }

    .cart-prod__content h3 {
        color: #fff;
    }

    .cart-prod__content p {
        color: #fff !important;
    }

    .fr-add {
        color: #fff !important;
    }

    .fr-add__icon {
        border-color: #fff;
    }

    .fr-add__icon:before, .fr-add__icon:after {
        background-color: #fff;
    }

    .cart-table__sit--icon:before {
        background-color: #fff;
    }
    
    .counter .input_div button span {
        background: #fff;
    }

    .subscription__gift p {
        color: #fff !important;
    }

    .form__output {
        color: #fff;
    }

    .container__inner {
        background-color: #000;
    }

    .summary__order {
        background: #000;
    }

    .summary__order__head .header {
        color: #fff;
    }

    .summary__order__head .note {
        color: #fff;
    }

    .fr-label {
        color: #fff;
    }

    .summary__order__foot {
        color: #fff;
    }

    .summary__order__foot .data__contact:before {
        background-color: #fff;
    }

    .month-full-list li time .day {
        color: #fff;
    }

    .month-full-list li time .weekday {
        color: #fff;
    }

    .data-event .data-event__hour {
        color: #fff;
    }

    .month-full-list li {
        background: #000;
    }

    .data-event .data-event__item .event a {
        color: #fff !important;
    }

    .tour__side {
        background: #000;
        color: #fff;
    }

    .data-event .data-event__item {
        border-color: #fff;
    }

    .data-event .data-event__item {
        border-color: #fff;
    }

    .month-full-list li .event a {
        color: #fff !important
    }

    .month-full-list li .event p {
        color: #fff!important;
    }

}