.summary__order {
    background: #fff;
    padding: 2em 0 6em;
}
.summary__order__head {
    text-align: center;
}
.summary__order__head img {
    display: inline-block;
    margin-bottom: 50px;
}
.summary__order__head .header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}
.summary__order__head .note {
    text-align: left;
    margin-bottom: 40px;
} 
.summary__order__foot {
    padding-top: 40px;
}

.summary__order__foot .address .header {
    font-weight: bold;
    margin-bottom: 15px;
}
.summary__order__foot .address {
    margin-bottom: 25px;
}
.summary__order__foot .note {
    margin-bottom: 35px;
}
.summary__order__foot .data__contact {
    padding-left: 20px;
    position: relative;
    font-size: 14px;
} 
.summary__order__foot .data__contact a {
    color: #000 !important;
    text-decoration: underline;
}
.summary__order__foot .data__contact .header {
    font-weight: bold;
    margin-bottom: 15px;
}
.summary__order__foot .data__contact:before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #000;
} 
.summary__order__foot__list {
    font-size: 1em;
    margin-bottom: 25px;
}
.summary__order__foot__list li {
    margin-bottom: 14px;
}

