.top__header {
    position: absolute;
    left: 0;
    right: 0;
}
.tours .tours__header {
    height: 213px;
    background: url(../../../images-frogriot/mobile/wycieczki/bg.jpg) 50% 0/cover no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.tours .tours__header h2 {
    color: #fff !important;
    text-transform: uppercase;
    margin-top: 70px;
}
.top__header nav .topmenu {
    background: none;
}
.top__header nav .submenu {
    overflow: hidden;
}
.tours__details .tours__details__item .tours__details__item__txt {
    color: #000;
    font-size: 18px;
}
.tours__details .tours__details__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 76px;
}
.tours__details .tours__details__item .tours__details__item__icon {
    width: 4em;
    margin-right: 2em;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: 15%;
}
.tours__foot {
    color: #000;
    margin-bottom: 40px;
    font-size: 18px;
}
.tours__foot .tours__foot__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px;
}
.tours__foot .tours__foot__header img {
    margin-right: 13px;
}
.tours__foot a {
    color: #000;
    text-decoration: underline;
}
.tours .tours__content h3 {
    padding: 46px 0;
    text-transform: uppercase;
    margin-bottom: 0;
}
.tours__images {
    margin-bottom: 47px;
}
.tours__images .tours__images__item {
    height: 200px;
}
.tours__images .tours__images__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.tours .tours__details {
    margin-top: 40px;
}
.fr-popup--choose_tickets {
    color: #000;
}
.fr-popup--choose_tickets .fr-popup__content {
    width: 100%;
    max-width: none;
    position: static;
}
.fr-popup--choose_tickets select {
    position: static;
    display: block;
    opacity: 1;
    width: 100%;
    max-width: 420px;
    height: 40px;
    padding-left: 6px;
    font-size: 19px;
    background: #fff;
}
/***POPUPS***/
.fr-popup--choose_tickets  {
    display: block;
}
.fr-popup--choose_tickets .fr-form__row--last {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding:  0 15px;
}
.fr-popup--choose_tickets .fr-form__row {
    display: table-row;
}
.fr-popup--choose_tickets .fr-form__col__header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}
.fr-popup--choose_tickets .fr-form__col__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fr-popup--choose_tickets .fr-form__col__header img {
    margin-left: 20px;
}
.fr-popup--choose_tickets th.fr-form__col {
    padding: 0 15px 0;
}
.fr-popup--choose_tickets td.fr-form__col {
    padding: 0 15px 41px;
}
.fr-popup--choose_tickets div.fr-form__col {
    padding: 0 0 41px;
}
.fr-popup--choose_tickets td.fr-form__col .trash {
    cursor: pointer;
}
.fr-popup--choose_tickets td.fr-form__col .trash img {
    max-width: none;
}
.fr-popup--choose_tickets__price {
    font-size: 22px;
    font-weight: bold;
    padding: 6px 0;
    white-space: nowrap;
}
.fr-form-row.fr-form-row--extra_row {
    border-top: 1px solid #eaeaea;
    text-align: center;
    padding: 30px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fr-form-row.fr-form-row--extra_row img {
    margin-right: 10px;
}
.fr-popup--choose_tickets__txt {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
html body .fr-popup--choose_tickets h2 {
    font-size: 26px;
    text-transform: uppercase;
    padding: 0 15px;
}
.fr-popup--choose_tickets .fr-popup__close {
    right: 25px;
}
.fr-popup--choose_tickets .fr-form__submit {
    font-size: 22px;
    height: 60px;
}
.fr-popup--choose_tickets .fr-form__submit--white {
    border: 1px solid #000;
}
.fr-popup--choose_tickets__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}
.fr-popup--choose_tickets__head .fr-close {
    right: 10px;
}
.fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__left {
    width: 37%;
    max-width: 220px;
    padding: 30px 15px;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid #d9d9d9;
}
.fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__left .num {
    font-size: 36px;
    font-weight: bold;
}
.fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__left .day {
    font-size: 14px;
    
}
.fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__right {
    width: 60%;
    padding-left: 15px;
}
.fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__right .name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
    
}
.fr-popup--choose_tickets__head .fr-popup--choose_tickets__head__right .hour {
    font-size: 1em;
}
body .fr-popup--choose_tickets {
    display: block;
}
.fr-popup--choose_tickets .fr-form__h2 {
    padding: 0;
}
.choose_tickets_table {
    width: 100%;
    margin-bottom: 30px;
}
.choose_tickets_table .fr-form__row .fr-form__col {
    padding: 0;
}
.choose_tickets_table .fr-form__row .fr-form__col:last-child {
    width: 40px;
    vertical-align: middle;
}
.choose_tickets_table .fr-form__row .fr-form__col:last-child .trash {
    margin: 0 auto;
    display: table;
}
.choose_tickets_table .fr-form__row .fr-form__col:nth-last-child(2) {
    width: 50px;
    text-align: right;
}

@media only screen and (min-width: 720px) {
    .tours__details .tours__details__item .tours__details__item__icon {
        width: 6em;
    }
    .tours__images .tours__images__item {
        height: 400px;
    }
}