.tour__calendar .tour__head {
    width: 100%;
    background: url(../../../images-frogriot/mobile/wycieczki/bg.jpg) 50% 0/cover no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.tour__calendar  .tours__header {
    display: block;
    height: auto;
    padding-top: 100px;
}
.tour__calendar  .tours__header h1 {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
}
.tour__calendar .tour__head #calendar-date {
    width: 100%;
    color: #fff;
}
.tour__calendar .tour__head #calendar-category {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    color: #fff;
}
.tour__calendar .tour__head #calendar-category .custom-select {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20px;
    background: none;
    border: none;
    color: #fff;
}
.tour__calendar .tour__head #calendar-category .custom-select .selected {
    background: url(../../../images-frogriot/custom-select.png) 100% 50% no-repeat;
    background-size: 8px;
}
.tour__calendar .tour__head #calendar-category label {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tours .month-full-list li .event {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.tours .data-event__tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tours .data-event__tour time {
    margin-right: 17px;
    width: 90px;
}
.tours .data-event__tour .data-event__events .event {
    padding-left: 0;
    padding-top: 8px;
}
.tours .data-event__tour .data-event__events .event h3 a {
    display: block;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4 !important
}
.tours .data-event__tour .data-event__events .event .data-event__hour {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
.tour__side h2 {
    margin-bottom: 20px;
}
.tour__side .tour__side__item {
    font-size: 17px;
    color: #000;
    margin-bottom: 28px;
}
.tour__side .tour__side__item ul {
    list-style: disc;
    padding-left: 16px;
}

.tour__side .tour__side__item .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    margin-bottom: 3px;
}
.tour__side .tour__side__item .header img {
    margin-right: 6px;
}
.tour__side .tour__side__item a {
    display: block;
    color: #000;
}
.tours #events-list {
    margin-bottom: 24px;
}
.tour__calendar #events-list li {
    padding-top: 15px;
}
.tour__calendar .data-event__events {
    width: 100%;
}
.tours .data-event__tour {
    border-bottom: 1px solid #d8d8d8;
    margin: 0 -15px;
    padding: 0 15px;
}
.tour__calendar .data-event__events .data-event__item {
    padding-bottom: 22px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 12px;
}
.tour__calendar .data-event__events .data-event__item:first-child .event {
    padding-top: 0;
}
.tour__calendar .data-event__events .data-event__item:first-child .event h3 {
    margin-top: 0;
}
.tour__calendar .data-event__events .data-event__item:last-child {
    border-bottom: none;
}
.tour__calendar .data-event__available_tickets {
    color: #000;
    text-align: center;
    font-weight: bold;
}
.tours .price.data-event__price .btn {
    margin-bottom: 8px;
}