.main__map__parter .map__main__row--17 {
    margin-top: 2.7%;
}
.main__map__parter .map__main__row--17 .map__main__col {
    width: 5.8%;
    padding-bottom: 0.1%;
}

.main__map__parter .map__main__row--17 .map__main__col--left {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-right: 6.6%;
}
.main__map__parter .map__main__row--17 .map__main__col--right {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-right: 1%;
}
.main__map__parter .map__main__row--17 .map__main__col--left--extra {
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
    margin-right: 1.5%;
}
