.main__map__parter .map__main__row--16 {
    margin-top: 2.6%;
}
.main__map__parter .map__main__row--16 .map__main__col {
    width: 8.3%;
    padding-bottom: 0.1%;
    margin: 0 2.8%;
}
.main__map__parter .map__main__row--16 .map__main__col--extra {
    width: 2.8%;
    margin: 0 -0.2%;
    padding-bottom: 0.1%;
    margin-top: -1.2%;
}
.main__map__parter .map__main__row--16 .map__main__col--left {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
}
.main__map__parter .map__main__row--16 .map__main__col--right {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.main__map__parter .map__main__row--16 .map__main__col--left--extra {
    -webkit-transform: rotate(13deg);
}
.main__map__parter .map__main__row--16 .map__main__col--right--extra {
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
}
