.main__map__parter .places {

}
.main__map__parter .map__main__row--1 {
    
}
.main__map__parter .map__main__row--1 .map__main__col {
    width: 25%;
    padding-bottom: 0.8%;
}
.main__map__parter .map__main__row--1 .map__main__col--left {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-right: 5%;
}
.main__map__parter .map__main__row--1 .map__main__col--right {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}