.main__map__parter .places {
}
.main__map__parter .map__main__row--2 {
    margin-top: 2.9%;
}
.main__map__parter .map__main__row--2 .map__main__col {
    width: 23.7%;
    padding-bottom: 0.6%;
}
.main__map__parter .map__main__row--2 .map__main__col--left {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
    margin-right: 5.2%;
}
.main__map__parter .map__main__row--2 .map__main__col--right {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}