.main__map__parter .map__main__row--13 {
    margin-top: 4.3%;
}
.main__map__parter .map__main__row--13 .map__main__col {
    width: 7.5%;
    padding-bottom: 0.1%;
}
.main__map__parter .map__main__row--13 .map__main__col--extra {
    width: 7.5%;
    padding-bottom: 0.1%;
    margin-left: 2.5%;
    margin-top: -2%;
}
.main__map__parter .map__main__row--13 .map__main__col--left {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-right: 6.2%;
    margin-left: 1%;
}
.main__map__parter .map__main__row--13 .map__main__col--right {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-right: 1%;
}
.main__map__parter .map__main__row--13 .map__main__col--left--extra {
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
    margin-right: 2.5%;
}
.main__map__parter .map__main__row--13 .map__main__col--right--extra {
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
    margin-right: 3.5%;
}