.main__map__parter .places {
    
}
.main__map__parter .map__main__row--3 {
    margin-top: 2.5%;
}
.main__map__parter .map__main__row--3 .map__main__col {
    width: 24.8%;
    padding-bottom: 0.6%;
}
.main__map__parter .map__main__row--3 .map__main__col--left {
    -webkit-transform: rotate(13.8deg);
    transform: rotate(13.8deg);
    margin-right: 5.2%;
}
.main__map__parter .map__main__row--3 .map__main__col--right {
    -webkit-transform: rotate(-13.8deg);
    transform: rotate(-13.8deg);
}