.main__map__parter .map__main__row--4 {
    margin-top: 2.3%;
}
.main__map__parter .map__main__row--4 .map__main__col {
    width: 26.5%;
    padding-bottom: 0.7%;
}
.main__map__parter .map__main__row--4 .map__main__col--left {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
    margin-right: 5.2%;
}
.main__map__parter .map__main__row--4 .map__main__col--right {
    -webkit-transform: rotate(-14deg);
    transform: rotate(-14deg);
}
