.main__map__parter .map__main__row--11 {
    margin-top: 2.8%;
}
.main__map__parter .map__main__row--11 .map__main__col {
    width: 16%;
    padding-bottom: 0.3%;
}
.main__map__parter .map__main__row--11 .map__main__col--extra {
    width: 1.5%;
    padding-bottom: 0.1%;
    margin-left: 2.5%;
    margin-top: -1.5%;
}
.main__map__parter .map__main__row--11 .map__main__col--left {
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
    margin-right: 4.7%;
    margin-left: 1%;
}
.main__map__parter .map__main__row--11 .map__main__col--right {
    -webkit-transform: rotate(-9deg);
    transform: rotate(-9deg);
    margin-right: 1%;
}
.main__map__parter .map__main__row--11 .map__main__col--left--extra {
    -webkit-transform: rotate(23.8deg);
    transform: rotate(23.8deg);
    margin-right: 3.5%;
}
.main__map__parter .map__main__row--11 .map__main__col--right--extra {
    -webkit-transform: rotate(-23.8deg);
    transform: rotate(-23.8deg);
    margin-right: 3.5%;
}