.donations{
    padding: 70px 0;
    background-color:#eaeaea;

    @include el('header'){
        font-size: 1.8em;
        font-weight: 700;
        margin: 0;
        color:#000 !important;
    }

    @include el('text'){
        font-size:1.2em;
        line-height: 1.2;
        margin:30px 0;
        padding:0;
    }

    @include el('selected'){
        font-size:1.4em;
        line-height: 1.2;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                margin-left:30px;
            }
        }
    }

    @include el('label'){
        font-size:1.2em;
        display:block;
        margin-bottom: 11px;
    }

    @include el('input-wrapper'){
        display: flex;
        align-items: center;
        &:after{
            content: "PLN";
            margin-left:15px;
            font-size: 1.2em;
        }
    }

    @include el('input'){
        width:200px;
        height:40px;
        border:2px solid #d9d9d9;
        font-size:1.2em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include el('options'){
        display:flex;
        align-items: center;
        margin-top:10px;
        margin-bottom:30px;
        a{
            padding-bottom: 0 !important;
            margin-left:40px;
            &:first-child{
                margin-left:0;
            }
        }
    }

}