 .lockbar{

    background-color:#e4ddbb;
    border-top:1px solid #d1c1a8;
    display: flex;
    align-items: center;
    padding:30px 15px;

    @include el('inner'){
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    @include el('clock'){
        display: flex;
        align-items: center;
        justify-content: center;

        & > div{
            margin-left:15px;
            font-size: 2.1em;
            font-weight: 700;
            color:#000;
        }

    }

    p{
        font-size: 16px;
        color:#000;
        margin:0;
        margin-top:30px;
        text-align: center;
    }

    @include mod('warning'){
        background-color:#ebd1c6;
        border-top:1px solid #ebd1c6;
    }

}


@media only screen and (min-width : 480px) {

    .lockbar{

        background-color:#e4ddbb;
        border-top:1px solid #d1c1a8;
        display: flex;
        align-items: center;
        padding:30px 15px;
    
        @include el('inner'){
            flex-direction: row;
            align-items: center;
        }
    
        @include el('clock'){
            flex: 0 0 156px;
    
            & > div{
                margin-left:15px;
                font-size: 2.1em;
                font-weight: 700;
                color:#000;
            }
    
        }
    
        p{
            font-size: 16px;
            color:#000;
            margin:0;
            margin-left:15px;
            text-align: left
        }
    
        @include mod('warning'){
            background-color:#ebd1c6;
            border-top:1px solid #ebd1c6;
        }
    
    }

}