/*koszyk nav*/

.fr-nav{
    position: absolute;
    top:30px;
    left:0;
    right:0;
    width:100%;
}

.fr-lang-switch{
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    display: block;
    color:#fff !important;
    font-size: 17px;
    font-weight: 700;
    margin-left:24px;
    line-height: 1;
    text-decoration: none;
}

.fr-lang-switch:hover{
    text-decoration: none;
}

.fr-cart,
.fr-myacc{
    position: relative;
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color:#fff !important;
    font-size: 17px;
    margin-left:auto;
}

.fr-cart__counter{
    position: absolute;
    top:0;
    right:0;
    border-radius: 50%;
    background-color:#c8ba77;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width:23px;
    height:23px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23px;
    flex: 0 0 23px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color:#000;
    font-weight: 700;
}

.fr-myacc{
    font-weight: 700;
    margin-left:33px;
    margin-right:0;
}