.ordersumm{
    
    .pr-30{
        padding-right:30px;
    }

    .pl-30{
        padding-left:30px;
    }

    @include el('header'){
        display: block;
        width:100%;
        padding-bottom: 60px;
        margin-bottom: 0 !important;
    }

    @include el('row-wrp'){

        border-top: 1px solid #d9d9d9;
        font-size: 1.2em;
        padding: 30px 0px;

        @include mod('color'){

            font-size:1.4em;
            background-color:#e4ddbb;
            padding: 30px 15px;

        }


    }

    @include el('btns'){
        margin-top:75px;
        padding: 0 15px;
    }

    @include el('finalprice'){
        margin-right:0;
        margin-left:auto;
    }

}