.cart-prod{

    display: flex;
    margin-bottom: 30px;
    color:#000;

    @include el('thumb'){
        flex: 0 0 100px;
        width:100px;
        height:100px;
        margin-right:20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            max-width: 100%;
            max-height:100%;
            height:auto;
            width:auto;
        }

    }

    @include el('content'){

        h3{
            font-size: 1.4em;
            font-weight: 700;
            margin-top:0;
            margin:0;
        }

        p{
            font-size: 1em;
            padding-bottom: 10px;
            margin-top:20px;
            margin-bottom: 0;

            &:last-child{
                padding-bottom: 0;
                margin-top:0px;
            }

        }

    }

}

.cart-table{
    color:#000;

    @include el('mb-20'){
        margin-bottom: 20px;
    }

    @include el('row'){
        margin-bottom: 20px;

        @include mod('icon'){
            position: relative;
            padding-left:19px;
    
            &:before{
                content:'';
                display: block;
                width:4px;
                height:100%;
                background-color:#000;
                position: absolute;
                top:0;
                left:9px;
            }
        }

        @include mod('pl-25'){
            padding-left:25px;
        }

    }

    @include el('discount-type'){
        display: flex;
        align-items: center;

        img{
            margin-left:20px;
        }

    }

    @include el('sit'){
        position: relative;
        display: flex;
        align-items: center;
        padding-left:25px;

        @include mod('icon'){
            &:before{
                content:'';
                display: block;
                width:4px;
                height:100%;
                background-color:#000;
                position: absolute;
                top:0;
                left:0;
            }
        }

    }

    @include el('separator'){
        width:100%; 
        height:1px; 
        background-color:#d9d9d9; 
        margin-top:15px; 
        margin-bottom:0px;

        @include mod('bottom'){
            margin-top:30px;
        }

    }

    @include el('separator-2'){
        border-bottom: 4px solid #d9d9d9;
        margin-bottom: 25px;
    }

    @include el('price'){
        position: relative;

        a{
            position: absolute;
            right:8px;
        }

        strong{
            margin-left:auto;
        }

        @include mod('icon'){
            padding-right: 35px;
        }

    }

    @include el('summary'){
        font-size:1.4em;
        margin-bottom: 30px;
        margin-top:30px;

        @include mod('mb-0'){
            margin-bottom: 0;
        }

        @include mod('honey'){
            margin-bottom:50px;
        }

    }
    
    @include mod('no-margin-border'){
        border:0;
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 480px) {

    .cart-prod{

        @include el('thumb'){
            flex: 0 0 150px;
            width:150px;
            height:150px;
            margin-right:20px;
    
        }
    
    }

}