.recprod{

    padding:70px 0;

    .slick-list{
        overflow: hidden;
    }

    .slick-list,
    .slick-track{
        display: flex;
    }

    @include el('inner'){
        display:flex;
        align-items: center;
        margin-top:15px;
    }

    @include el('item'){
        flex:0 0 250px;
        width:250px;
        margin-left:15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @include el('thumb'){
        height:342px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 35px;
    }

    @include el('title'){
        font-size:1.2em;
        padding-top: 45px;
        text-align: center;
        min-height: 90px;
    }

    @include el('price'){
        font-weight: 700;
        font-size:1.2em;
        margin:25px 0;
        text-align: center;
    }

}