.souvenir{
    padding: 60px 0;
    background-color: #eaeaea;
    margin-bottom: 50px;

    @include el('header'){
        font-size: 1.8em;
        font-weight: 700;
        margin: 0;
        color:#000 !important;
    }

    @include el('text'){
        font-size:1.2em;
        line-height: 1.2;
        margin-top:12px;
        padding:0;
        margin-bottom: 50px;
    }

    @include el('inner'){
        /* display:flex;
        align-items: center;
        justify-content: space-between;
        margin-top:15px; */
    }

    @include el('item'){
        width:250px;
        flex: 0 0 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left:15px;
    }

    @include el('thumb'){
        height:250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include el('title'){
        font-size:1.2em;
        margin-top:30px;
        text-align: center;
    }

    @include el('price'){
        font-weight: 700;
        font-size:1.2em;
        margin:25px 0;
        text-align: center;
    }

}