.subscription{

    @include el('header'){
        font-size: 1.8em;
        font-weight: 700;
        margin-top:30px;
        margin-bottom: 30px;
    }

    @include el('item'){
        margin-bottom: 50px;

        .abonaments__dates__slider{
            margin: 40px 30px;
        }

    }

    @include el('gift'){
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        p{
            margin:0;
            margin-left:20px;
            font-size: 1.2em;
        }

    }

}