.cart-tabs{
    display: flex;


    @include el('item'){

        flex:1;
        border-bottom:1px solid #d9d9d9;
        margin-bottom: 0 !important;

        a{
            border:0 !important;
            outline:0;
            border-top-left-radius:0 !important;
            border-top-right-radius:0 !important;
            padding:0;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color:#fff;
            color:#000 !important;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;

            width:100%;
            height:100px;
            /*padding:20px 15px;*/
            padding: 10px 2px;

            & > span{
                font-size: 12px;
                display: flex;
                justify-content: center;
                
            }
            
            span {
                display: flex;
            }

            span.first{
                margin-right: 0;
            }

            &.active{
                background-color:#d9d9d9 !important;
            }

        }

        @include mod('last'){
            border-bottom: 0;
        }
    }

}


@media only screen and (min-width : 480px) {
    .cart-tabs{
        flex-direction: row;

        @include el('item'){
    
            flex:1;
            border-right:1px solid #d9d9d9;
            margin-bottom: -1px !important;
    
            a{

                & > span{
                    font-size: 14px;
                    flex:1;
                }

    
            }
    
            @include mod('last'){
                border-right: 0;
            }
        }
    
    }
}