body {
  color: #222222;
}

/* global.css */
*::selection {
  color: #000000;
  background-color: #d9d9d9;
}

*::-moz-selection {
  color: #000000;
  background-color: #d9d9d9;
}

hr {
  border-color: #4d4d4d;
}

body,
.badge,
.main,
.slider .video-slider li,
.slider .photo-slider li,
.vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content,
.vjs-default-skin .vjs-menu-button ul li.vjs-selected,
.video-js,
.video-js .vjs-text-track {
  background-color: #000000;
}

.progress span,
body > header > ul:first-child > li.wcag:hover > a,
body > header > ul:first-child > li.wcag.hover-in > a,
body > header > ul > li .apla,
.nav-bar > nav > ul > li:first-child a:hover,
.nav-bar > nav > ul > li:first-child a:focus,
.nav-bar > form fieldset:before,
.nav-bar > form input[type=submit]:hover,
.info .apla,
.list-news li a,
.white-list > li,
.month-full-list li,
.month-full-list li.premiere,
.thumb span,
#hero-slider,
body > section article .slider ul.news-slider li .teaser,
body > section .text,
.slider .time-slider,
.slider .next-slider,
.vcard.white-apla,
body > footer,
#event-time .total-time,
  /*body > header > ul > li:first-child:hover > a:hover,*/
.list-jobs li a,
.selectLabel.expanded em,
.selectOptions li,
.form fieldset.white,
body > section article section .slider .people-slider,
body > section article section .slider .news-slider,
body > section .partners li,
body > section .sponsors li > div,
body > section .list-news li.selected .text,
.nav-bar > nav > ul > li > a:hover,
body > header > ul > li > a:hover,
body > header > ul > li > a:focus,
.profile-form a:hover,
.popup,
body > section .tabs li:hover a,
.form input[type="text"],
.form input[type="password"],
.vjs-default-skin .vjs-slider-handle:before,
.vjs-default-skin .vjs-volume-level,
.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-menu-button ul li:focus,
.vjs-default-skin .vjs-menu-button ul li:hover,
.vjs-default-skin .vjs-menu-button ul li.vjs-selected:focus,
.vjs-default-skin .vjs-menu-button ul li.vjs-selected:hover,
#layer-content .toggle,
.search-autocomplete,
.info-img,
.info-img .info-img-open {
  background-color: #ffffff;
}

body > section .tabs li.selected:hover a {
  background-color: transparent !important;
}

.subsection .list-news li .text {
  background-color: #272727;
}

.subsection .list-news li .text * {
  color: #111110 !important;
  background-color: transparent;
}

.subsection .list-news li .text .btn {
  background-color: #242423 !important;
}

.btn.yellow {
  background-color: #b8b600 !important;
}

.main .container > h1,
.main .container > section > h2,
h2,
.related-news li h3 {
  /*background-image: url('../img/layout/hr.png');
  background-repeat: no-repeat;*/
}

.nav-bar > nav > ul > li .apla,
.no-js .nav-bar > nav > ul > li:hover .apla,
.nav-bar > nav > ul > li.hover-in .apla {
  background-color: #ffffff;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.9);
}

body.accesskey a:before,
body.accesskey form:before,
.badge,
.vcard li,
.vcard li .email,
#slider .slider-nav,
#slider .copy,
#slider h2,
.subsection h2,
.subsection .list-asymetric li h3,
.subsection .list-asymetric li p,
.subsection .slide .slide-nav,
body > section .container > article > p,
body > section h1:first-child,
body > section > .container > p,
.category-list li,
.calendar-nav h2,
.recommend-list li h3,
.recommend-list li p,
p,
a,
h2,
aside > h2,
.grey-apla .news-item .date,
.grey-apla h3,
.slider ul.comment-list li h3,
aside h2,
body > section article section h2,
body > section .text.dark-grey-apla p,
body > section .text.grey-apla p,
body > section .text.clear p,
body > section .text.clear ul li,
body > section .text.clear ol li,
body > section .text article blockquote p.cite:before,
body > section .text article blockquote p.cite:after,
body > section .text article blockquote p.cite strong,
body > section article > .grid-list li,
body > section article > .grid-list.loaded li,
body > section article.event-detail p.actors,
.related-news li h3,
.limit-rows label,
.selectLabel,
.grey-apla h4,
body > header .nav-bar > nav > ul > li > a:focus,
.form label,
body > section .tabs li a:focus,
body > section .tabs li.selected a:hover,
body > section .subscriptions-list .text h2,
body > section .subscriptions-list .text p,
body > section .subscriptions-list .shows-list a,
body > section .subscriptions-list .text ul,
.subscriptions-list li .sold-out span,
.profile-form .username,
.video-js .vjs-subtitles,
.vjs-default-skin .vjs-current-time,
.vjs-default-skin .vjs-time-controls,
.vjs-default-skin .vjs-menu,
.vjs-quality-button,
body > section h2 + h3,
body > section .subscriptions-list .text h3,
body > section .subscriptions-list .text h4,
body > section .subscriptions-list .text h5,
body > section .grey-apla.text h3,
body > section .grey-apla.text h4,
body > section .grey-apla.text h5 {
  color: #ffffff !important;
}

.pagination ul li,
.pagination ul li a {
  color: #898989 !important;
}

.pagination ul li.selected,
.pagination ul li.selected a {
  color: #ffffff !important;
}

.slider .time-slider li p.time {
  color: #666666 !important;
}

.slider .time-slider li p strong,
.slider .next-slider li time,
body > section .text h3,
.vcard.white-apla li,
.vcard.white-apla li p,
.vcard.white-apla li span,
.vcard.white-apla li a,
body > section .text .pdf li a,
body > section .text .files-list li a,
body > section .text .files-list li a {
  color: #1b1b1b !important;
}

.white-list .description p a,
.text p a,
.text a {
  color: #b8b601 !important;
}

.text p a.btn,
.text a.btn {
  color: #000000 !important;
}

.video-js .vjs-captions {
  color: #ffcc66 /* Captions are yellow */;
}

.csc-sitemap a,
.btn,
.text p .btn,
.info .apla p,
.info .apla p a,
.nav-bar > nav > ul > li ul li a,
.text-footer a,
body > section .text p,
.nav-bar > nav > ul > li > a:hover,
body > header > ul li a:hover,
body > header > ul li a:focus,
.form .white label,
.form .white input[type="text"],
.form .white input[type="password"],
.form .checkbox .value,
.form .radio .value,
body > section .tabs li:hover a,
.form input[type="text"],
.form input[type="password"],
.form .value,
.form .search-field .on-input,
.vjs-default-skin .vjs-menu-button ul li:focus,
.vjs-default-skin .vjs-menu-button ul li:hover,
.vjs-default-skin .vjs-menu-button ul li.vjs-selected:focus,
.vjs-default-skin .vjs-menu-button ul li.vjs-selected:hover,
.search-autocomplete,
.search-autocomplete a,
.info-img,
.white-list li h2 a,
.grid-list-slider li h3 a,
.full-width .text h2 a,
p.search-url a {
  color: #000000 !important;
}

/*.nav-bar > nav > ul > li ul li a {
    -webkit-text-shadow: 0 0 1px #B8B8B8;
    -moz-text-shadow: 0 0 1px #B8B8B8;
    -ms-text-shadow: 0 0 1px #B8B8B8;
    -o-text-shadow: 0 0 1px #B8B8B8;
    text-shadow: 0 0 1px #B8B8B8;
}*/

body > header > ul > li ul li,
body > header > ul > li ul li a,
.calendar-nav .month-btn,
.month-full-list li p,
.white-list p,
.room-list .description h3,
.default-list .description h2,
#hero-slider ul li .teaser h2,
#hero-slider ul li .teaser p,
body > section .text h2,
body > section .text h1.h2,
body > footer > ul:first-child > li,
body > footer ul li a,
body > footer .direct-contact a,
.list-jobs a h3 {
  color: #111111 !important;
}

.subsection .list-news li a,
.subsection .list-news li h3,
.event h3 a,
.month-full-list li .event .hall a,
.list-news li a,
.list-news li a p,
.list-jobs a p,
.white-list li h2,
.related-news li p {
  color: #202020 !important;
}

/*a:hover .thumb:after,*/
body > section article section .slider ul.people-slider li a:hover,
body > section .tabs li.selected,
  /*.slider .video-slider li:hover a:after, .slider .photo-slider li:hover a:after,*/
.nav-bar > nav > ul > li.selected > a, .nav-bar > nav > ul > li.hover-in > a,
.nav-bar > nav > ul > li > a:focus,
.form input[type="text"],
.form input[type="password"],
body > section .tabs li:hover,
body > section .tabs li.selected {
  border-color: #ffffff;
}

.form .white input[type="text"],
.form .white input[type="password"] {
  border-color: #d5d5d5;
}

.form .white li.line,
body > section .text .scroll-list li {
  border-color: #cccccc;
}

.nav-bar > nav > ul > li > a:focus {
  background-color: transparent;
}

.btn,
.subsection .list-news li.selected .text .btn {
  background-color: #d9d9d9 !important;
}

body > header > ul > li ul li {
  border-top: 1px solid #d4d4d4;
}

.month-list {
  border-color: #1a1a1a;
}

/* section.css */

.month-list li.selected,
.category-list li.selected {
  border-color: #ffffff !important;
}

.month-list li:first-child a time {
  border-color: #252525;
}

.month-list li a time {
  border-right: 1px solid #252525;
}

.calendar-nav .month-btn {
  background-color: #d9d9d9;
}

.month-full-list li.cancelled,
.month-full-list li.cancelled p {
  color: #b2b2b2 !important;
}

.month-full-list li.cancelled .event .badge {
  background-color: #b2b2b2;
}

.month-full-list li ul li {
  border-top: 1px solid #b2b2b2;
}

.month-full-list li:focus,
.month-full-list li ul li:focus {
  outline: 1px solid #b8b600;
}

.text-footer {
  background: #ececec;
}

.pipe-left,
body > section .text .download-table td,
body > section .text .download-table th {
  border-left: 1px solid #b2b2b2;
}

.month-full-list > li:before {
  background-color: #b2b2b2;
}

.simple-list li small {
  color: #4d4d4d;
}

.thumb span {
  color: #919191;
}

.cal-list li .description,
.grid-list li .description,
body > section .text.news-lead .description {
  border-left: 1px solid #b1b1b1;
}

.timeline-list:before {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 86%,
    rgba(255, 255, 255, 1) 99%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(86%, rgba(255, 255, 255, 1)),
    color-stop(99%, rgba(255, 255, 255, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 86%,
    rgba(255, 255, 255, 1) 99%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 86%,
    rgba(255, 255, 255, 1) 99%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 86%,
    rgba(255, 255, 255, 1) 99%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 86%,
    rgba(255, 255, 255, 1) 99%
  ); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

.timeline-list ul li {
  color: #353535 !important;
}

aside .categories li a {
  border-top: 1px solid #4d4d4d;
}

body > section article .slider ul.news-slider li h2,
body > section article .slider ul.news-slider li p,
body > section article section .slider ul.news-slider li h3 {
  color: #282828 !important;
}

body > section article hr {
  border-color: #333434;
}

body > section article section > h3,
body > section .sponsors li.header h3 {
  color: #e6e6e6 !important;
}

body > section article section hr {
  background: rgba(255, 255, 255, 0.2);
}

body > section article section .slider ul.people-slider li p,
body > section article section .slider ul.people-slider li p strong {
  color: #1e1e1e !important;
}

body > section .sponsors li,
body > section .partners li,
body > section .main-partners li:nth-child(2) {
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

body > section .text.light-grey {
  background: #d9d9d9;
}

body > section .text.grey-apla,
.grey-apla {
  background: rgba(217, 217, 217, 0.2);
}

.lt-ie9 body > section .text.grey-apla,
.grey-apla {
  background: url("../img/layout/bg-grey-transparent.png") repeat;
}

body > section .text .download-list .row > div {
  border-left: 1px solid #b2b2b2;
}

body > section .text p span {
  color: #919191;
}

body > section .text hr {
  border-color: #d0d0d0;
}

body > section .text article blockquote {
  background: #d9d9d9;
}

body > section .text article.separator-above {
  border-top: 1px solid #d0d0d0;
}

body > section .text article.separator-below {
  border-bottom: 1px solid #d0d0d0;
}

#event-time .total-time {
  color: #454545 !important;
  border-top: 1px solid #d9d9d9;
}

.slider .time-slider li.even {
  background-color: #eaeaea;
}

.slider .next-slider li {
  border-left: 1px solid #b2b2b2;
}

.slider .next-slider li .btn {
  background-color: #dde00f;
}

.slider .next-slider li .sold-out {
  color: #880000;
}

.vcard.white-apla li small {
  color: #919191;
}

.pagination ul li {
  border-left: 2px solid #252525;
}

/* footer.css */
body > footer address {
  border-top: 1px solid #d5d5d5;
}

body > footer .direct-contact {
  color: #1e1e1e !important;
}

.selectLabel.expanded {
  color: #2f2f33 !important;
  background-color: #d9d9d9;
}

.selectOptions li {
  color: #1c1d21 !important;
}

.selectOptions li.selected,
.selectOptions li:hover,
.search-autocomplete .active a,
.search-autocomplete a:hover {
  background: #d9d9d9;
}

.form .msg {
  color: #919191 !important;
}

.form .error {
  color: #ff0000 !important;
}

.popup h2 {
  color: #000000 !important;
}

.scroll-list a {
  color: #000000 !important;
}

.subscriptions-list .text {
  background: transparent;
}

.subscriptions-list .details-overlay em {
  color: #898989;
}

.scroll-list .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #bbbbbb;
}

.popup p {
  color: #222222 !important;
}

.long-list:before {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(65%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

.vjs-default-skin .vjs-slider,
.vjs-default-skin .vjs-volume-bar,
.vjs-progress-holder .vjs-slider {
  background-color: #333333;
}

.vjs-default-skin .vjs-load-progress {
  background: #646464 /* IE8- Fallback */;
  background: rgba(255, 255, 255, 0.4);
}

.nav-bar > nav > ul > li.hover-in > a,
.nav-bar > nav > ul > li.hover-in > a:focus {
  background-color: #ffffff !important;
  color: #000000 !important;
}

#slider .white .copy,
#slider .white .copy p,
#slider .white .copy h2 {
  color: #000000 !important;
}

#main-header {
  transition: background 2s;
  -o-transition: background 2s;
  -ms-transition: background 2s;
  -moz-transition: background 2s;
  -webkit-transition: background 2s;
}

#slider .white .copy .btn {
  background: #191919 !important;
  color: #ffffff !important;
}

.white-slider #main-header {
  background: #000000;
}

.lt-ie9 .white-slider #main-header {
  background: url(../img/layout/bg-black-transparent.png);
}

a:focus,
.slider .flex-direction-nav a:focus {
  outline: 1px solid #b8b600;
}

#main-header a:focus {
  outline: none;
}

.btn {
  border: 1px solid #d9d9d9;
}

#slider .white .copy .btn {
  border-color: #000000;
}

.btn:focus,
.text a.btn:focus {
  text-decoration: none !important;
  outline: none !important;
  color: #d9d9d9 !important;
  background-color: #000000 !important;
}

#slider .white .copy .btn:focus {
  text-decoration: none !important;
  outline: none !important;
  color: #000000 !important;
  background-color: #d9d9d9 !important;
}

.subsection .list-news li .text .btn {
  border-color: #242423;
}

.subsection .list-news li.selected .text .btn {
  border-color: #d9d9d9;
}

.subsection .list-news li.selected .text .btn:focus {
  text-decoration: none !important;
  outline: none !important;
  color: #d9d9d9 !important;
  background-color: #000000 !important;
}

.text a:focus {
  outline: none;
  text-decoration: underline;
}

.vcard a:focus {
  outline: none;
  text-decoration: underline;
}

.nav-bar .apla a:focus {
  outline: none;
  text-decoration: underline;
}

.nav-bar .apla a:focus img {
  outline: 2px solid #b8b600;
}

footer a:focus {
  outline: none;
  text-decoration: underline;
}

.month-full-list a:focus {
  outline: none;
  text-decoration: underline;
}

.categories a:focus {
  outline: none;
  text-decoration: underline;
}

.files-list a:focus span {
  outline: none;
  text-decoration: underline;
}

.white-list a:focus {
  outline: none;
  text-decoration: underline;
}

.white-list a.see:focus {
  outline: 1px solid #b8b600;
}

#main-header > ul .apla a:focus {
  outline: 1px solid #b8b600;
}

.subsection-recommend a:focus {
  outline: none;
}

.subsection-recommend a:focus img {
  outline: 2px solid #b8b600;
}

.recommend-list a:focus {
  outline: none;
}

.recommend-list a:focus img {
  outline: 2px solid #b8b600;
}

.tabs-more-info a:focus {
  outline: none;
}

.tabs-more-info a:focus img {
  border: 2px solid #b8b600;
}

.grid-list a:focus {
  outline: none;
}

.grid-list a:focus img {
  outline: 2px solid #b8b600;
}

.grid-list-slider .slides a:focus {
  outline: none;
}

.grid-list-slider .slides a:focus img {
  outline: none;
  border: 2px solid #b8b600;
}

.slider.slider-no-gap .slides a:focus {
  outline: none;
}

.slider.slider-no-gap .slides a:focus img {
  border: 2px solid #b8b600;
}

.selectLabel.focus {
  outline: 1px solid #b8b600;
}

.mCSB_scrollTools a:focus {
  background-color: #b8b600 !important;
}

#login a:focus {
  outline: 1px solid #b8b600;
}

.form .white input[type="text"]:focus,
.form .white input[type="password"]:focus {
  border-color: #b8b600;
}

.custom-checkbox.focus {
  outline: 1px solid #b8b600;
}

#searchForm.focus {
  outline: 1px solid #b8b600;
}

#searchForm input:focus {
  outline: none;
}

.submit a {
  color: #b8b601 !important;
}

ul.white-list li h3 a {
  color: #b8b601 !important;
}

@media screen and (max-width: 988px) {
  #event-next > div > ul > li > time > strong {
    font-size: 13px;
  }
}

.mCSB_container small {
  font-size: 15px;
  font-weight: 600;
}
