@font-face{
    font-family:"HelveticaNeueW02-UltLt";


    src:url("/fileadmin/templates/default/font/787ee748-9cce-45a0-910b-6b5c6e87e327.eot?#iefix");
    src:url("/fileadmin/templates/default/font/787ee748-9cce-45a0-910b-6b5c6e87e327.eot?#iefix") format("eot"),url("/fileadmin/templates/default/font/84558c76-9f1b-44d2-ac62-d7937f43809b.woff") format("woff"),url("/fileadmin/templates/default/font/411a88fe-e483-4fb8-af42-8369ebb1138d.ttf") format("truetype"),url("/fileadmin/templates/default/font/6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167.svg#6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167") format("svg");
}
@font-face{
    font-family:"HelveticaNeueW02-Thin";


    src:url("/fileadmin/templates/default/font/30b6ffc3-3b64-40dd-9ff8-a3a850daf535.eot?#iefix");
    src:url("/fileadmin/templates/default/font/30b6ffc3-3b64-40dd-9ff8-a3a850daf535.eot?#iefix") format("eot"),url("/fileadmin/templates/default/font/775a65da-14aa-4634-be95-6724c05fd522.woff") format("woff"),url("/fileadmin/templates/default/font/988eaaa7-5565-4f65-bb17-146b650ce9e9.ttf") format("truetype"),url("/fileadmin/templates/default/font/3503a1a6-91c3-4c42-8e66-2ea7b2b57541.svg#3503a1a6-91c3-4c42-8e66-2ea7b2b57541") format("svg");
}
@font-face{
    font-family:"CenturyGothicW02";
    font-weight: normal;

    src:url("/fileadmin/templates/default/font/1d0f9f99-dade-4366-9ca4-4b4f94cbcefa.eot?#iefix");
    src:url("/fileadmin/templates/default/font/1d0f9f99-dade-4366-9ca4-4b4f94cbcefa.eot?#iefix") format("eot"),url("/fileadmin/templates/default/font/8a946a0d-ecf6-4f37-b671-63d703d7876a.woff") format("woff"),url("/fileadmin/templates/default/font/29f15db7-8d48-4df7-b50e-44e697d20d22.ttf") format("truetype"),url("/fileadmin/templates/default/font/9cc1d02f-64c6-447e-9041-0553ce316bb5.svg#9cc1d02f-64c6-447e-9041-0553ce316bb5") format("svg");
}
@font-face{
    font-family:"CenturyGothicW02";
    font-style: italic;


    src:url("/fileadmin/templates/default/font/512a60d8-26ca-4290-a022-76dd87cd1ecc.eot?#iefix");
    src:url("/fileadmin/templates/default/font/512a60d8-26ca-4290-a022-76dd87cd1ecc.eot?#iefix") format("eot"),url("/fileadmin/templates/default/font/16505840-b4cf-46c6-8ebd-cf19bc4ca17d.woff") format("woff"),url("/fileadmin/templates/default/font/8c0de926-dbae-47c4-98f7-61db6507e1f6.ttf") format("truetype"),url("/fileadmin/templates/default/font/a0285e30-1629-4f28-9c69-7ffc3d949d98.svg#a0285e30-1629-4f28-9c69-7ffc3d949d98") format("svg");
}
@font-face{
    font-family:"CenturyGothicW02";
    font-weight: bold;


    src:url("/fileadmin/templates/default/font/96e7de6c-255b-4446-9546-26ff4b26b612.eot?#iefix");
    src:url("/fileadmin/templates/default/font/96e7de6c-255b-4446-9546-26ff4b26b612.eot?#iefix") format("eot"),url("/fileadmin/templates/default/font/ff3118db-75f9-4b0d-9e2c-85999a071fcf.woff") format("woff"),url("/fileadmin/templates/default/font/692d7b29-83b0-4afe-81e5-0ca78dda31c7.ttf") format("truetype"),url("/fileadmin/templates/default/font/4dee12b9-4de7-4a6a-bc3e-9099b13721a4.svg#4dee12b9-4de7-4a6a-bc3e-9099b13721a4") format("svg");
}

body, button, input, select, textarea {
    font-family: Arial, Tahoma, Verdana, Helvetica;
}
h3, .text h2 {
    font-family: CenturyGothicW02, Arial, Tahoma, Helvetica;
}
#content > h1, #content > h2 {
    font-family: HelveticaNeueW02-Thin, Arial, Tahoma, Helvetica;
}

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.pull-left {float: left;}
.pull-right {float: right;}

.np {padding: 0 !important;}

a {text-decoration: none;}
a:focus {outline: none;}
ul {margin: 0; padding: 0; list-style: none;}
img {vertical-align: bottom;}

.btn {display: inline-block; line-height: 30px; padding: 0 12px; background-color: #d9d9d9; border-radius: 2px; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #000 !important;}
.btn.lime {background-color: #dde00f;}
.btn + .btn {margin-left: 22px;}
.btn-more {text-align: center;}
footer .btn {font-size: 9px; background: #f2f2f2; line-height: 24px; padding; 0 10px;}

.inactive {display: none !important;}
.limit-rows, .next-prev-news-list {display: none !important;}

#wrapper {position: relative; background: #000 url('../img/bg.jpg') no-repeat 50% 0; background-size: 100%; overflow: hidden;}
#overlay {background: #000; opacity: 0; position: absolute; top: 80px; left: -200%; width: 100%; bottom: 0; z-index: 98;

    transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
}

body {color: #fff;}

.monit {position: relative; z-index: 111; overflow: hidden; background-color: #fff;
    transition: height .3s;
    -o-transition: height .3s;
    -ms-transition: height .3s;
    -moz-transition: height .3s;
    -webkit-transition: height .3s;
}
.monit .text {background: transparent; padding-right: 48px;}
.monit .text h3 {padding-bottom: 4px;}
.monit .close {position: absolute; top: 50%; right: 0; margin-top: -26px; padding: 20px; background-image: url('../img/transparent.png');}
.monit .close img {width: 12px; height: 12px; display: block;}

nav {height: 80px;}
nav a {color: #fff; font-weight: bold; text-transform: uppercase; font-size: 12px;}
nav .topmenu {position: relative; background: #000 url('../img/bg.jpg') no-repeat 50% 0; background-size: 100%; z-index: 10;}
nav .topmenu ul {float: left;}
nav .topmenu ul li {float: left;}
nav .topmenu ul li > a {display: block; height: 56px; padding-top: 24px;}
nav .topmenu ul li > a span {display: block; line-height: 32px; border-right: 1px solid rgba(255,255,255,.12);}
nav .topmenu ul li .hamburger {padding-left: 32px; width: 80px; background: url('../../files/mobile/hamburger.png') no-repeat 76px 50%; background-size: 10px 10px;}
nav .topmenu ul li .lang,
nav .topmenu ul li .show-monit {width: 60px; text-align: center;}
nav .topmenu ul li .show-monit span {border-right: none;}
nav .topmenu ul li .show-monit.hidden {visibility: hidden;}

nav .topmenu ul .lang-switch > a {display: none;}
nav .topmenu ul .lang-switch > a.lang {display: block;}

nav .topmenu ul li.lang-switch.current {display: none;}

nav .submenu {position: absolute; top: 80px; width: 100%; z-index: 9; height: 0;}
nav .submenu ul {background-color: rgba(95,95,95,.95); border-bottom: 1px solid rgba(0,0,0,.1);
    transform: translate3d(0px,-100%,0px);
    -o-transform: translate3d(0px,-100%,0px);
    -ms-transform: translate3d(0px,-100%,0px);
    -moz-transform: translate3d(0px,-100%,0px);
    -webkit-transform: translate3d(0px,-100%,0px);
    
    transition: transform .5s;
    -o-transition: -o-transform .5s;
    -ms-transition: -ms-transform .5s;
    -moz-transition: -moz-transform .5s;
    -webkit-transition: -webkit-transform .5s;
}
nav .submenu ul li {border-top: 1px solid rgba(0,0,0,.1);}
nav .submenu ul li a {display: block; line-height: 46px; padding: 0 20px;}

nav .logo {float: right; margin: 12px 12px 0 0;}
nav .logo img {width: 54px; height: 50px; display: block;}

header {position: relative; z-index: 99;}

.open-menu .topmenu ul li .hamburger {background-color: rgba(95,95,95,.95);}
.open-menu .topmenu ul li .hamburger span {border-color: transparent;}
.open-menu .submenu {height: auto;}
.open-menu .submenu ul {
    transform: translate3d(0px,0px,0px);
    -o-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -webkit-transform: translate3d(0px,0px,0px);
}
.open-menu #overlay {opacity: .7; left: 0;}
.open-menu video {visibility: hidden !important;}

#content > h1 {color: #fff; font-size: 24px; line-height: 26px; text-align: center; color: #fff; text-transform: uppercase; margin: 0; padding: 20px 12px;}
#content > h2 {color: #fff; font-size: 20px; line-height: 22px; text-align: center; color: #fff; text-transform: uppercase; margin: 0; padding: 20px 12px;}
#content > h1 + h2 {margin-top: -36px;}

.text {background: #fff; padding: 14px; color: #000;}

.text h2 {font-size: 16px; text-transform: uppercase; margin: 0; padding-bottom: 16px;}
.text h3 {font-size: 14px; text-transform: uppercase; margin: 0; padding-bottom: 16px;}
.text p {font-size: 12px; line-height: 16px; margin: 0; padding-bottom: 16px;}
.text p a, .text ul li a {color: #b8b600; word-break: break-word;}
.text ul {padding-bottom: 16px; line-height: 16px;}
.text ul li {font-size: 12px;}

.text dl {color: #1c1c1c; font-size: 11px; margin: 0;}
.text dl dt {font-weight: bold; text-transform: uppercase;}
.text dl dd {margin: 0;}
.text dl dd + dt {padding-top: 4px;}

.text blockquote {margin: 0 -14px 16px !important; padding: 14px 14px 0; background-color: #dbdbdb;}
.text blockquote img {max-width: 100%; height: auto; margin-bottom: 16px;}
.text blockquote p {font-style: italic;}

.text > *:last-child {padding-bottom: 0;}

.text > article img {max-width: 100%; padding-bottom: 16px;}

.text.in-news img.pull-left,
.text.in-news img.pull-right,
.text.in-news img {float: none !important; display: block; margin: 0 auto; max-width: 100%; height: auto;}
.text.in-news > img {margin-bottom: 16px !important;}
.text.in-news p.pull-left,
.text.in-news p.pull-right {float: none;}

.text + .text {border-top: 1px solid #dbdbdb;}
.text.inactive + .text {border-top: none;}
.text.gray {background: #f6f6f6;}
.text.black {background: #000; color: #fff; border-top: none;}

.full-size {position: relative;}
.full-size img {width: 100%;}
.full-size .info {position: absolute; bottom: 0; left: 0; font-size: 11px; color: #000; background-color: rgba(255,255,255,.52); line-height: 22px; padding: 0 6px 0 14px;
    transform: translate3d(-100%,0px,0px);
    -o-transform: translate3d(-100%,0px,0px);
    -ms-transform: translate3d(-100%,0px,0px);
    -moz-transform: translate3d(-100%,0px,0px);
    -webkit-transform: translate3d(-100%,0px,0px);
    
    -webkit-backface-visibility: hidden;
}
.full-size .info.open {
    transform: translate3d(0px,0px,0px);
    -o-transform: translate3d(0px,0px,0px);
    -ms-transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -webkit-transform: translate3d(0px,0px,0px);
}
.full-size .info .icon {position: absolute; left: 100%; top: 0; background: rgba(255,255,255,.52) url('../img/info.png') no-repeat 50% 50%; background-size: 6px 10px; height: 22px; width: 22px;}

.video-cnt {background-color: #000;}
.video-cnt iframe, .video-cnt video {min-height: 180px; width: 100%; display: block;}

.video-cnt > a {display: block; position: relative;}
.video-cnt > a img {max-width: 100%;}
.video-cnt .icon {position: absolute; width: 65px; height: 65px; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background: no-repeat 50% 50%; background-size: 64px 64px;}
.video-cnt .play .icon {background-image: url('../img/icon-play.png');}

ul.pointers li, ul.pointers-line li, .text > article ul li {background: url('../img/list-pointer.png') no-repeat 1px 4px; background-size: 5px 9px; padding-left: 14px;}
ul.pointers li + li, ul.pointers-line li + li, .text > article ul li + li {margin-top: 16px;}
ul.pointers.line {border-left: 1px solid #000; padding-left: 10px; margin-left: 10px;}
ul.pointers-line {border-left: 1px solid #000; padding-left: 10px; margin-left: 10px;}

time {float: left; width: 55px; text-align: center; color: #202020; padding-bottom: 6px; position: relative;}
time span {display: block;}
time .day {font-size: 30px; font-weight: bold;}
time .month {font-size: 10px; line-height: 10px;}
time .year {font-size: 10px; line-height: 10px;}
time .weekday {font-size: 10px; line-height: 12px; text-transform: uppercase;}
time + time:before {content: " "; position: absolute; left: -4px; top: 22px; height: 3px; width: 8px; background: #202020;}

.event + .event {border-top: 1px solid #eaeaea;}
.event .thumb img {width: 100%;}

.event .date {width: 80px !important;}
.event .date.range {width: 130px !important;}

.event .header {display: table; vertical-align: middle; padding: 12px 0; margin-top: -12px; position: relative;}
.event .header > * {display: table-cell; vertical-align: middle; height: 100%;}

.event .premiere {display: block; width: 58px; position: absolute; top: 100%; left: -2px; background: #000; border-radius: 2px; font-size: 9px; color: #fff; text-align: center; text-transform: uppercase; font-weight: bold; line-height: 14px;}

.event .title * {line-height: 1;}
.event .title h3 {margin: 0; font-size: 14px; text-transform: uppercase;}
.event .title h4 {margin: 0; font-size: 11px; text-transform: uppercase;}
.event .title p {margin: 0; font-size: 11px; padding: 0;}

.event .btns {padding-left: 80px;}

.show-more {overflow: hidden; position: relative; padding-bottom: 50px;}
.show-more.ready {
    /*transition: height .5s;
    -o-transition: height .5s;
    -ms-transition: height .5s;
    -moz-transition: height .5s;
    -webkit-transition: height .5s;*/
}
.see-more {height: 49px; color: #000; background-color: #fff; text-align: center; border-top: 1px solid #dbdbdb; position: absolute; bottom: 0; left: 0; width: 100%; display: block;}
.see-more span {display: inline-block; line-height: 49px; font-size: 11px; font-weight: bold; text-transform: uppercase; padding-right: 50px; background: url('../img/show-more.png') no-repeat 100% 50%; background-size: 8px 5px;}
.see-more.open span {background-image: url('../img/show-less.png');}
.see-more.static {position: static;}

.news li {position: relative;}
.news .date {width: 80px; position: absolute; top: 14px; left: 14px;}
.news .news-content {padding-left: 80px;}

.news + .pagination {background: #fff; padding: 14px; border-top: 1px solid #dbdbdb; height: 30px; position: relative; text-align: center;}
.news + .pagination > a {position: absolute; top: 14px; right: 14px; width: 80px; text-align: center;}
.news + .pagination > a:first-child {left: 14px;}
.news + .pagination ul {display: inline-block; color: #000;}
.news + .pagination ul li {line-height: 30px; float: left; width: 20px; height: 30px;}
.news + .pagination ul .selected {font-weight: bold;}
.news + .pagination ul li a {display: block; width: 20px; height: 30px; color: #000;}

.accordion .toggle {display: block; padding: 18px 14px; font-size: 12px; text-transform: uppercase; color: #000; background: #dbdbdb url('../img/accordion-down.png') no-repeat 95% 50%; background-size: 16px 8px; font-weight: bold;}
.accordion .toggle.open {background-image: url('../img/accordion-up.png');}
.accordion li:nth-child(even) .toggle {background-color: #fff; padding: 17px 14px; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
.accordion .acc-content {height: 0; overflow: hidden;}
.accordion .open + .acc-content {height: auto;}

.switch {background-color: rgba(255,255,255,.28); padding: 8px 0;}
.switch li {position: relative;}
.switch li + li {margin-top: 6px;}
.switch li span {display: block; text-align: center; font-size: 12px; line-height: 24px; font-weight: bold; text-transform: uppercase;}
.switch li a {position: absolute; top: -2px; width: 30px; height: 30px;}
.switch li a.prev {left: 34px;}
.switch li a.next {right: 34px;}
.switch li a img {width: 8px; height: 16px; margin: 8px 0 0 11px;}

.related-links {background: #fff;}
.related-links li {background: url('../img/related-link.png') no-repeat 95% 50%; background-size: 8px 16px;}
.related-links li + li {border-top: 1px solid #eaeaea;}
.related-links li a {color: #000; display: block; padding: 12px 36px 12px 12px;}
.related-links li h3 {font-size: 14px; text-transform: upprcase; margin: 0; text-transform: uppercase;}
.related-links li p {font-size: 11px; margin: 0;}

.swiper-wrapper {background: #fff;}
.swiper-wrapper .icon {position: absolute; width: 65px; height: 65px; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background: no-repeat 50% 50%; background-size: 64px 64px;}
.swiper-wrapper .play .icon {background-image: url('../img/icon-play.png');}
.swiper-slide img {width: 100%;}
.swiper-controls {position: absolute; top: 0; left: 0; width: 100%; height: 0;}
.swiper-controls .arrows li {position: absolute; top: 0; z-index: 9999; margin-top: -70px;}
.swiper-controls .arrows li a {display: block; width: 50px; height: 150px; background-image: url('../img/transparent.png');}
.swiper-controls .arrows li a img {width: 13px; height: 26px; margin-top: 62px;}
.swiper-controls .prev {left: 10px;}
.swiper-controls .next {right: 10px; text-align: right;}
.swiper-controls .pagination {position: absolute; right: 0; font-size: 12px; color: #202020; font-weight: bold; text-align: center; width: 40px; line-height: 40px; background-color: rgba(255,255,255,.55); margin-top: -40px;}

.select {background-color: rgba(110,110,110,.28); padding: 12px; border-top: 1px solid rgba(255,255,255,.11);}
.select label {font-size: 12px; font-weight: bold; text-transform: uppercase;}
.select .custom-select {float: right; position: relative;}
.select .custom-select select {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;}
.select .custom-select .selected {font-size: 12px; font-weight: bold; text-transform: uppercase; padding-right: 26px; background: url('../img/custom-select.png') no-repeat 100% 50%; background-size: 8px 5px;}
.select.white {background-color: #fff; border-top: none;}
.select.white .custom-select .selected {color: #000; background-image: url('../img/show-more.png');}
.select.cast {padding-bottom: 0;}

.prices li {text-align: center; line-height: 32px; font-size: 14px; font-weight: bold;}
.prices li + li {margin-top: 6px;}
.prices li.green {color: #fff; background-color: #3f7925;}
.prices li.blue {color: #fff; background-color: #5175bb;}
.prices li.yellow {color: #fff; background-color: #ede20b;}
.prices li.orange {color: #fff; background-color: #fba618;}
.prices li.pink {color: #fff; background-color: #f7c0d8;}
.prices li.red {color: #fff; background-color: #f47551;}
.prices li.gray {color: #000; background-color: #f0f0f0; line-height: 30px; border: 1px solid #eaeaea;}
.prices li.white {color: #000; background-color: #fff; line-height: 30px; border: 1px solid #eaeaea;}

#event-time {color: #000; background: #fff; text-transform: uppercase; margin-bottom: 14px;}
#event-time .total-time {margin: 0; font-size: 10px; padding: 12px 0 10px; text-align: center;}
.time-slider {display: table; table-layout: fixed; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; width: 100%;}
.time-slider li {display: table-cell; text-align: center; padding: 12px 0 10px; width: 100%; background: url('../img/clock.png') no-repeat 50% 30px; background-size: 10px 10px;}
.time-slider li:nth-child(even) {background-color: #eaeaea;}
.time-slider li p {font-size: 11px; margin: 0;}
.time-slider li p.time {font-size: 10px; padding-top: 20px;}

.closest li {background: #fff; padding: 12px;}
.closest li + li {border-top: 1px solid #eaeaea;}
.closest p {float: left; line-height: 50px; border-left: 1px solid #eaeaea; color: #202020; font-size: 20px; margin: 0; font-weight: bold; margin: 7px 0 0 20px; padding-left: 40px;}
.closest .hour {
    transform: scaleX(0.9);
    -o-transform: scaleX(0.9);
    -ms-transform: scaleX(0.9);
    -moz-transform: scaleX(0.9);
    -webkit-transform: scaleX(0.9);
}
.closest .btn {float: right; margin-top: 18px;}

#map {height: 220px; background-color: #eaeaea;}

footer p, footer address {font-size: 11px;}
footer p a {font-weight: bold;}
footer address {font-style: normal; padding-bottom: 12px;}
footer .text ul {padding-bottom: 0;}
footer .buttons {padding-bottom: 12px;}
footer .black .buttons {padding: 12px; border-bottom: 1px solid #363636;}
footer .buttons ul {float: left;}
footer .buttons ul li {float: left; margin-right: 16px;}
footer .buttons ul li img {width: 25px; height: 25px;}
footer .buttons .btn {float: right;}
footer .buttons .btn:first-child {float: left;}
footer .links {padding-top: 8px;}
footer .links ul li {float: left; width: 50%;}
footer .links ul li a {color: #fff; font-size: 11px; line-height: 24px;}
footer .eu {max-width: 100%; display: block; margin: 0 auto;}
footer .copyrights {color: #a4a4a4; padding: 12px 0; text-align: center;}
footer .goto-desktop {float: right;}

@media screen and (orientation:landscape) {
    footer .goto-desktop {float: left;}
    footer .links ul li {width: 33.33%;}
    footer .buttons .btn {float: left;}
    footer .direct-contact br {display: none;}
}
