.nav-bar > nav > ul > li:first-child a {
  width: 37px;
  height: 37px;
  background-position: -182px -50px;
  background-image: url(../images-opera/sprite-default-2.png) !important;
  background-repeat: no-repeat;
}

.nav-bar > form input[type="submit"] {
  width: 37px;
  height: 37px;
  background-position: -250px -47px;
}

.nav-bar > form input[type="submit"] {
  width: 37px;
  height: 37px;
  background-position: -250px -47px;
  background-image: url(../images-opera/sprite-default-2.png) !important;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: transparent;
  text-indent: -200px;
}

.nav-bar > nav > ul > li > a {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar > form {
    width: 259px;
    height: 37px;
    margin-right: -230px;
  }
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar > form input[type="submit"] {
    width: 37px;
    height: 37px;
    background-position: -250px -47px;
  }

  .nav-bar > form input[type="submit"] {
    width: 37px;
    height: 37px;
    background-position: -250px -47px;
    background-image: url(../images-opera/sprite-default-2.png) !important;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    text-indent: -200px;
  }

  .nav-bar > form fieldset {
    position: absolute;
    top: 0;
    overflow: hidden;
    -webkit-transition: width 0.3s cubic-bezier(0.56, 0.33, 0.41, 0.92);
    transition: width 0.3s cubic-bezier(0.56, 0.33, 0.41, 0.92);
    text-align: left;
  }
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar > form fieldset {
    width: 36px;
    height: 37px;
  }

  .search-form {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar .search-form {
    height: 37px;
  }

  .nav-bar > nav > ul > li {
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar > nav {
    max-width: 737px;
  }

  .nav-bar {
    clear: both;
    margin: 0 auto;
    text-align: left;
  }
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar > nav > ul li#menu-3 {
    margin-right: 150px;
  }
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar > nav > ul > li > a {
    margin: 0 18px;
    padding: 4px 13px;
  }
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar > nav > ul > li > a,
  .month-list li,
  .accordion li a.toggle {
    font-size: 16px;
    line-height: 1;
  }
}

@media screen and (max-height: 1070px) and (min-height: 811px) and (orientation: landscape) {
  .nav-bar > nav > ul > li > a {
    line-height: 1.4;
  }
}
