.see.more,
.see.less,
.scroll-top,
.bottom-links li a.print:before,
.bottom-links li a.share:before,
body > header > ul:first-child > li.wcag > a,
body > header > ul:first-child > li.wcag:hover > a,
body > header > ul > li ul li a.contrast,
.nav-bar > nav > ul > li:first-child a,
.nav-bar > form input[type="submit"],
.info.arrow-top .apla .container:before,
.info .info-open,
.info .info-close,
#slider .slider-nav,
#sliderInfo .slider-nav,
.subsection .slide .slide-nav,
.month-list li.selected.first .drag-left,
.month-list li.selected.last .drag-right,
.sound .thumb:before,
.movie .thumb:before,
.photo .thumb:before,
.yt .thumb:before,
aside .categories li.selected a:before,
body > section article section .change-view .view-list-type,
body > section .tabs li a:before,
.slider .flex-direction-nav .flex-prev,
.slider .flex-direction-nav .flex-next,
.slider .time-slider li p.time:before,
.slider .yt-slider li a:before,
.slider .video-slider li a:before,
.accordion li a.toggle:after,
.social-media li a,
.selectLabel em,
.popup .close,
#layer #close-layer,
.vjs-default-skin .vjs-big-play-button,
.vjs-default-skin .vjs-control:before,
.vjs-default-skin .vjs-fullscreen-control:before,
#layer-content .toggle,
.info-img .info-img-open,
.info-img .info-img-close,
#slider .slider-nav span,
.details-close,
.media-icon.photo-layer,
.media-icon.movie-layer,
.media-icon.sound-layer,
.media-icon.yt-layer,
.media-icon.transmission-layer {
  background-image: url("/assets/images/sprite-default-1.png") !important;
  background-repeat: no-repeat;
}

.custom-checkbox {
  background: url("../img/layout/checkbox-sm.png") no-repeat 0 0;
}

.custom-radio {
  background: url("../img/layout/radio-sm.png") no-repeat 0 0;
}

/* body > section .container article:before {
    background: url('../img/layout/green-line-header-sm.png') no-repeat 100% 0;
} */
body > header {
  background: url("../img/layout/hr-menu-sm.png") no-repeat 50% 100%;
}
